[2019-02-20 21:26] binarykitchen commented on #625
@settermjd thanks ... yeah please, document soon if you can cos I'm already waiting :) Or can you at least give quick answers here for now?

[2019-02-21 09:54] thommierother opened #631 "theme-bootstrap.sh: no usable app path"
Scripts from https://doc.owncloud.org/server/10.1/developer_manual/core/theming.html?to=developer-theming

Created theme-bootstrap.sh and read-config.php from page
Executed with "theme-bootstrap.sh oc-theme-nw /var/www/owncloud2"
Result:

[code]

Environment: ubuntu 18.04 lts, php 7.2.15-0ubuntu0.18.04.1, OC 10.1.0.4, /var/www/owncloud2/apps is writeable. Tried execution with both root and sudo -u

[2019-02-21 10:02] settermjd opened #632 "Change the default version of the documentation to come from 10.1"
The default version of the documentation that’s loaded needs to come from the branch that’s tracking the latest release of ownCloud, which is currently `10.1`, not from `master`. As the default version of the documentation that users, currently see is master, which is a floating version, not tied to a specific ownCloud version. This is likely to cause confusion and to be misleading.

## What Needs

[2019-02-21 10:07] mmattel commented on #632
For the record, this would fix: https://github.com/owncloud/docs/pull/630#issuecomment-465555128
@phil-davis fyi

[2019-02-21 10:09] tboerger commented on #632
Have fun to get that properly done within Antora :)

[2019-02-21 10:18] phil-davis commented on #632
This would be nice to have, and @settermjd likes to have fun ;)

[2019-02-21 14:11] mmattel commented on #631
@thommierother can you run the script `read-config.php` and post the result?
I just tested the script on two different servers with different setups and it returned the correct paths.
FYI,
Server 1 returned: `/var/www/owncloud/core/apps` (dev machine, 18.04)
Server 2 returned: `/var/www/owncloud/apps-external` (production, 16.04)

[2019-02-21 16:09] thommierother commented on #631
@mmattel: argh, stupid error, read-config had encoding problems, now its fine.

[2019-02-21 16:09] #631 closed

[2019-02-22 08:46] PVince81 commented on #625
@binarykitchen please note that this is not a support channel and there are currently other priorities.

if you need timely support, please see https://owncloud.org/help/

[2019-02-22 09:13] settermjd commented on #554
@tboerger, anything I can do to help here?

[2019-02-22 16:33] hurradieweltgehtunter opened #637 "Broken links"
When visiting https://doc.owncloud.org/server some links are broken since it's missing the "server/" in the link address: https://doc.owncloud.org/admin_manual/index.html -> 404

Occured on Admin, dev and user manual for 10.1.0 as well as the link in "If you find errors or omissions in any of the manuals, we welcome your bug reports and contributions in fixing them. Please refer to **the contribut

[2019-02-22 17:13] tomneedham opened #638 "Example for shibboleth and credentials login"
## What Needs to be Documented?
Place the example vhost config there

[code]

And the configure the alternative logins option with a button to point to `/login-shib` which will trigger the shibboleth session, and redirect back to login which will pickup the existing session and continue with authentication. Can be used with multi factor as well.

## Where Does This Need To Be Documented?
https://d

[2019-02-24 09:55] alfredbuehler opened #639 "Application Metadata, field description is documented twice"
In the Developer Manual, at Application Metadata, the field
description exists twice. Further on, the contents of the two instances differ.

## What Needs to be Documented?

Summarize the two instances to one, or decide which one is correct, remove the other.

## Where Does This Need To Be Documented?

## Why Should This Change Be Made? (Optional)

Because it's wrong and misleading.

## What Type

[2019-02-24 17:22] alfredbuehler commented on #639
UPD: I just saw another duplicate : category.

[2019-02-25 11:53] settermjd commented on #586
Where do I find the hsmdaemon?

[2019-02-25 13:05] settermjd commented on #622
I've been researching this, but the functionality's incomplete. If I attempt to click the "_impersonate_" icon for a user, but it, unfortunately, doesn't work. I'm using [release 0.5.0RC1](https://github.com/owncloud/impersonate/releases/tag/v0.5.0RC1).

![bildschirmfoto 2019-02-25 um 14 01 32](https://user-images.githubusercontent.com/196801/53339272-2a133680-3906-11e9-9651-01147dd8abc9.png)

[2019-02-25 15:56] voroyam commented on #606
Please merge this in 10.0 and 10.1 branch

[2019-02-25 15:56] voroyam commented on #606
@settermjd

[2019-02-25 16:18] tboerger commented on #637
Solved...

[2019-02-25 16:18] #637 closed

[2019-02-25 20:08] patrickjahns opened #641 "Recommend to hold updates to owncloud-files repository package"
## What Needs to be Documented?
Recommend users/customers who are installing owncloud via repositories, to mark the `owncloud-files` package for hold

Example for ubuntu `apt-mark hold owncloud-files`
For other supported platforms this should also be mentioned

## Where Does This Need To Be Documented?
Section on installation with packages

## Why Should This Change Be Made? (Optional)
It happened

[2019-02-26 05:23] individual-it commented on #586
https://gitea.int.owncloud.com/consulting/hsmdaemon

[2019-02-26 07:47] phil-davis commented on #284
PR https://github.com/owncloud/core/pull/31719 was merged to core master 6 Aug 2018.
This issue can be documented and then wait until it is known when/what release it will go in.

[2019-02-26 08:01] phil-davis commented on #284
PR #642 has the needed changes.

[2019-02-26 08:09] phil-davis opened #643 "files:scan --all help text is not correct"
## What Needs to be Documented?
The help output of `files:scan --all` is currently documented as:

[code]

It seems to have been copy-pasted from a command to show mounts.

## What Type Of Content Change Is This? (Optional)
- [ ] New Content Addition
- [ ] Old Content Deprecation
- [ ] Existing Content Simplification
- [x] Bug Fix to Existing Content

## Which Manual Does This Relate To? (Optional

[2019-02-26 08:11] phil-davis commented on #643
PR #644

[2019-02-26 08:22] phil-davis commented on #253
@settermjd this code was ported over into the new docs repo.
https://github.com/owncloud/docs/blob/master/modules/developer_manual/pages/examples/storage-backend/OCA/MyStorageApp/Storage/MyStorage.php

The undefined variables are still in the code.

[2019-02-26 08:28] phil-davis commented on #643
PR merged and backported.

[2019-02-26 08:28] #643 closed

[2019-02-26 10:05] voroyam opened #649 "Links to the sections are not working."
https://doc.owncloud.com/server/admin_manual/release_notes.html#changes-in-10.0.1

Links to the sections are not working.

## What Type Of Content Change Is This? (Optional)
- [ ] New Content Addition
- [ ] Old Content Deprecation
- [ ] Existing Content Simplification
- [x] Bug Fix to Existing Content

## Which Manual Does This Relate To? (Optional)
- [x] Admin Manual
- [ ] Developer Manual
- [ ]

[2019-02-26 10:23] phil-davis commented on #284
PR merged to master. It will get released in the "normal" workflow whenever the corresponding core master code is released.

[2019-02-26 10:23] #284 closed

[2019-02-27 08:01] settermjd opened #654 "[WIP] Add SEO information to each page"
## What Needs to be Documented?

To ensure that the documentation appears in search results as much as possible, it is strongly encouraged that all pages — especially new pages — make use of [the keywords and description built-in AsciiDoc attributes](https://asciidoctor.org/docs/user-manual/#builtin-attributes).

## Where Does This Need To Be Documented?

This is both a new content addition to exi

[2019-02-27 08:36] settermjd commented on #641
### Links

- https://manpages.debian.org/stretch/apt/apt-mark.8.en.html#PREVENT_CHANGES_FOR_A_PACKAGE

[2019-02-27 09:52] haukman opened #658 "Restructure admin manual - concept"
## What Needs to be Documented?

The background of this ticket is to improve the structure/content of the ownCloud admin manual.
## Where Does This Need To Be Documented?

https://doc.owncloud.com/server/administration_manual/

## Why Should This Change Be Made? (Optional)

The admin manual should have a better guidance which options ownCloud admins have to install it. In addition to that, it shou

[2019-02-28 11:06] lefherz opened #659 "Broken /server/latest/ redirects"
Hi, I'm aware of #231, and looked if it is already included there. Apparently it isn't, but it's also not documented there at all, so I open a new issue.

## Expected behavior

https://doc.owncloud.org/server/latest/admin_manual/installation/docker/

redirects to

https://doc.owncloud.org/server/10.1/admin_manual/installation/docker/

## Actual behavior

https://doc.owncloud.org/server/latest/admi

[2019-02-28 11:09] tboerger commented on #659
Please check the behavior before raising issues, as mentioned on the chat this had been resolved yesterday.

[2019-02-28 11:09] #659 closed

[2019-02-28 14:38] phil-davis opened #660 "Rename make test-php to test-php-unit"
core https://github.com/owncloud/core/pull/34638 changes `make test-php` to `make test-php-unit`
This standardizes the `make` command for running the PHP unit tests in core to be the same as in the apps.

Update the documentation.

The change is only merged to core `stable10` today. So it only applies when using current core git, not when using a `10.0` or `10.1` system.

[2019-02-28 14:51] #660 closed

[2019-03-01 10:20] #649 closed

[2019-03-01 12:55] #641 closed

[2019-03-02 19:04] karakayasemi opened #674 "Document twofactor_totp key validation OCS API"
## What Needs to be Documented?
https://github.com/owncloud/twofactor_totp/pull/38

## Where Does This Need To Be Documented?
- I guess, under Available API's section in developer manual

## What Type Of Content Change Is This? (Optional)
- [x] New Content Addition
- [ ] Old Content Deprecation
- [ ] Existing Content Simplification
- [ ] Bug Fix to Existing Content

## Which Manual Does This Relat

[2019-03-04 09:30] micbar commented on #288
![screenshot_2019-03-04 settings - owncloud enterprise edition 1](https://user-images.githubusercontent.com/4378513/53723639-757a9700-3e68-11e9-8c0d-9016acedcd20.png)

Does that help?
We need to document this.

[2019-03-04 10:02] settermjd opened #680 "Make corrections based on feedback from Dusan Cirkovic"
@jnweiger passed on an annotated version of the user manual PDF from Dusan Cirkovic. Based on this, I see that there are a number of areas where it can be improved, so am creating this issue to ensure that the applicable changes are made.

[ownCloud_User_Manual_überarbeitet von Cirkovic Dusan-2.pdf](https://github.com/owncloud/docs/files/2925806/ownCloud_User_Manual_uberarbeitet.von.Cirkovic.Dusa

[2019-03-04 14:25] mmattel opened #682 "We need a description how to backport in readme.md"
## What Needs to be Documented?
Description how to backport

## Where Does This Need To Be Documented?

README.md

## Why Should This Change Be Made? (Optional)

Support writers in how to backport a master PR to a particular doc branch

## What Type Of Content Change Is This? (Optional)
- [x] New Content Addition
- [ ] Old Content Deprecation
- [ ] Existing Content Simplification
- [ ] Bug Fix to

[2019-03-04 16:02] mmattel opened #684 "No local site generation possible (like a yarn antora-local command)"
## What Needs to be Documented?
Refrencing https://github.com/owncloud/docs/blob/master/docs/build-the-docs.md#using-antora-from-the-command-line you see, it is described that running `yarn antora` generates a **local** version of the documentation. In reality it is creating the version from the **git** repository.
We had in the past a make command which differenciated between git and local, see i

[2019-03-04 19:41] tboerger commented on #684
You don't need any local config because the site config uses the current repo. Just append your local url to yarn antora as documented.

[2019-03-04 19:41] tboerger commented on #682
Wasn't that already part of the docs folder?

[2019-03-04 20:14] michaelstingl commented on #603
@lazawan any updates?

[2019-03-04 20:33] mmattel commented on #684
ok, let me tell you the problem in another way.
Any local changes made can not be build to a reviewable site as the current way takes always the source from github.

[2019-03-04 20:38] mmattel commented on #682
https://github.com/owncloud/docs/blob/master/docs/the-branching-workflow.md#how-it-works
only tells that backporting is needed but does not say how it is done.

[2019-03-05 09:01] settermjd commented on #684
@tboerger, @mmattel is correct. The local playbook, `site.local.yml`, needs to be returned, as `site.yml` doesn't activate [Author Mode](https://docs.antora.org/antora/2.0/playbook/author-mode/); it only draws content to compile from the remote repositories.

[2019-03-05 09:23] #658 closed

[2019-03-05 10:37] tboerger commented on #684
I was told that https://github.com/owncloud/docs/blob/master/site.yml#L7 is enough. If it requires branch: HEAD just add it there, there is absolutely no need for another site config.

[2019-03-05 10:41] settermjd commented on #684
Is it? That line seemed like a mistake, and it's not covered in the documentation.

[2019-03-05 10:44] tboerger commented on #684
It's not a mistake

[2019-03-05 10:48] settermjd commented on #684
As I said, because there's nothing in the documentation, it seems so.

[2019-03-05 11:13] mmattel commented on #684
@tboerger I do not open an issue if things are working. I open an issue if things do not work which is the case here. So please be open to someone elses finding even if you have other experiences.
I can tell you, that I have the total opposite experience as you have - so let´s identify the cause and fix the issue, thanks.

[2019-03-05 11:14] tboerger commented on #684
I have shown exactly above that it works like expected, that's why I have closed the issue. I will unsubscribe from this repo and you can take care on your own.

[2019-03-05 11:16] mmattel commented on #684
Just because we have different experiences?
Your findings and support is always helpful !
It is about cooperation - this is what you teached me.

[2019-03-05 12:39] tboerger commented on #684
I have clearly shown that it works. You just said it doesn't work without proving anything. So why should I care about that anymore?

[2019-03-05 17:20] mmattel commented on #684
Ubuntu 18.04
[code]
[code]
[code]
Also opening the release_notes.html file and searching for "Will" does not return anything.

So we do have two different results for the same procedure.
This means we have to care.

[2019-03-05 22:12] tboerger commented on #684
Are you really running the latest defined antora version?

[2019-03-06 07:02] lazawan commented on #603
Yep , see please #618

[2019-03-06 08:41] mmattel commented on #684
I setup a fresh new Ubuntu 18.04 instance about 10 days ago including my dev environment.
Cloning docs and running make setup, everything looks quite normal and ok.

[2019-03-06 11:30] michaelstingl commented on #537
@dschmidt Could you take care?

[2019-03-06 11:33] michaelstingl commented on #385
Documentation is in the ownBrander itself

[2019-03-06 11:33] #385 closed

[2019-03-06 11:34] dschmidt commented on #537
@michaelstingl Yes, no problem. Maybe someone should let them know they should enable php on their webserver, I'm currently served php in plaintext…

[2019-03-06 11:36] michaelstingl commented on #374
I think this is super outdated. Please open a new issue in case there's still something to fix.

[2019-03-06 11:36] #374 closed

[2019-03-06 11:37] michaelstingl commented on #372
Documentation is in the ownBrander itself

[2019-03-06 11:37] #372 closed

[2019-03-06 11:37] dschmidt commented on #537
And yes the behavior is correct. The reasoning is: we want to leave some control to the updater server. The client only specifies its capabilites. It says "I'm version x.y.z and I support msi." The server is then free to either serve an .exe or .msi installer because both are still supported.

The win32msi platform is sort of an internal implementation/configuration detail but it's not part of the

[2019-03-06 11:40] michaelstingl commented on #349
@voroyam oC 9.0 is EOL for a long time? Update this issue or just close it?

[2019-03-06 11:41] michaelstingl commented on #338
FYI @MichaelvanLaar

[2019-03-06 11:43] michaelstingl commented on #318
@dschmidt another one for you?

[2019-03-06 11:44] #622 closed

[2019-03-06 11:45] michaelstingl commented on #304
Everything Antora now 👍

[2019-03-06 11:45] #304 closed

[2019-03-06 12:31] tboerger commented on #684
Of course it can, it's done like that by Drone and also by others, not only me. The site.yml is referencing `.` which is the current working directory and additionally with another step the fixes branches 10.0 and 10.1 within another step.

[2019-03-06 12:43] michaelstingl commented on #294
The text is there. @mmattel close now?

[2019-03-06 12:50] michaelstingl commented on #251
Web UI or any of the clients? (Android bug with "§" in passwords: https://github.com/owncloud/android/issues/2451)

[2019-03-06 12:56] michaelstingl commented on #231
@settermjd Where to configure redirects in Antora?

[2019-03-06 12:59] michaelstingl commented on #98
No Algolia, @tboerger is working on a solution.

[2019-03-06 14:10] voroyam opened #693 "How to "ownCloud log file download" missing"
We need to document ( with pictures ) how to get the ownCloud log file.

As for now we only have:

https://doc.owncloud.com/server/admin_manual/configuration/server/logging_configuration.html

For new customers  / users we need something to point to that shows how to get the log file.

## What Needs to be Documented?

## Where Does This Need To Be Documented?

## Why Should This Change Be Made? (O

[2019-03-06 15:08] tboerger commented on #338
This had been disabled since Antora 2.0.0, but I have started to reintroduce it as part of the search feature base on environment variables provided to the build process: https://github.com/owncloud/docs-ui/blob/96523904323ec202fe68dd6497f10d24e42a3901/src/partials/head-scripts.hbs

[2019-03-06 15:11] tboerger commented on #231
The redirects are handled by the deployment which is part of our internal Gitea repository. Most of the mentioned redirects aren't required anymore since we named the administration_manual back to admin_manual.

[2019-03-06 15:29] mmattel commented on #294
closing

[2019-03-06 15:29] #294 closed

[2019-03-06 15:39] #231 closed

[2019-03-06 18:27] michaelstingl opened #695 "Proposal: Optimise high level structure for target audience"
I was thinking about an approach to optimise the structure for the different target audiences. This is first draft:
(Examples in brackets)

---

### User Documentation

- Web UI/Client
- Desktop Sync Client (Installation, usage, easy troubleshooting)
- Android App
- iOS App

### Admin Documentation

- ownCloud Server Backend (Installation, Configuration, Maintenance)
- Web UI/Client (Branding)
- D

[2019-03-06 18:32] michaelstingl commented on #695
Related issues with requests to change the structure:
- https://github.com/owncloud/docs/issues/302 (mostly Server Admin Manual)
- https://github.com/owncloud/docs/issues/658 (mostly Install instructions in Server Admin Manual; closed for now – will be handled in follow-up issues)

Those change requests are on a higher level and can be done independent from my proposal.

[2019-03-06 18:44] MichaelvanLaar commented on #338
Thanks for the info. I have to get an overview of the web analytics implementation and configuration anyway. ;-)

[2019-03-08 10:43] settermjd commented on #606
@voroyam, done.

[2019-03-08 10:43] #606 closed

[2019-03-08 15:37] pmaier1 commented on #695
Nice, thanks! I like the structure, makes a lot more sense than the current one and should guide the respective audiences better :+1:

Would we then drop the versions (as we currently have 10.0, 9.1, 9.0, etc.) and only have one documentation for the current version?

[2019-03-08 17:30] felixboehm commented on #695
Basically, this is an overview page of all the different docs.
And versions are one more dimension on top...

By default, just show the current version, with „latest“ in the path.

[2019-03-09 08:38] michaelstingl commented on #695
Yes, for every product you can have multiple versions. Antora navigation can handle this. But you don't need to list all previous versions on the overview page. That would ruin it.

[2019-03-10 15:59] mmattel commented on #555
I just double checked the script referenced.
This script does not seem to work as intended as paths and  parameters do not match respectively you do not know them.

[2019-03-11 08:10] settermjd commented on #693
@voroyam, under https://doc.owncloud.com/server/admin_manual/configuration/server/logging_configuration.html#owncloud, is the following:

Is that not enough for admins to know where to download the file from? Or was that not what you meant?

[2019-03-11 09:25] settermjd commented on #684
I just created #720 to resolve this.

[2019-03-11 09:27] settermjd commented on #682
Fair enough. @mmattel, are you happy to add that content?

[2019-03-11 09:27] settermjd commented on #639
thanks @alfredbuehler.

[2019-03-11 10:45] mmattel commented on #682
Fixed in https://github.com/owncloud/docs/pull/699
Closing

[2019-03-11 10:45] #682 closed

[2019-03-11 15:58] #639 closed

[2019-03-12 09:03] settermjd commented on #695
I really like where this is going, @michaelstingl. Perhaps we should catch up and map it out further. Then, I can work with @PVince81 to get it into a future sprint, so that we can begin to implement it.

[2019-03-12 09:35] michaelstingl commented on #695
@settermjd I think we don’t need changes in the repo structure for the server backend. Or should we bring the server docs to the server repo?

For the client/apps repos, I think we only need subfolders? User, Admin, Developer?

Does this work for Antora?

[2019-03-13 20:28] michaelstingl commented on #632
@settermjd what is the status here? https://doc.owncloud.com/server/ says `Latest Stable Release (version 10.0.10)`. **10.1.0** has been released more than a month ago.

/cc @PVince81

[2019-03-14 10:15] phil-davis opened #742 "files:scan command will now support both --group and --groups options"
## What Needs to be Documented?
Sort out the `files:scan --group` and `files:scan --groups` options now that both options will be available.

Ref:
core PR https://github.com/owncloud/core/pull/31719 modified `files:scan --groups` to be `files:scan --group` - that change was not backward-compatible and so has not been released in `10.*` series.

core PR https://github.com/owncloud/core/pull/34753 n

[2019-03-14 11:26] mmattel commented on #742
Closing, doc PR merged to master

[2019-03-14 11:26] #742 closed

[2019-03-14 13:53] mmattel commented on #684
Closing, fixed by PR #720

[2019-03-14 13:53] #684 closed

[2019-03-14 21:26] mmattel opened #757 "Missing examples in developer docs"
## What Needs to be Documented?
`developer_manual/pages/examples/` contains example files which:
- should be moved to `developer_manual/examples/`
- are currently orphaned. Means present but "nowhere" used.
Example:
`developer_manual/pages/examples/curl/create-share.sh`
Should be included in file `developer_manual/pages/core/ocs-share-api.adoc` line 286
- The example above is important as there ar

[2019-03-15 01:23] phil-davis opened #758 "Invalid code in MyStorage.php"
## What Needs to be Documented?
The example code shows various warnings an errors in PHPstorm, like:

[code]
Undefined variable $params

[code]
Undefined variable $filename

[code]
Undefined variable $filename
Unused local variable $result

[code]
Method call uses 2 parameters, but method signature uses 1 parameter - file_put_contents

Either:
a) fix the code to be a better example
or
b) delete th

[2019-03-15 09:02] mmattel commented on #758
That will be a lot of fun, see issue: https://github.com/owncloud/docs/issues/757 (Missing examples in developer docs)
There are many code snipplets in different languages to be checked and added...

[2019-03-15 09:09] mmattel commented on #757
@phil-davis referencing also #758, this is a kind of hen-egg problem.

Should we try to first move/match the existing scripts to the page(es) so we see the content and afterwards fix script errors or the other way round? docs can´t do script validation...

I also propose to do things in multiple PR´s step by step because this is a bigger challenge...
If all script validations/corrections and inclu

[2019-03-15 09:31] phil-davis commented on #757
@mmattel IMO get whatever code examples can be found, and link them into the appropriate doc.
If there is nowhere to link an example, and it really looks like it is a drifting random bit of code, then delete the file.

When the code is all linked, then someone can review/correct detailed code itself.

[2019-03-16 12:14] mmattel opened #765 "Broken external (http) Links in documentation"
## What Needs to be Documented?
Running: `yarn antora --url http://localhost:5000`
Running: `yarn linkcheck http://localhost:5000 | grep "BROKEN"`
We get a noticable quantity of broken external links like:

http://mechanics.flite.com/blog/2014/07/29/using-innodb-large-prefix-to-avoid-error-1071/
https://support.microsoft.com/de-at/help/841215
https://www.doctrine-project.org/api/dbal/2.9/Doctrine/

[2019-03-17 08:09] mmattel opened #767 "Suggestion to use the backporting script"
This is just a note because of positive responses to use the backporting script located in:
https://doc.owncloud.com/server/developer_manual/general/backporting.html

For those who have a GUI I also can recommend to add the extra two line at the end of the page as it opens the browser and sets the target branch automatically.

This script
- checks that the commit you want to backport is already me

[2019-03-18 08:39] #757 closed

[2019-03-18 09:22] jvillafanez opened #768 "ACL support for WND"
## What Needs to be Documented?

https://github.com/owncloud/windows_network_drive/pull/234

## Where Does This Need To Be Documented?

## Why Should This Change Be Made? (Optional)

New content planned for the next WND release. It will require documentation because there are several things to notice about the implementation.

## What Type Of Content Change Is This? (Optional)
- [x] New Content Ad

[2019-03-18 10:01] mmattel commented on #287
@phil-davis @DeepDiver1975 @PVince81
Because of
https://github.com/owncloud/core/pull/34783 ([stable10] Adding background:queue commands: status and delete),
do I get this right that this will appear in 10.2, a doc PR needs to be filed and it must not be backported.

@settermjd

[2019-03-18 10:25] mmattel opened #770 "Standardize how example domains are written in docs"
## Describe, in detail, what changes are required.
Standardize how example domains are written.
For details please see:
https://github.com/owncloud/docs/pull/764 and https://github.com/owncloud/docs/pull/764/files

## Where Does This Need To Be Documented?
Review of the whole documentation set.

## Why Should This Change Be Made? (Optional)
If you run a broken link checker eg `yarn linkcheck` (see

[2019-03-18 13:13] jesmrec opened #771 "Android 2.10.0"
## What Needs to be Documented?

Version 2.10 Android app new features

## Where Does This Need To Be Documented?

official documentation of the platform

## Why Should This Change Be Made? (Optional)

keep docu upgraded

## What Type Of Content Change Is This? (Optional)
- [X] New Content Addition
- [ ] Old Content Deprecation
- [ ] Existing Content Simplification
- [ ] Bug Fix to Existing Conten

[2019-03-18 13:14] jesmrec commented on #771
I will write here the changes and detail the content

[2019-03-18 13:15] tboerger commented on #771
But the android docs are part of the Android repository?

[2019-03-18 13:17] jesmrec commented on #771
i talked with @PVince81 to post here the new features' documentation. For me it is not a problem to write here or in a different place, wherever you feel more comfortable. But let me know your preferences.

[2019-03-18 13:52] settermjd commented on #770
I ran the following bash one-liner over the docs and found the following list of used domain names.

[code]

[code]

I'm happy to standardise around `example.com` (or some variation on that), as it's non-routable and commonly used.

[2019-03-18 14:18] phil-davis commented on #770
`example.com` is good.
If needed can use the other `example.org` ... https://en.wikipedia.org/wiki/Example.com https://www.iana.org/domains/reserved if there are doc places that want to illustrate using a list of domain names.

[2019-03-18 14:46] mmattel commented on #770
sounds reasonable, thanks.
pls also check for variants of
subdomain.domain.com
domain.com/subdomain
not textual but from the context, if possible...

[2019-03-18 14:48] mmattel commented on #770
and, forgot to add, what about the client docs, shouldnt they be included?

[2019-03-18 14:57] settermjd commented on #632
@michaelstingl, allowing for a sinus infection (Nebenhöhlenentzündung) it's just about finished.

[2019-03-19 08:43] jesmrec commented on #771
I will detail the features to include in the documentation. Fixes and other support issues in the changelog are not stuff to handle in manuals/docs. I have selected the following two to be included in the user manual https://doc.owncloud.com/android/. If you miss something, any question, anything needed, please ping us to fix.

### 1. Allow light filtering apps

#### Description:

By enabling the

[2019-03-19 08:45] jesmrec commented on #771
i have assigned @settermjd by default, but feel free to change the asignee if someone else wants/can take care.

Thanks.

[2019-03-19 08:48] PVince81 commented on #771
@settermjd please have a quick look to see if this is enough information. I'll schedule this in the next sprint if workload permits.

[2019-03-19 08:56] PVince81 commented on #771
@settermjd if this is too much for a sprint feel free to itemize (checkboxes) or raise individual parts as separate ticket for further planning

[2019-03-19 09:14] settermjd commented on #770
Here's the list of files that I've found contain the non-standard domains:

### Manual

#### Core Manuals

./modules/ROOT/pages/how_to_contribute.adoc
./modules/ROOT/pages/index.adoc
./modules/admin_manual/examples/configuration/ldap/Multi-AD.slapd.conf
./modules/admin_manual/examples/configuration/ldap/single.slapd.conf
./modules/admin_manual/examples/installation/apps-management-installation.php

[2019-03-19 09:42] settermjd opened #773 "Update How PDF Manuals Are Linked"
In the following screenshot you can see that the PDF version of the developer and user manuals is linked using the traditional text "_Download PDF_", but the PDF version of the admin manual is linked using a PDF icon (from _Font Awesome_).

My question is, what is the better way to present a PDF link, one that is the simplest and most intuitive for the user? This isn't just a change for change's s

[2019-03-19 10:02] voroyam opened #774 "customization to the theming script."
The Theming script [script](https://doc.owncloud.com/server/developer_manual/core/theming.html) is way to big in it's current form.

New users fail to understand it, if something goes wrong, it's impossible to find the error.

Personally I would prefer a much shorter one, a few lines of code.
Like:
* get the theme example app
* extract it
* rename it
* move to apps folder
* adjust the permissions

[2019-03-19 10:13] settermjd opened #775 "Redirect .com version of v9.1 of the developer docs to .org"
I just noticed that all the links in [version 9.1 of the .com version of the developer manual](https://doc.owncloud.com/server/9.1/developer_manual/) 404. However, the .org version works just fine. Please redirect the .com version of v9.1 of the developer docs to .org.

## What Needs to be Documented?

## Where Does This Need To Be Documented?

## Why Should This Change Be Made? (Optional)

## Wha

[2019-03-19 10:19] settermjd opened #776 "Blank Section in Help & Communication Section of Version 9.0 of the Developer Docs"
There is a blank Section in the [Help & Communication Section](https://doc.owncloud.com/server/9.0/developer_manual/commun/) of version 9.0 of the Developer Manual that needs to be either filled in or removed.

![Bildschirmfoto 2019-03-19 um 11 16 51](https://user-images.githubusercontent.com/196801/54598450-d396a500-4a38-11e9-9e32-108936cb8b64.png)

## What Needs to be Documented?

## Where Does

[2019-03-19 10:27] PVince81 commented on #775
@tboerger FYI.

[2019-03-19 13:22] lazawan commented on #618
@settermjd i think ,there is another problem  on https://doc.owncloud.org/desktop/troubleshooting.html
sorry i noticed that just now

![Screenshot from 2019-03-19 14-08-42](https://user-images.githubusercontent.com/44814084/54608549-3b58ea00-4a51-11e9-9583-8aaf09b62e85.png)

there is == before the titles " titles are not shown correctly "

[2019-03-19 13:41] voroyam opened #777 "Config report webUI =/= CLI"
Currently we state that the config report is the same if you generate it over CLI or webUI

But this is currently not true, that's why we recommend the webUI.

This should be clearly stated in the documentation section, with a picture where to find the download button.

https://doc.owncloud.com/server/admin_manual/configuration/server/occ_command.html#config-reports

Also I noticed the anchor for

[2019-03-19 13:46] voroyam commented on #777
https://github.com/owncloud/docs/pull/778

[2019-03-19 16:24] mmattel commented on #777
Closing, #778 is merged and backported

[2019-03-19 16:24] #777 closed

[2019-03-19 16:31] mmattel opened #786 "yarn validate does not output broken xref links to page section titles"
## What Needs to be Documented?
No broken xref´s returned even there are some
[code]
## Where Does This Need To Be Documented?
Needs checking in the repro code

## Why Should This Change Be Made? (Optional)
Doc quality

## What Type Of Content Change Is This? (Optional)
- [ ] New Content Addition
- [ ] Old Content Deprecation
- [ ] Existing Content Simplification
- [x] Bug Fix to Existing Content

[2019-03-19 18:55] tboerger commented on #786
Why should it print broken links when there aren't broken links?

[2019-03-19 19:06] mmattel commented on #786
Order !
- master got a merge today which fixed a broken xref - so this should not return a result
- while 10.0 / 10.1 do not have that merge and should return a broken xref

see merged PR #778 and open pr #784/#785

I also tried before the merge and did not got a result...

[2019-03-19 19:42] tboerger commented on #786
Last build with validation errors had been https://drone.owncloud.com/owncloud/docs/1739/5 which seems to be totally fine. So I don't get your point where you are questioning the processes again.

[2019-03-20 08:21] settermjd commented on #618
Thanks for spotting this, @lazawan. I'll make an additional change to fix it.

[2019-03-20 08:23] mmattel commented on #786
hmmm,
**First Try**
- created a branch based on an pulled/rebased master and checked it out
- changed nav.adoc in modules/admin_manual from
xref:installation/system_requirements.adoc[System Requirements]
to
xref:hinstallation/system_requirements.adoc[System Requirements]
- run yarn validate
- **xref error shown**

**Second Try**
- setback the change from above
- changed in occ-command.adoc  in mod

[2019-03-20 09:25] tboerger commented on #775
I'm downloading the old Docker image and I will check if the files are present, if they are I will copy them to the current deployment.

[2019-03-20 09:38] tboerger commented on #786
I'm not sure if `xref:config-reports-commands[Config Reporting Commands]` would work at all.

[2019-03-20 09:39] tboerger commented on #786
IMHO that should anyway not work, otherwise the validator won't check for links including adoc only: https://github.com/owncloud/docs/blob/master/generator/xref-validator.js#L22

[2019-03-20 12:15] settermjd commented on #586
I've made a good start on this, but have encountered a number of points that needed to be worked around or corrected. I should have it finished by the end of the week.

[2019-03-20 15:20] tboerger commented on #775
The content is available again.

[2019-03-20 15:20] #775 closed

[2019-03-20 15:22] tboerger commented on #776
IMHO we should not touch the old docs anymore.

[2019-03-20 17:44] mmattel opened #791 "Unincluded (orphaned) example files in admin_manual"
## What Needs to be Documented?
Unincluded example files found in admin manual (orphaned)

## Where Does This Need To Be Documented?
These files should be either:
- included somewhere in the doc, else stay orphaned
- deleted because definitely not used anymore

We may have to check the old documentation...

## Why Should This Change Be Made? (Optional)
Doc Quality

## What Type Of Content Change I

[2019-03-20 17:51] mmattel opened #792 "Unincluded (orphaned) example files in developer_manual"
## What Needs to be Documented?
Unincluded example files found in developer manual (orphaned)

## Where Does This Need To Be Documented?
These files should be either:
- included somewhere in the doc, else stay orphaned
- deleted because definitely not used anymore

We may have to check the old documentation...

## Why Should This Change Be Made? (Optional)
Doc Quality

## What Type Of Content Chan

[2019-03-20 18:16] mmattel commented on #791
Regarding letsencrypt, the page which used the scripts (https://github.com/owncloud/documentation/blob/master/admin_manual/installation/letsencrypt/index.rst) is missing in our documentation. We can relatively easy migrate and update that page...

[2019-03-20 21:37] mmattel commented on #792
Some of the orpans at `/core/scripts/responses/` are covered by PR: https://github.com/owncloud/docs/pull/789

[2019-03-21 02:41] phil-davis commented on #758
After #792 is sorted out we will know what is the set of code examples that are usefully linked inot documentation. Then we can check that the examples actually have valid and up-to-date code.

[2019-03-21 08:11] mmattel commented on #791
I did an extension of the script to match which output from above was used in the old documentation.
This means we know that those files were valid as they have been used and we know in which **directory** to look at in old docs. To reduce output of multiple occurrences I only print the directory.
It is now relatively easy to identify **valid** old doc files for the particular script and see if it

[2019-03-21 08:11] mmattel commented on #792
I did an extension of the script to match which output from above was used in the old documentation.
This means we know that those files were valid as they have been used and we know in which **directory** to look at in old docs. To reduce output of multiple occurrences I only print the directory.
It is now relatively easy to identify **valid** old doc files for the particular script and see if it

[2019-03-21 10:28] tboerger opened #797 "Better search grouping"
So far you can't see to which documentation a search result belong to, if you search for `cron` you can see it twice for every server documentation, one links to admin manual, one links to developer manual. We need to add another column to the index to be able to distinguish that.

![Bildschirmfoto 2019-03-21 um 11 17 40](https://user-images.githubusercontent.com/156964/54746377-48e6af00-4bcc-11e9

[2019-03-21 12:10] voroyam opened #798 "Share renaming process documentation"
Currently we have

https://doc.owncloud.com/server/admin_manual/configuration/files/file_sharing_configuration.html

https://doc.owncloud.com/server/user_manual/files/webgui/sharing.html

But neither of these documents explain how the renaming of shares works.

Right now, both the one who shares and the recipient of the share can edit the name of the share.

I.e. I share folder "from_me_to_carlos"

[2019-03-21 17:03] michaelstingl opened #800 "Can't link to category root"
Some navigation items items don't have real links.

<img width="1028" alt="What_is_the_Appliance_____ownCloud_Documentation" src="https://user-images.githubusercontent.com/214010/54770176-04c2d100-4c03-11e9-94c6-367e7058f374.png">

It would be important to link to the category root. Here is an example:
https://owncloud.com/download/

Idea is to link to the Appliance section, not to the first sub-s

[2019-03-22 07:08] tboerger commented on #800
That's because there is no index.html/adoc

[2019-03-22 22:45] pclemins opened #803 "Server Migration Documentation Fix"
## What Needs to be Documented?
In the server migration documentation, coping of the apps directory needs to be included in the following rsync command:

rsync -Aavxt apps config data root@new_server_address:/var/www/owncloud

If the apps directory isn't copied, the new ownCloud instance will think it needs to be updated.

## Where Does This Need To Be Documented?
https://doc.owncloud.com/server/a

[2019-03-23 08:22] mmattel commented on #803
@pclemins seems that you have found something that needs improvement, but it is very hard from the info you provide to get what it is.

[2019-03-23 19:30] pclemins commented on #803
Sorry... I'm lame.  I put my text inside the comment blocks in the markdown template when I first posted.  I fixed it... see above!  I now know that <! -> = markdown comment!

[2019-03-24 08:13] mmattel commented on #803
We need to add some descriptive text based on your comment plus there is not only `apps` but also the a secondary apps directory like `apps-external`, if it exists.

[2019-03-24 14:24] michaelstingl commented on #603
Not sure if https://github.com/owncloud/client/pull/7097 solve everything. @settermjd close the overview issue?

[2019-03-25 10:49] #791 closed

[2019-03-25 11:04] mmattel commented on #791
**Update**
After merging of PR #801 (Fixes includes and updates of the letsencrypt documentation)
which covers  --> array item 5-10 from above, only one orphand example remains, see below.
This example seems to be a real orphan and its content is from my pov outdated.

My proposal is to delete this orphan and if done we can close this issue as the admin_manual would be clean in terms of orphaned e

[2019-03-25 12:42] voroyam opened #815 "local storage page is not working"
https://doc.owncloud.com/server/undefined/server/10.0/admin_manual/configuration/files/external_storage/local.html

seems not to work

## What Needs to be Documented?

## Where Does This Need To Be Documented?

## Why Should This Change Be Made? (Optional)

## What Type Of Content Change Is This? (Optional)
- [ ] New Content Addition
- [ ] Old Content Deprecation
- [ ] Existing Content Simplificat

[2019-03-25 13:02] mmattel commented on #815
Which one of the document in: https://doc.owncloud.com/server/10.0/admin_manual/configuration/files/external_storage_configuration.html you cant access?
![image](https://user-images.githubusercontent.com/3321281/54921637-8ae25e80-4f06-11e9-90f4-6ad07f113acc.png)

[2019-03-25 13:03] voroyam commented on #815
the documents are there, the search is pointing to an undefined branch / version

[2019-03-25 13:05] mmattel commented on #815
your issue content is less than basic, no reader can know what your problem is...?

[2019-03-25 13:06] voroyam commented on #815
I just told you my issue

[2019-03-25 13:07] mmattel commented on #815
Close that issue and write one with a complete set if information, else this cant work. Thanks

[2019-03-25 13:09] voroyam opened #816 "Doc Search is poiting to an "undefined" server version/branch"
If you type in to search on the doc.owncloud.com site, your match is directed to a "undefined" place, which causes a 404

-------------------------

example:

https://doc.owncloud.com/server/undefined/server/10.0/admin_manual/configuration/files/external_storage/local.html

leads to a 404.

---------------------------

[2019-03-25 13:13] mmattel commented on #816
Can you add what you have serched for? We might identify better what causes this with this information

[2019-03-25 13:14] #815 closed

[2019-03-25 13:16] voroyam commented on #816
"Local storage"

[2019-03-25 13:25] voroyam commented on #816
every search is pointing to undefined

[2019-03-25 14:27] patrickjahns opened #817 "Logging recommendation ( x-request-id )"
Building on-top of https://github.com/owncloud/docs/issues/358 - ownCloud also allows a `x-request-id` to be used (ref: https://github.com/owncloud/core/blob/stable10/lib/private/AppFramework/Http/Request.php#L481-L490 )

This would also allow to trace a request from a LoadBalancer up to the application server that received the final request. This is still helpful if client's (like the webui do no

[2019-03-25 14:50] voroyam opened #818 "How To Build Docs locally is confusing"
This document:

https://github.com/owncloud/docs/blob/master/docs/build-the-docs.md

![grafik](https://user-images.githubusercontent.com/24212810/54928887-f7645a00-4f14-11e9-8177-ec272dae1dcd.png)

I want to build an documentation server locally to see if it's possible following our documentation.

I stumble over the first things. My questions:

-  how do I install yarn?
The wording is very confus

[2019-03-25 15:18] ChrisEdS opened #819 "Favicon not found (https://doc.owncloud.com/favicon.ico)"
The favicon (https://doc.owncloud.com/favicon.ico) is not on the server.

@tboerger @settermjd can you please check?

[2019-03-25 16:00] felixboehm commented on #816
reproducible. Inspector shows that Backend returns undefined in key"url":

![docs search](https://user-images.githubusercontent.com/1204907/54934831-7494cc80-4f1f-11e9-85ab-837b9b95658c.png)

[2019-03-25 16:21] tboerger commented on #816
Somebody pushed https://github.com/owncloud/docs/commit/f415bbf4d46422b51ce6264ee20f31c1c93f1653 directly without a pr, that's why I haven't seen that. This pr got to be reverted as the search index can only be updated from the master branch. Somebody got to create a revert pr for this specific commit.

[2019-03-25 16:23] voroyam commented on #816
Somebody? :)

[2019-03-25 16:24] tboerger commented on #816
Yeah, not me... I have committed it to the master branch only, not any other branch.

[2019-03-25 16:30] voroyam commented on #816
Wasn't hinting that I thought it was you. I thought on GitHub everything was traceable and blameable :)

[2019-03-25 16:34] voroyam commented on #816
![grafik](https://user-images.githubusercontent.com/24212810/54937198-3e0d8080-4f24-11e9-8c43-b83c99ca55e1.png)

[2019-03-25 16:36] voroyam commented on #816
so basically we need to make this PR but on another branch? @tboerger

https://github.com/owncloud/docs/commit/340e1e9687def56a895a0a9ad1896576135170fc

[2019-03-25 17:31] tboerger commented on #816
Solved via #821, search will work after next master build which will be done by https://drone.owncloud.com/owncloud/docs/1864

[2019-03-25 17:31] #816 closed

[2019-03-25 18:23] pclemins commented on #803
Great... Thanks!

[2019-03-26 05:45] settermjd commented on #791
Hey! I had a read through your script and experimented with it. Nice work! From what I see, everything seems valid to me. Thanks for taking the time and effort to do all this.

[2019-03-26 08:38] voroyam opened #827 "Document recommended upgrade path"
recently I have seen a lot of questions on how to upgrade from an old ownCloud, like 8.1 or 9.0 to the current release.

In the docs I have found 2 things that kinda contradict each other:

https://doc.owncloud.com/server/admin_manual/maintenance/upgrade.html

In the general document we tell that:

Why some one used "migrate" instead of upgrade is questionable to me. But okay. If we look at the se

[2019-03-26 09:01] PVince81 opened #828 "Keep upgraded shipped apps on upgrade (hotfix/patch releases)"
Whenever a patch/hotfix release of the core or enterprise bundle is provided, an admin should upgrade to it.

The expectation is that such patch/hotfix release will cause minimal downtime.

The following situation could occur, on offline instances:

1. Admin installed owncloud-enterprise-complete 10.1.0
1. Admin updated non-shipped app "activity" app from 2.4.1 to 2.4.2 using marketplace download

[2019-03-26 09:03] PVince81 commented on #828
- [ ] tool/command to detect upgraded shipped apps: https://github.com/owncloud/core/issues/32048

[2019-03-26 10:00] PVince81 commented on #828
at step 7 the system will lock itself due to inconsistent state and will prompt admin to run `occ upgrade`.

for patch releases we want to avoid that, hence the proposed solutions:
- update of docs for preparint apps
- future solution about apps-external folder

[2019-03-26 10:38] mmattel commented on #828
Regardin the term `shipped`:
Part from the referenced issue above, PR https://github.com/owncloud/core/pull/34563 (getAppsInTar) addresses the issue to distinguish apps between marked shipped (wrong use of the term shipped, you cant disable them) and apps part of tar release file (which is what we are looking for).

Looking to the possibility having any apps directory being a symlink for ease of h

[2019-03-26 11:02] voroyam commented on #535
Support work is impossible in the current status, if I don't know what the key is, search isn't a help either.

I am more and more inclined to stop working on improving the online docs and start an offline personal docs.

[2019-03-26 11:11] PVince81 commented on #828
@mmattel an occ command like `occ apps:check-version` could help after the fact. However here I'm looking at ways to do it **before the upgrade** so that admins can prepare their local env to already have the upgraded apps there and avoid further service disruption. A command that identifies what shipped apps (shipped as in "part of bundle") could help. Best is of course a separate apps folder.

[2019-03-26 11:18] PVince81 commented on #828
Another idea:

1. before the upgrade: admin runs `occ apps:list` and takes note of versions
1. admin downloads **all** the available apps from marketplace regardless of upgraded or not (unless they know which ones they upgraded)
1. do the tarball swap / extraction
1. copy the downloaded apps into "apps" after deleting the previous ones

This would remove the need to know which apps were upgraded a

[2019-03-26 11:18] PVince81 commented on #828
we could also add a note that this is only needed if the deployment doesn't use a separate apps folder (many already do)...

[2019-03-26 11:47] PVince81 commented on #828
I think we should provide a list of bundled app versions per bundle release, so admins just can have a look at said list.

[2019-03-26 11:50] PVince81 commented on #828
some suggestion for the docs if we have the above:

1. before upgrade: check whether your setup has a single "apps" folder (note: this is not recommended as it would mix bundled apps with upgraded apps, see XYZ for instructions about setting up apps-external, etc). If single "apps" folder:
    1. run `occ apps:list` and compare versions with the published (TODO) list of bundled app versions
    1.

[2019-03-26 11:53] PVince81 commented on #828
I'd also suggest we delete the "standard upgrade" from https://doc.owncloud.com/server/admin_manual/maintenance/manual_upgrade.html#the-standard-upgrade and keep only "power user" as it's more reliable and more compatible with the above apps concept.

It would be difficult to inject the above instructions into the standard upgrade.

Plan:

- [ ] adjust marketing communication to always publish the

[2019-03-26 11:55] PVince81 commented on #828
cc @pako81 @cdamken would that help with support as well ?

[2019-03-26 14:33] PVince81 commented on #828
PR here: https://github.com/owncloud/docs/pull/829

it is currently assuming that the bundle's app versions are known.
we can then decide to make this information clearer in our release communication

[2019-03-26 14:38] PVince81 commented on #554
seems this is done, close ?

[2019-03-26 15:11] PVince81 commented on #535
please open a PR to merge the two pages. I think we saw enough arguments that spoke in favor of this.

[2019-03-26 17:12] mmattel commented on #535
The common source of `config` files is core. Any change that is made must be made in core and then transported via a script (https://github.com/owncloud/config-to-docs) to docs. Changes made in docs will be overwritten by the next `config-to-docs` run.

`occ` commands do not have a source in core. Their origin is in docs.

Any changes made need to be made carefully and tested as they address multi

[2019-03-26 18:56] #554 closed

[2019-03-28 09:45] voroyam opened #838 "add to theming guide that the config.php way of theming is deprecated"
add to theming guide that the config.php way of theming is deprecated

We need to add to the theming guide a mention that the old way of theming is deprecated for our users and customer to know.

This was the old way:  `'theme' => '',` but now we use apps as themes.

https://doc.owncloud.com/server/developer_manual/core/theming.html

https://github.com/owncloud/docs/edit/master/modules/developer_m

[2019-03-28 10:45] voroyam opened #841 "Need a page with instructions of collecting logs and configs"
We need a page in the admin manual instructing users and customers how they can provide important log files and config files. Those files could help experienced users/support engineers to find the cause of the issue and providing a solution.

I would propose a new page, in the root folder of the admin manual named "Troubleshooting". Since if a user/customer is looking for a way to collect logs/con

[2019-03-28 12:22] voroyam opened #844 "activity docs page is insufficient"
https://doc.owncloud.com/server/10.0/admin_manual/configuration/server/activity_configuration.html

This page has broken links and no information how to configure the activity app.

[2019-03-28 13:06] voroyam commented on #841
https://github.com/owncloud/docs/pull/845

[2019-03-29 13:35] mmattel commented on #770
**UPDATE:**
For the list of domains found:
You manually have to remove `admin` and add a dot after `server` --> `server.`
Then you can save the list into a file like `domainlist.txt` and run from the modules directory `grep -rnFf ../../domainlist.txt`
After that you have to check the file and remove the remaining false positives to get the files and locations where changes are needed.

[2019-03-29 13:40] PVince81 commented on #828
obsolete, we changed the bundle. bundles will not comply with SemVer

[2019-03-29 13:40] #828 closed

[2019-03-29 14:03] mmattel commented on #770
According the finding from above, the list of checking/harmonisation is the following:

[code]

[2019-03-29 14:10] mmattel opened #856 "Document occ incoming-shares:poll for update detection with federated shares"
## What Needs to be Documented?
With core https://github.com/owncloud/core/pull/34903 (Add a command to poll incoming federated shares for updates)
a new occ command needs to be documented: `incoming-shares:poll`

## Where Does This Need To Be Documented?
admin_manual, occ command set

## Why Should This Change Be Made? (Optional)

## What Type Of Content Change Is This? (Optional)
- [x] New Conte

[2019-04-01 08:15] settermjd commented on #771
@PVince81, getting this done today.

[2019-04-01 08:43] patrickjahns commented on #411
@settermjd - reopening as #517 is still not merged

[2019-04-01 09:55] settermjd commented on #770
Thanks for the further feedback.

[2019-04-01 10:08] PVince81 commented on #856
@VicDeo can you provide a quick summary that could be incorporated into the documentation ?

If there is a section about federated shares, it could be linked back to the section for this command for improving update detection and syncing.

[2019-04-01 13:38] voroyam opened #859 "Add to the "Retrieve Log Files and Configuration Settings""
Here we should collect things the support team needs to be on this document.

@pako81 mentioned that in the case of the ownCloud log file being to large, the user could get a timeout error. That's why we need to document the default location of the ownClould log file.
`/data/owncloud.log`

@micbar mentioned that on clustered setups the ownCloud logs and the web server logs have to be collected fro

[2019-04-01 14:02] mmattel commented on #859
Reading the new document we just merged, it might be of help creating a (php or bash) script which would call all the necessary sub commands and generates the files needed for support. These files could then also be automatically zipped to further reduce work and size. We already have good experiences with bigger scripts like the permission script for installation and updates or the backporting sc

[2019-04-01 15:23] mmattel commented on #859
For all the contributors, following proposal:
1) Let´s `identify` all things which are necessary for support to be known, independent if we have it already in an other page or not (reference in case).
A list is fine
2) Let´s `define` how this `output` should look like.
Single files, zipped file whatever.
Which content needs possible reduction (or enhancement).
Again just writing things down
3) Let

[2019-04-03 07:37] settermjd commented on #800
Thanks for pointing this out, @michaelstingl.

[2019-04-03 07:39] settermjd commented on #695
@PVince81, can we get time for this scheduled, pls?

[2019-04-03 07:39] settermjd commented on #693
@voroyam, pls provide further feedback.

[2019-04-03 07:40] settermjd commented on #827
Thanks for creating this. As it's a very worthwhile topic to have right, @PVince81, can we get this into a sprint?

[2019-04-03 07:42] settermjd commented on #803
Closing, as it's been implemented. Thanks, @pclemins.

[2019-04-03 07:42] #803 closed

[2019-04-03 07:44] settermjd commented on #841
Closing, as it's been implemented.

[2019-04-03 07:44] #841 closed

[2019-04-03 07:45] settermjd commented on #818
Thanks for creating the issue. I'll see about getting this implemented.

[2019-04-03 07:48] pclemins commented on #803
Happy to contribute... if even just a little :)

[2019-04-03 07:57] mmattel commented on #818
For installing yarn we can reuse: https://github.com/owncloud/docs-ui#yarn

[2019-04-03 10:49] voroyam commented on #693
I created a separate page for this to be documented:

https://doc.owncloud.com/server/admin_manual/troubleshooting/providing_logs_and_config_files.html

And regarding your question: No I don't think a long sentence is sufficient. We have always to simplify instructions as good as we can. Reading a long paragraph that includes a dependency is not what the usual admin/user/ is looking for in a manua

[2019-04-03 15:22] VicDeo commented on #856
summary: due to performance reasons federated shares are not updated automatically.
The particular directory of the federated share is updated only when user browse into it via web UI.

 CLI command `occ incoming-shares:poll` could be added into the system crontab in order to poll federated shares for updates automatically.

[2019-04-03 18:20] mmattel commented on #856
Just for the record, this command polls all fed shares recieved, there is no path necessary to provide.

[2019-04-04 11:19] settermjd commented on #542
Currently blocked because of an error setting up a test environment (so that I can validate the functionality); specifically, the following error, when attempting to share a file to a user in a federated ownCloud instance: `cURL error 51: SSL: certificate subject name 'server-1.localdomain' does not match target host name 'server-2.localdomain'`.

[2019-04-04 11:25] patrickjahns opened #875 "Remove deprecated Shibboleth Sync example"
Short digest - the option for shibboleth sync here is no longer valid with ownCloud 10
https://doc.owncloud.com/server/admin_manual/configuration/server/occ_command.html#shibboleth

Quoting @DeepDiver1975

[code]

## What Needs to be Documented?

## Where Does This Need To Be Documented?

## Why Should This Change Be Made? (Optional)

## What Type Of Content Change Is This? (Optional)
- [ ] New Co

[2019-04-04 11:26] #818 closed

[2019-04-04 11:35] settermjd commented on #798
Well said. I remember raising this in the engineering channel some time ago after feeling that it was a bug as well.

[2019-04-04 11:38] PVince81 commented on #542
who can help ? @VicDeo @phil-davis @individual-it ?

[2019-04-04 11:53] #771 closed

[2019-04-04 12:20] voroyam opened #879 "DB conversion errors"
If you run occ `db:convert-mysql-charset` you get redirected to this site for help:

https://doc.owncloud.org/server/10.1/go.php?to=admin-db-conversion

But this site has no info what so ever about this command.

The right site would be this

https://doc.owncloud.com/server/admin_manual/configuration/database/linux_database_configuration.html

which is named Linux Database configuration, but in th

[2019-04-04 13:34] voroyam commented on #879
@DeepDiver1975

[2019-04-05 05:01] #798 closed

[2019-04-05 09:56] #621 closed

[2019-04-05 09:57] #561 closed

[2019-04-05 13:02] PVince81 commented on #695
we have some tasks to finish currently, can schedule this afterward, yes

[2019-04-06 09:49] settermjd commented on #838
I just had a quick review and found the following, just below the preamble:

Is this sufficient?

[2019-04-06 09:51] settermjd commented on #879
I ran this, but all that happened was "Change collation for oc_migrations ..." was output to the console. Can you add a copy of your console output, or an animated gif showing you being redirected, please?

[2019-04-06 09:52] settermjd commented on #879
On reading this issue again, it seems that the best place to add this issue is in core not in the docs. @DeepDiver1975?

[2019-04-06 10:00] settermjd commented on #879
On reading the linked page, I don't completely agree that it's incorrect. However, the user at lease should be redirected to the specific section in the page that talks about [running the conversion](https://doc.owncloud.org/server/10.1/admin_manual/configuration/database/db_conversion.html#run-the-conversion). Secondly, this page could be extended to cover the topic in more detail.

[2019-04-06 10:15] settermjd commented on #758
Thanks for creating this issue, @phil-davis. I'm having a look at the file to see what I can do to correct it. The file was originally added by Daniel Molkentin on Oct 27, 2012, and then moved around after that. Perhaps it's no longer required, given that it's that old. Do you see it as a worthwhile example, if fixed?

[2019-04-06 10:22] settermjd commented on #792
@mmattel, is this now complete?

[2019-04-06 10:24] settermjd commented on #786
afaik, the example in https://github.com/owncloud/docs/issues/786#issuecomment-474755431 does work, as it looks for an anchor of that name in the current document, and creates a link to it, if it exists.

[2019-04-06 10:25] settermjd commented on #773
Closing, as the general consensus was that the links are fine as they are.

[2019-04-06 10:25] #773 closed

[2019-04-06 10:36] settermjd commented on #638
@tomneedham, do you want the additional text (below) to be used in this section of the documentation?

[2019-04-06 10:43] settermjd commented on #768
Closing, as the implementing PR has been merged.

[2019-04-06 10:47] settermjd commented on #92
Closing as it's sufficiently completed. The style guide can be left for later.

[2019-04-06 10:47] #92 closed

[2019-04-06 10:47] #98 closed

[2019-04-06 10:50] mmattel commented on #792
Yes it is.
If we fix those once and rerun the script(s) above, it will (should) show the following:
- some remaning findings
these should be true orphans,
tbd what we will do with them - delete, include ect...
- maybe some leftover findings from the second script
could be that those are false positives
I did the same procedure with the other issue and we were able to close that one ofter deleting

[2019-04-06 11:42] settermjd commented on #112
#891 has been created to address these issues.

[2019-04-06 12:25] settermjd commented on #776
Fair call.

[2019-04-06 12:25] #776 closed

[2019-04-06 12:25] settermjd commented on #127
@micbar, can you let me know if you added a screenshot?

[2019-04-06 12:27] settermjd commented on #265
ping @pmaier1

[2019-04-06 12:28] settermjd commented on #262
Closing as the related issue was merged.

[2019-04-06 12:28] #262 closed

[2019-04-08 01:19] phil-davis commented on #758
Actually I do not have any idea about the code samples in the docs repo. I raised the matching issue like this in the previous documentation repo because when I had it open in PHPstormIDE, the IDE found the invalid PHP for me. And it seems "not a good thing" to have invalid code in docs.

"Somebody" would have to review each code example and decide:
1) Is it useful? - if no, then delete it (delete

[2019-04-08 03:23] #112 closed

[2019-04-08 03:52] settermjd opened #894 "Extract the server preparation steps in the manual Installation guide"
Similar to how the Ubuntu preparation steps are being extracted in #735. The preparation steps for RHEL, CentOS, and SLES should also be extracted to separate files.

## What Needs to be Documented?

## Where Does This Need To Be Documented?

## Why Should This Change Be Made? (Optional)

## What Type Of Content Change Is This? (Optional)
- [ ] New Content Addition
- [ ] Old Content Deprecation
-

[2019-04-08 07:02] mmattel commented on #602
Fixed via #735, Closing

[2019-04-08 07:02] #602 closed

[2019-04-08 09:34] voroyam commented on #838
Yes. I think it was my PR that added this to the docs.

This is my process, always make an issue so that I don't forget it, then make PR. Sometimes I forget to link the PR in the issue or to close the issue after PR merge.

Thanks for noticing.

[2019-04-08 09:34] #838 closed

[2019-04-08 09:40] voroyam commented on #879
What env are you running @settermjd ? :D 11.0 branch?

Setup a clean 10.0.10 on Ubuntu 18.04 with a fresh maria-db server and run that command. You will get an error.

The issue here, as I described, is that it's the wrong page. The command is to convert character sets. The page it links is to convert the DB.

Why the section on that character set conversion is on a different page beats me.

This

[2019-04-08 11:08] settermjd commented on #654
Currently, only the following pages have the `:keywords:` and `:description:` attributes:

- ./modules/admin_manual/pages/configuration/files/encryption/enable-encryption.adoc
- ./modules/admin_manual/pages/configuration/files/encryption/disabling-encryption.adoc
- ./modules/admin_manual/pages/configuration/files/encryption/master-key-encryption.adoc
- ./modules/admin_manual/pages/installation/let

[2019-04-08 11:46] pmaier1 commented on #265
Not sure what to give feedback on. I think this is something for the dev docs. Regular users will not use this. Rather it can be used for e.g. context menu options in the desktop client.

[2019-04-08 12:53] michaelstingl commented on #265
👍

[2019-04-08 13:04] pmaier1 commented on #856
What is the recommended interval for running the background job? @VicDeo @micbar

[2019-04-08 14:23] michaelstingl opened #917 "[Appliance] Navigation tree should follow user journey (PO input needed)"
## What Needs to be Documented?

ownCloud/UCS appliance docs structure/order doesn't look right (when I think about the user journey)

https://github.com/owncloud/docs/blob/e27fb339a5ec17dcdac681285518de08548d1d22/modules/admin_manual/nav.adoc#L117-L131

![ownCloud_Documentation_Overview____ownCloud_Documentation](https://user-images.githubusercontent.com/214010/55731322-500a1b80-5a1a-11e9-872b-7a

[2019-04-08 14:29] michaelstingl commented on #917
This probably supersedes the appliance changes proposed in https://github.com/owncloud/docs/issues/917

[2019-04-08 15:43] pmaier1 commented on #856
Does the command provide any options?

[2019-04-08 15:51] micbar commented on #856
@pmaier1 The first question is currently discussed in our testing.

This command does not provide any options.

[2019-04-08 22:08] voroyam commented on #917
Thank you for creating this. We are currently collecting issues that we could tackle for the docs afternoon hack day :) This could be mine.

[2019-04-09 08:31] voroyam commented on #879
@settermjd If you don't mind, I would like to take care of this issue myself.

[2019-04-09 10:11] cdamken commented on #859
You have to explain that the log file will be by default in the data directory,  the user has to check their `config.php` file:
as example:
[code]

it's also possible to change the location of the file in the `config.php`:
[code]
The apache user has to have rights to write in that folder

That information is also described in the `config.samlple.php`

[2019-04-09 11:28] settermjd commented on #879
@voroyam, please do.

[2019-04-09 11:31] settermjd commented on #875
@patrickjahns, so removing the Shibboleth sub-section there is all that's required?

[2019-04-09 13:02] mmattel commented on #290
NOTE: this will be 10.2 only, no backporting, label is set !

[2019-04-09 13:31] phil-davis opened #935 "10.2 branch is out-of-sync"
There is a recently-created `10.2` branch. It is out-of-date with respect to `master`
Changes merged to `master` are getting back-ported as needed to `10.1` and `10.0` branches - good.
But now they also should be backported to `10.2` branch.

Either:
1) catch up with backports to `10.2` or
2) delete the `10.2` branch and only create it closer to the actual release (to save constant backports in th

[2019-04-09 14:15] karakayasemi opened #946 "Repair step list and single step execution from occ"
## What Needs to be Documented?
https://github.com/owncloud/core/pull/29830

- `occ maintenance:repair` command now has two new option:
- `occ maintenance:repair --list` lists all available repair steps
- Now, admins can execute single repair step with `occ maintenance:repair --single` option

## Where Does This Need To Be Documented?
https://github.com/owncloud/docs/blob/master/modules/admin_manu

[2019-04-09 15:41] pmaier1 commented on #946
This will be part of 10.2. Earlier versions do not have this feature.

[2019-04-09 23:33] phil-davis commented on #290
In `stable10` the `background` commands are now:
[code]
In `modules/admin_manual/pages/configuration/server/occ_command.adoc` I can see words about ajax, cron, webcron. But nothing yet about `background:queue:*`

All 3 `background:queue` commands have been recently added to core `stable10`. So doc needs to be added to cover all 3.

[2019-04-10 08:53] settermjd commented on #935
I realised this yesterday. I'll aim to get it updated later today.

[2019-04-10 14:57] mmattel commented on #290
For ease of implementation, see following link, this just needs some copy / paste and adoption to .adoc :smile: https://github.com/owncloud/documentation/pull/4207/files#diff-0380163502e27936a0c96cf3eb64fe58R269

[2019-04-10 15:51] VicDeo commented on #856
The recommended is `never`. :)
Since it iterates through all federated shares in one go the interval depends on the federated shares amount.
Once per 12 hours should be safe enough for any instance. It could be reduced to once per 2 hrs for instances with low federated shares amount.

[2019-04-10 16:18] mmattel opened #963 "occ command: add encryption version fix command"
## What Needs to be Documented?
Upcoming new occ command
https://github.com/owncloud/core/pull/35000 ([stable10] Backport of Add encryption version fix command)
Just for the record, a master forward port needs to be created
[code]

## Where Does This Need To Be Documented?
occ command set

## Why Should This Change Be Made? (Optional)
New core functionality
@sharidas pls add the rational behind th

[2019-04-11 07:40] settermjd opened #965 "Setup phpcs and phpcbf to validate PHP code examples"
@phil-davis recently raised an issue that highlighted how one of the PHP code examples was misleading, due to code errors. As a result of the discussion on that PR, I believe it's necessary to integrate [phpcs](https://github.com/squizlabs/PHP_CodeSniffer) and phpcbf into the docs build process, to ensure that the PHP code examples are correct, and follow the ownCloud style rules, to ensure that t

[2019-04-11 09:14] pmaier1 opened #968 "Document Secure View with Collabora Online"
## What Needs to be Documented?

New oC Enterprise feature: Secure View (https://github.com/owncloud/enterprise/issues/2917)

## Where Does This Need To Be Documented?

- [ ] User docs
  - What is secure view?
  - How to use secure view if available (e.g., permissions in sharing)
- [ ] Admin docs
  - What is secure view?
  - Setup: oC Enterprise >= 10.2 / richdocuments app (currently unreleased, n

[2019-04-11 10:38] cdamken commented on #411
The information is only in: https://doc.owncloud.com/server/admin_manual/configuration/files/external_storage/smb.html
but this relevant issue is for WND:
https://doc.owncloud.com/server/admin_manual/enterprise/external_storage/windows-network-drive_configuration.html
Here is the whole information missing 😢

@settermjd please add a link or add this information in the WND information.

[2019-04-12 08:50] mmattel opened #975 "Add :experimental: to the default Antora page settings"
## What Needs to be Documented?
For the sake of simplicity, as discussed, I propose that the Antora directive `:experimental:` is added to the defaults.

## Where Does This Need To Be Documented?

## Why Should This Change Be Made? (Optional)
This enables the use of macros like `menue` or `btn` or `kbd`
Else we have to write that directive on each page using that macros

## What Type Of Content Ch

[2019-04-12 10:52] PVince81 commented on #586
@settermjd close to completion now ?

[2019-04-15 09:14] voroyam commented on #680
Wow. He looked through 64 pages of this document. Nice work. Most of his suggestions are formatting corrections though.

The question is whether it makes sense to do the work and implement the corrections or rework the whole document. I can do the corrections. For reworking the document we would need input from @michaelstingl and @jnweiger at least. I am not sure if those 2 have the time to make s

[2019-04-15 10:32] PVince81 commented on #632
@settermjd was it finished ? link to PR ?

[2019-04-15 15:18] voroyam opened #987 "Antivirus doc add command to start service."
https://doc.owncloud.com/server/10.1/admin_manual/appliance/Clamav.html

https://doc.owncloud.com/server/10.1/admin_manual/configuration/server/antivirus_configuration.html

We should include  `service clamav-daemon start`

Without this command there is no `clamd.ctl` in `/var/run/clamav/`

Also We should rename the Antivirus Configuration to Virus Scanner Support.

Because:

![grafik](https://use

[2019-04-15 19:00] michaelstingl commented on #680
That's a first step. You could also divide it in smaller subtasks.

We can answer questions of course.

[2019-04-16 10:05] VicDeo commented on #542
@settermjd
the most probable reason is a wrong SSL cert specified for server-2.localdomain in apache config.

you can add the following into config.php to allow using http instead of https
[code]

[2019-04-17 08:58] michaelstingl commented on #265
@PVince81 @pmaier1 What server version will support this? Is there a capability for the clients to check if this is supported?

[2019-04-17 10:38] #758 closed

[2019-04-17 11:21] guruz opened #1002 "Make sure https://doc.owncloud.org/desktop/2.6/ exists"
We're releasing 2.6.0 alpha1 soon-ish

[2019-04-17 11:22] guruz commented on #314
This is not done yet.
When I search for ownCloud client documentation I get 1.8

https://doc.owncloud.org/desktop/1.8/

[2019-04-17 11:22] guruz commented on #654
See also https://github.com/owncloud/docs/issues/314

[2019-04-17 12:36] tboerger commented on #1002
If the branch on the client repo already exists it just got to be added to the site.yml for the 4 branches on this repo.

[2019-04-17 13:50] guruz commented on #1002
@tboerger Hmm not sure what you mean by 4 branches, right now it only shows 'master' https://github.com/owncloud/docs/blob/master/site.yml#L22
And I don't see which branch you mean in this repo
There is a 10.0 branch here for example, but i'm speaking about desktop / client

[2019-04-17 14:05] voroyam opened #1009 "Encryption quick guide formatting errors"
https://doc.owncloud.com/server/10.1/admin_manual/configuration/files/encryption/encryption_configuration_quick_guide.html#enable-the-encryption-app

On this page there are many formatting errors.

Should be fixed.

[2019-04-17 15:02] #1009 closed

[2019-04-17 18:34] tboerger commented on #1002
Master is the only branch that publishes the docs, but on the other 10.x branches it got to be part of the site.yml to be able to resolve cross references when validating the branch.

[2019-04-18 07:23] PVince81 commented on #265
@karakayasemi mind taking care of adding a capabilities entry for the files app that advertises support for this ?

[2019-04-18 08:51] PVince81 commented on #265
for the record: this parrameter exists since 10.0.10.

we'll add a capability nonetheless

[2019-04-18 09:16] settermjd opened #1020 "Update all occ command-line examples to follow the de facto example"
## What Needs to be Documented?

The de facto standard in the documentation is to write occ command-line examples as in the following example:

[code]

However, there are several examples in the documentation where this is not the case, such as `sudo -u www-data occ configreport:generate` in `modules/admin_manual/pages/configuration/server/occ_command.adoc`.

## Where Does This Need To Be Document

[2019-04-18 10:49] settermjd commented on #586
One small point left to confirm.

[2019-04-18 12:00] settermjd commented on #586
Waiting for feedback on https://github.com/owncloud/docs/pull/802#discussion_r274390024 from @butonic

[2019-04-23 09:16] guruz commented on #1002
@tboerger but our client 'master' will be '2.7' soon.
Do i still need to put 2.6 in this site.yml?

[2019-04-23 10:00] settermjd opened #1055 "Move the WND admonition in the Samba docs to the WND docs"
After talking with @cdamken, **lines 17 - 34** of [admin_manual/configuration/files/external_storage/smb.adoc](https://github.com/owncloud/docs/blob/master/modules/admin_manual/pages/configuration/files/external_storage/smb.adoc) need to be moved to replace **line 24** in [admin_manual/pages/enterprise/external_storage/windows-network-drive_configuration.adoc](https://github.com/owncloud/docs/blob

[2019-04-23 10:41] settermjd commented on #1002
@guruz, if this hasn't been done already, I'll get it done.

[2019-04-23 10:54] guruz commented on #1002
@settermjd Thanks, that's maybe easier :]

[2019-04-23 11:50] settermjd commented on #1002
Actually, @guruz, do you want the 2.6.0 branch, when it's created, to be added to the docs configuration?

[2019-04-23 11:53] guruz commented on #1002
I want https://doc.owncloud.org/desktop/2.6/ to exist, that's all I want.
client branch is https://github.com/owncloud/client/tree/2.6 (without the .0)

[2019-04-25 11:21] PVince81 opened #1082 "Documentation mediaviewer"
Media viewer is intended to be a replacement for gallery and files_videoplayer.
Currently only comes with the slideshow view as a first step.

- [x] check where gallery is mentioned and replace with https://github.com/owncloud/files_mediaviewer.
- [x] for migrating from gallery to files_mediaviewer, one needs to make sure the gallery links still work using redirects: https://github.com/owncloud/ga

[2019-04-25 11:23] mmattel commented on #1082
FYI: https://doc.owncloud.com/server/user_manual/files/gallery_app.html
Plus some mentions in admin and user manual

[2019-04-25 12:33] PVince81 commented on #1082
- [ ] add note in gallery uninstall + here in the docs that the gallery thumbnails must be deleted manually (if applicable)

[2019-04-26 05:42] mmattel opened #1094 "Update to always set headers"
## What Needs to be Documented?
Refernces https://github.com/owncloud/core/pull/35099 (Avoid headers set twice in some situations)

## Where Does This Need To Be Documented?
https://doc.owncloud.com/server/admin_manual/installation/manual_installation.html#headers

## Why Should This Change Be Made? (Optional)
Make it clear wnat the backend is doing

## What Type Of Content Change Is This? (Option

[2019-04-26 07:44] PVince81 opened #1095 "Database diagrams for core and common apps"
To get a better overview, we should provide a database schema diagram for the core tables and their relationships. If applicable, also include tables from common apps like notifications, activity, etc.

To be included in the developer docs.

Note that there are currently no foreign keys in place and relationships are defined/resolved in code. We should still indicate the intended table relationshi

[2019-04-26 14:08] PVince81 commented on #265
capability will be in 10.2

[2019-04-26 14:38] karakayasemi commented on #265
@PVince81 If nothing left for me, I am removing my assignment in here?

[2019-04-29 12:14] mmattel opened #1102 "Improved deployment schedule proposal"
## What Needs to be Documented?
At the moment, deployment gets triggered when a merge is made to master.
This build includes also non-docs (eg client, ios, android...) repos.

**Problem:**
If there is a backport or a change in the other repos, these only get deployed when triggered via any docs master merge, not necessarily related the the docs master merge.

**Proposal:**
Have a nightly job that

[2019-04-29 18:35] tboerger commented on #1102
That won't get in before we updated Drone to >= 1.1.0

[2019-05-06 09:37] pmaier1 commented on #856
Can we add some more information like I tried in the release notes (starting here https://github.com/owncloud/docs/pull/967/files#diff-ba12788edde90b189cd9bb4d1b5492afR90)? I think that makes it more clear for admins how to handle the interval for the background job.

[2019-05-07 08:38] settermjd opened #1135 "Fix 404s"
According to Graylog, there are a number of requests that are resulting in 404s. This issue is here to help get them fixed.

## What Needs to be Documented?

## Where Does This Need To Be Documented?

## Why Should This Change Be Made? (Optional)

## What Type Of Content Change Is This? (Optional)
- [ ] New Content Addition
- [ ] Old Content Deprecation
- [ ] Existing Content Simplification
- [ ]

[2019-05-07 08:46] settermjd commented on #1094
@mmattel, is this issue fixed by https://github.com/owncloud/docs/pull/737/files? If so, please close this issue.

[2019-05-07 14:50] settermjd commented on #1002
Fair enough.

[2019-05-08 07:40] tboerger commented on #1002
First we need to merge https://github.com/owncloud/client/pull/7179, after that we got to merge the PRs to the owncloud/docs repo on master/10.1/10.2 branches and everything will be tested and uploaded correctly.

[2019-05-08 07:56] #1002 closed

[2019-05-08 08:05] settermjd commented on #1002
I see that you're already on the case, @tboerger. Thanks.

[2019-05-08 08:29] tboerger commented on #1002
https://doc.owncloud.com/desktop/2.6/ there you go, docs are available now.

[2019-05-08 11:30] settermjd commented on #987
@voroyam, on line 126 & 127, clamav-daemon is enabled and started:

[code]

Secondly, regarding "Also We should rename the Antivirus Configuration to Virus Scanner Support.", what's the motivation for changing the text? I'm not against it necessarily, just wondering what the motivation is.

[2019-05-08 11:31] settermjd commented on #987
Regarding the final section of the document, i.e., `lsof` reference, where did that come from?

[2019-05-08 13:50] phil-davis opened #1172 "CI fails in 10.2 branch"
Make a simple PR to 10.2 branch - e.g. #1170
CI fails with: https://drone.owncloud.com/owncloud/docs/3190/5
[code]

[2019-05-08 14:51] mmattel opened #1173 "Missing image in ldap_proxy_cache_server_setup"
## What Needs to be Documented?
An image is missing in: https://doc.owncloud.com/server/admin_manual/configuration/ldap/ldap_proxy_cache_server_setup.html#configure-the-ldap-application

I can not find this image neither in this docs or in old docs.
[code]

## What Type Of Content Change Is This? (Optional)
- [ ] New Content Addition
- [ ] Old Content Deprecation
- [ ] Existing Content Simplificat

[2019-05-08 15:44] tboerger commented on #1172
The 10.2 branch have not been tested at all until today.

[2019-05-08 22:53] phil-davis commented on #1172
Then the problem has likely been waiting there for a while. I will diff between master and 10.2 branches and see what "backport" had some missing part.

[2019-05-09 07:00] #975 closed

[2019-05-09 07:21] #1055 closed

[2019-05-09 08:31] enbrnz opened #1181 "Contact information for troubleshooting out-dated"
## What Needs to be Documented?
In [General Troubleshooting](https://doc.owncloud.org/server/admin_manual/configuration/general_topics/general_troubleshooting.html#introduction) the IRC channel and the mailing list are still mentioned, however they are no longer active.

Also, there is no mention of [talk.owncloud.com](https://talk.owncloud.com/home)

## Where Does This Need To Be Documented?
This

[2019-05-09 09:10] michaelstingl commented on #1181
Here you can find our official recommendations:
https://owncloud.org/help/

(Footer on https://owncloud.org/ mentions IRC channel and the mailing list as well /cc @lefherz @hurradieweltgehtunter )

[2019-05-09 12:29] tboerger commented on #1172
That's the downside if people who branch off don't understand the build and test process ;)

[2019-05-10 01:34] phil-davis commented on #1172
Fixed by #1182

[2019-05-10 01:34] #1172 closed

[2019-05-10 09:59] micbar commented on #542
@settermjd See comment https://github.com/owncloud/docs/issues/542#issuecomment-483596088.

Could this unblock you? If not, please ping me :-)

[2019-05-10 11:03] #638 closed

[2019-05-10 11:13] settermjd commented on #1181
Thanks for linking to all of these @enbrnz & @michaelstingl

[2019-05-10 13:16] michaelstingl opened #1193 "[dev] [OCS] API for pending shares in 10.0.9+"
## What Needs to be Documented?

10.0.9 introduced pending shares. This also needs to be added to the developer docs. I'd assume it looks similar to pending [federated shares](https://doc.owncloud.com/server/developer_manual/core/ocs-share-api.html#federated-cloud-shares)

## Where Does This Need To Be Documented?

https://doc.owncloud.com/server/developer_manual/core/ocs-share-api.html

## Why Sh

[2019-05-10 13:22] phil-davis commented on #1193
The acceptance tests currently get pending/accepted/rejected/all shares with `getAllSharesSharedWithUser()`
https://github.com/owncloud/core/blob/master/tests/acceptance/features/bootstrap/Sharing.php#L1633

that uses a URL like:
[code]

[2019-05-10 13:25] michaelstingl commented on #1193
Hint from @DeepDiver1975 :

[2019-05-10 14:23] IljaN opened #1195 "Rate-Limiting"
## What Needs to be Documented?
Currently ownCloud deliberately does not provide any form of rate-limiting. The reason being that the product needs to integrate in to different environments with a diverse infrastructure which often already provide a specialized rate-limiting solution (nginx, haproxy, F5 etc.)

## Where Does This Need To Be Documented?
Advanced documentation / Hardening

## Why Sho

[2019-05-10 14:27] IljaN commented on #1195
@PVince81 mentioned that there should be a command which dumps all routes

[2019-05-10 22:52] phil-davis commented on #1195
[code]

[2019-05-11 09:45] michaelstingl opened #1197 "[desktop] stable 2.5 docs missing"
![ownCloud_Documentation_Overview____ownCloud_Documentation](https://user-images.githubusercontent.com/214010/57568009-a1bf1080-73e1-11e9-985f-956631604ad6.png)

## What Needs to be Documented?

ownCloud desktop sync client 2.5 is the current stable version, but it's not in the navigation. (2.6 is still alpha)

## Where Does This Need To Be Documented?

Somewhere in the config or in the navigation

[2019-05-11 10:02] tboerger commented on #1197
The 2.5 branch have never been migrated to the new format, that's why it's not listed here.

[2019-05-13 06:55] micbar commented on #265
@michaelstingl @pmaier1 Is there anything left open in this ticket?
Documentation?

[2019-05-13 09:56] settermjd commented on #1197
Migrating it would be an excellent test for [kramdown-asciidoc](https://github.com/asciidoctor/kramdown-asciidoc).

[2019-05-13 13:35] cortho opened #1199 "Can't link to some categories"
Similar to https://github.com/owncloud/docs/issues/800 I cannot link to some sub categories as well, e.g. Encryption or Server at https://doc.owncloud.org/server/admin_manual/configuration/
I guess there are several more.

Shouldn't every folder provide an index.html/adoc?

[2019-05-13 14:44] michaelstingl commented on #265
@settermjd I can't find a docs-PR linking to this issue? Already done?

[2019-05-14 12:03] settermjd commented on #1199
From reading through the [component index page](https://github.com/owncloud/client/pull/7187) section of the documentation, an `index.adoc` file has no special significance other than when present in the root directory of a module.

You can link to whatever page you want using xrefs. What are the specific pages that you're wanting to link to?

[2019-05-14 12:19] cortho commented on #1199
Thank you for clarification, then I misread tboerger's comment in #800

I wanted to link to ownCloud Server -> Admin Manual -> Configuration -> Encryption

When right-clicking did not reveal a link, I thought it would not be possible to link to that section. Now I found out, that https://doc.owncloud.org/server/admin_manual/configuration/files/encryption/ can be reached. (same for the breadcrumbs

[2019-05-14 12:55] michaelstingl commented on #800
@settermjd Why did you close this issue. Only 1 menu entry got fixed.

[2019-05-14 12:57] michaelstingl commented on #1199
Sounds like a duplicate for https://github.com/owncloud/docs/issues/800 , but it was closed. (accidentally by some automation magic?)

[2019-05-14 13:39] enbrnz opened #1203 "Remove page 'Linux Package Manager Installation'"
## What Needs to be Documented?
[This page](https://doc.owncloud.com/server/admin_manual/installation/linux_installation.html) is explaining how to install ownCloud using the package 'owncloud-files'. Searching through the any recent Ubuntu/Debian/CentOS/OpenSuse distribution, I could not find the package.

As the installation method is problematic anyway, perhaps it would be best to remove the pa

[2019-05-14 15:55] settermjd commented on #1203
Hey @enbrnz, thanks for reporting this!

After adding ownCloud's repository, as per the instructions at https://download.owncloud.org/download/repositories/stable/owncloud/index.html, `owncloud-files` will be available via your package manager. I'll get the relevant instructions added to https://doc.owncloud.com/server/admin_manual/installation/linux_installation.html.

[2019-05-14 16:14] settermjd commented on #800
Sorry @michaelstingl, I thought that the points were fixed in related PRs.

[2019-05-14 18:43] patrickjahns commented on #1203
@enbrnz
`owncloud-files` is very much relevant in the context for larger companies - they prefer to utilize packages

[2019-05-15 07:09] michaelstingl commented on #1203
@settermjd looks like that's the missing piece on https://doc.owncloud.com/server/admin_manual/installation/linux_installation.html

[2019-05-15 07:11] michaelstingl commented on #1203
Solution in this PR: https://github.com/owncloud/docs/pull/1205

@enbrnz works for you?

[2019-05-15 07:51] #1203 closed

[2019-05-15 08:03] settermjd commented on #542
Will check today.

[2019-05-15 08:06] settermjd commented on #632
Checking...

[2019-05-15 09:09] settermjd commented on #632
From what I've read in the documentation and from the experiments that I've run, when the `master` branch is included as a source for a playbook, the generated URL structure will have the content for the "master" branch appear as the "default".

For example:

- "master" branch URL: http://127.0.0.1:8080/server/admin_manual/release_notes.html.
- "10.0" branch URL: http://127.0.0.1:8080/server/10.0/

[2019-05-15 10:06] settermjd commented on #632
Here's the feedback that I've received from the Antora project lead in the Gitter (Antora/Users) forum:

[2019-05-15 11:31] hurradieweltgehtunter opened #1210 "wrong link in app dev code signing docs"
On this page: https://doc.owncloud.org/server/developer_manual/app/advanced/code_signing.html
it says to visit https://github.com/owncloud/appstore-issues for code signing an app. But the repo does not exist.

## What Type Of Content Change Is This? (Optional)
- [ ] New Content Addition
- [x] Old Content Deprecation
- [ ] Existing Content Simplification
- [ ] Bug Fix to Existing Content

## Which

[2019-05-15 11:32] hurradieweltgehtunter commented on #1210
whoops, wrong info. sorry

[2019-05-15 11:32] #1210 closed

[2019-05-15 11:36] JKawohl commented on #827
This addressed, and hopefully to your satisfaction.

[2019-05-15 11:36] #827 closed

[2019-05-15 12:24] enbrnz commented on #1203
Sorry for the late reply! All good!

[2019-05-16 09:13] voroyam opened #1212 "LDAP Docs improvements"
https://doc.owncloud.com/server/admin_manual/configuration/user/user_auth_ldap.html

- the link to the occ page links to users command, not specifically to the user:sync command
- the link to the cron job has no user:sync example

User sync has to be on the top of the document, since it's an important change from 9 to 10 and it's being at the bottom in a large text block with links to other parts

[2019-05-16 09:24] mmattel commented on #1173
I have found the image that can be used, just replace the wrong link with
`image:ldap-wizard-1-server.png[LDAP wizard, server tab]`

[2019-05-16 09:28] mmattel commented on #1212
@voroyam I am linking issue https://github.com/owncloud/docs/issues/1173 because that could be made in one shot so both ldap files would be corrected

[2019-05-16 09:39] #946 closed

[2019-05-16 09:55] jvillafanez commented on #1173
Not sure what I should do here...
I don't see any problem in using that image there. We should consider to update the screenshots at some point, maybe when the new LDAP interface is out is a good moment.

[2019-05-16 10:44] settermjd commented on #1212
@voroyam, where you wrote "_the link to the cron job has no user:sync example_", were you referring to http://127.0.0.1:8080/server/admin_manual/configuration/server/background_jobs_configuration.html#cron-jobs?

[2019-05-16 10:49] settermjd commented on #1212
@voroyam, with respect to your point below:

You can see in the screenshot below, that the information's only halfway down the page, and comes after the intro, configuration, and testing sections. I'd have thought that that would be the correct order.

![user ldap toc](https://user-images.githubusercontent.com/196801/57848283-bed85280-77d8-11e9-8430-09e42cabcda3.png)

I'm not against a restructure

[2019-05-16 13:21] jnweiger opened #1218 "consolidate different server installation docs"
We have
 * an excellent https://doc.owncloud.org/server/10.1/admin_manual/installation/deployment_recommendations.html which discusses several scenarios.
     - It has a reference to details regarding ubuntu 14.04 -- which is no longer supported
     - It is high level for the experienced sysadmin, but has no link to a step by step owncloud server installation.
 * https://doc.owncloud.com/server/a

[2019-05-16 13:22] jnweiger commented on #1218
@HanaGemela hope that may be helpful in future :-)

[2019-05-16 14:55] settermjd commented on #800
Do you want all category roots linked to a page, @michaelstingl?

[2019-05-16 17:07] voroyam commented on #1212
pr is merged, closing. Thanks @settermjd for your work

[2019-05-16 17:07] #1212 closed

[2019-05-17 09:15] michaelstingl commented on #800
Yeah, all items in the left navigation would be useful to get as link, so support, presales or marketing can use it to help users.

[2019-05-19 21:00] micbar commented on #632
@settermjd @michaelstingl Please clarify, what needs to be done.

[2019-05-20 07:13] michaelstingl commented on #632
My comment is no longer valid. I hide it.

[2019-05-20 10:09] #542 closed

[2019-05-20 10:22] settermjd commented on #265
@michaelstingl, not yet. I've only started documenting it today. Next question; is this only to be backported to 10.2?

[2019-05-20 11:01] settermjd commented on #265
After reading the acceptance tests, this looks straight-forward enough to me.

[2019-05-21 08:22] settermjd commented on #935
afaik this is now resolved, @phil-davis. Please re-open if not.

[2019-05-21 08:22] #935 closed

[2019-05-21 08:23] settermjd commented on #856
Closing, as the implementing PR, #1134, has been merged.

[2019-05-21 08:23] #856 closed

[2019-05-21 08:24] settermjd commented on #632
@micbar, master branch would need to be removed from the list of included branches in the available content sources.

[2019-05-21 08:29] settermjd commented on #411
Closing, as the related PRs (#860, #976) have been merged

[2019-05-21 08:29] #411 closed

[2019-05-21 08:30] #332 closed

[2019-05-21 08:38] micbar commented on #632
@settermjd who can make that change?

[2019-05-21 10:22] hurradieweltgehtunter commented on #1181
sorry for the late response.
fixed on owncloud.org

![image](https://user-images.githubusercontent.com/16665512/58088495-19035a00-7bc3-11e9-9051-7a82b66c2940.png)

[2019-05-21 11:38] settermjd commented on #255
Closing, as it appears that all the changes requested here have been implemented.

[2019-05-21 11:38] #255 closed

[2019-05-21 11:40] #1195 closed

[2019-05-21 12:06] settermjd commented on #310
Closing, as it appears that the required changes have been implemented, starting in 61e5bc21b4e566149bbba4a1c5fb5e80c319546c.

[2019-05-21 12:06] #310 closed

[2019-05-22 09:19] settermjd commented on #281
You [make a good point](https://github.com/owncloud/docs/issues/281#issuecomment-423923876). I'm thinking that the best option we have is to create an oC 11 milestone and add all PRs to it that only relate to that release.

[2019-05-22 10:30] settermjd commented on #1181
Thanks @hurradieweltgehtunter.

[2019-05-22 10:41] michaelstingl commented on #265
@settermjd yeah, 10.2+

[2019-05-22 10:43] settermjd commented on #1218
Thanks for creating this issue, @jnweiger. I'll get it actioned asap.

[2019-05-22 12:18] mmattel commented on #1218
Imho, deployment recommandation is different to server preparation. The first one is a layout guide.
As more you go into enterprise, as better the admins knowledge is required - else that would not work by design. What I could imagine is, to have additional server prep docs describing what you need to do to achieve more complex scenarious - but doesn´t that go too far  except maybe best practices

[2019-05-23 09:36] #1020 closed

[2019-05-23 10:55] settermjd commented on #632
@micbar, I can. Would be a tiny PR.

[2019-05-23 10:59] settermjd commented on #342
@pmaier1, Redis [has been documented](https://doc.owncloud.com/server/admin_manual/configuration/server/caching_configuration.html#redis). Do you want any further information added?

[2019-05-23 11:00] settermjd commented on #265
Thanks, @michaelstingl.

[2019-05-23 11:04] settermjd commented on #257
@pmaier1, the notifications that you have documented here, are these the only ones?

[2019-05-23 13:26] michaelstingl commented on #96
outdated

[2019-05-23 13:26] #96 closed

[2019-05-23 13:28] michaelstingl commented on #100
Series 1: 1-5 done: https://www.youtube.com/user/ownCloudofficial/videos

@spangtey could you make a playlist for them?

@settermjd What is the status of the sequel?

[2019-05-23 13:32] michaelstingl opened #1241 "Manage labels with .github/settings.yml and add p1-p4"
Check this example:
https://github.com/owncloud/phoenix/blob/master/.github/settings.yml

[code]

[2019-05-23 13:56] voroyam commented on #152
yes

[2019-05-23 13:56] #152 closed

[2019-05-24 08:03] settermjd opened #1243 "Move HSMDaemon documentation to the encryption section"
The HSM (Hardware Security Module) Daemon (hsmdaemon) documentation needs to be moved to the encryption section.

## What Needs to be Documented?

## Where Does This Need To Be Documented?

## Why Should This Change Be Made? (Optional)

It was something that was raised by @pmaier1 during discussions yesterday. He said that it makes no sense where it currently is.

## What Type Of Content Change Is

[2019-05-24 09:11] michaelstingl opened #1247 "[iOS] Initial docs for new ownCloud iOS app"
I'll provide the outline, some bullet points and screenshots. @settermjd I need your help to bring this to a proper format.

## Where Does This Need To Be Documented?

Top level in https://doc.owncloud.org/

## Why Should This Change Be Made? (Optional)

[New ownCloud iOS app](https://github.com/owncloud/ios-app) needs a new documentation.

## What Type Of Content Change Is This? (Optional)
- [x]

[2019-05-24 09:20] voroyam opened #1248 "Search"
I would like to understand how the search does the rating on results.

If I type in occ, I would think that the document with the occ in the name would be the first on the list, but it's not. I would like to understand how it's being calculated what get's more points.
Then the 10.1 version is rated higher on the list then 10.0. Is there a reason?

![image](https://user-images.githubusercontent.com

[2019-05-24 12:17] settermjd commented on #1247
Happy to help, @michaelstingl. Can you set an appropriate priority label for this issue?

[2019-05-24 12:21] settermjd commented on #1193
@michaelstingl / @phil-davis can one of you assign an appropriate priority label to this issue, pls?

[2019-05-24 12:22] tboerger commented on #1248
The ordering beside the score is undefined. The more often the searched keywords are present in a document the higher score it gets. With the same score the ordering could be random.

We are simply dropping all documents into elasticsearch without any further configuration.

If you got ideas how to improve it look at the index function at https://github.com/owncloud/docs/blob/master/generator/gene

[2019-05-24 12:23] tboerger commented on #1248
https://github.com/owncloud/docs-ui/issues/76 could be also relevant

[2019-05-24 12:27] settermjd commented on #1095
@PVince81, can you add a suitable priority label, pls?

[2019-05-24 12:29] settermjd commented on #917
@michaelstingl, can you add an appropriate priority label, pls?

[2019-05-24 12:32] settermjd commented on #875
Appears to have been implemented.

[2019-05-24 12:39] settermjd commented on #1248
Relates to #797.

[2019-05-24 12:40] settermjd commented on #1248
Thanks for the feedback, @tboerger.

[2019-05-24 12:54] settermjd commented on #618
I believe all the required fixes have been implemented.

[2019-05-24 12:54] #618 closed

[2019-05-24 12:59] settermjd commented on #765
Is this still a problem?

[2019-05-24 13:00] settermjd commented on #556
@haukman, can you add your feedback here, pls?

[2019-05-24 13:01] settermjd commented on #568
Understood. Thanks.

[2019-05-24 13:04] settermjd commented on #844
One small thing; there are no links on that page.

[2019-05-24 13:11] voroyam commented on #844
I think the bold ones should be links inside the docs, shouldn't they? That's what I meant with links :)

[2019-05-24 13:12] settermjd commented on #844
Thanks!

[2019-05-24 13:25] mmattel commented on #765
I think I fixed them all but needs a re-check to finally close

[2019-05-24 15:56] mmattel opened #1256 "LDAP docs may need an update"
## What Needs to be Documented?
See: https://github.com/owncloud/user_ldap/pull/165

## Where Does This Need To Be Documented?

## Why Should This Change Be Made? (Optional)

## What Type Of Content Change Is This? (Optional)
- [x] New Content Addition
- [ ] Old Content Deprecation
- [ ] Existing Content Simplification
- [ ] Bug Fix to Existing Content

## Which Manual Does This Relate To? (Option

[2019-05-24 16:04] michaelstingl opened #1257 "Invalid Piwik URL in 2.5 desktop docs"
[code]

## What Needs to be Documented?

`https//piwik.owncloud.org/` is missing the colon ("`:`" )

## Where Does This Need To Be Documented?

I think it needs a template fix in the `2.5` docs. `2.6` templates and `master` templates look different.

https://doc.owncloud.org/desktop/2.5/

## Why Should This Change Be Made? (Optional)

<img width="847" alt="Graylog_-_Dashboard_Docs_errors" src="htt

[2019-05-24 16:24] michaelstingl commented on #1173
Here is the wrong link:

https://github.com/owncloud/docs/blob/701e8904a4fc3c895580ca6a7e280e512040b4f1/modules/admin_manual/pages/configuration/ldap/ldap_proxy_cache_server_setup.adoc#L191-L193

This doesn't look nice in my statistics:

<img width="914" alt="Graylog_-_Dashboard_Docs_errors" src="https://user-images.githubusercontent.com/214010/58342605-1c137a00-7e51-11e9-835d-863b460331ba.png">

[2019-05-24 16:28] michaelstingl commented on #1257
Related: https://github.com/owncloud/docs/issues/1135

[2019-05-24 17:30] michaelstingl commented on #800
Looks like Developer Docs are affected too:
https://doc.owncloud.com/server/10.1/developer_manual/

<img width="1438" alt="ownCloud_Developer_Documentation____ownCloud_Documentation" src="https://user-images.githubusercontent.com/214010/58346052-2e45e600-7e5a-11e9-9904-5fdf0b7ca762.png">

<img width="847" alt="Graylog_-_Dashboard_Docs_errors" src="https://user-images.githubusercontent.com/214010/5

[2019-05-24 17:45] michaelstingl opened #1258 "Redirect needed source_installation ==> manual_installation"
I see requests for `admin_manual/installation/source_installation.html` everyday:

- https://doc.owncloud.com/server/10.0/admin_manual/installation/source_installation.html
- https://doc.owncloud.com/server/10.1/admin_manual/installation/source_installation.htm

It got renamed in https://github.com/owncloud/docs/pull/63

- https://doc.owncloud.com/server/10.0/admin_manual/installation/manual_insta

[2019-05-24 17:53] michaelstingl commented on #1135
I see a large amount of 404 because of bugs in the templates or missing JS files, CSS files, fonts etc:

<img width="849" alt="Graylog_-_Dashboard_Docs_errors" src="https://user-images.githubusercontent.com/214010/58347050-19b71d00-7e5d-11e9-9e46-b1ce5dafd929.png">

It was difficult to find the real problems with missing pages or redirects:

<img width="847" alt="Graylog_-_Dashboard_Docs_errors" s

[2019-05-24 18:11] michaelstingl opened #1259 "ownCloud server 10.2 docs missing !!"
Looks like the the 10.2 docs never got published:
- https://doc.owncloud.org/server/10.2
- https://doc.owncloud.com/server/10.2

<img width="1449" alt="ownCloud_Documentation_Overview____ownCloud_Documentation" src="https://user-images.githubusercontent.com/214010/58347716-dc538f00-7e5e-11e9-9164-ebb152d17ea1.png">

Related: https://github.com/owncloud/docs/issues/1135

## What Needs to be Documen

[2019-05-24 20:23] michaelstingl commented on #1247
I dumped everything in this PR https://github.com/owncloud/ios-app/pull/398

@settermjd please take over and let me know if you have any questions

[2019-05-27 08:31] settermjd commented on #1247
@michaelstingl, shall do.

[2019-05-27 08:37] voroyam commented on #1258
Thanks for spotting this @michaelstingl . Redirect should be easy to add.

If you are interested:

just add
`:page-aliases: <followed by the old path written in the nav.adoc>`

like this:

`:page-aliases: appliance/installation.adoc`

[2019-05-27 08:41] voroyam commented on #917
My PR is merged, was this what you had in mind @michaelstingl ?

[2019-05-27 09:08] settermjd commented on #1257
@michaelstingl, time permitting, can you review https://github.com/owncloud/docs-themes/pull/2 pls?

[2019-05-27 09:46] tboerger commented on #1257
I will fix the broken link manually as the old Sphinx-based docs are not built at all anymore.

[2019-05-27 09:59] #1173 closed

[2019-05-27 10:01] tboerger commented on #1257
I have updated the links to Piwik within the legacy docs now. Besides that I have also added the redirects for 10.2 to get rid of the 404 errors related to that at https://gitea.owncloud.services/devops/websites/commit/0794691c56de848c4ba352dea51707b8347a9d4c.

[2019-05-27 10:02] #1257 closed

[2019-05-27 10:27] #765 closed

[2019-05-27 10:29] settermjd commented on #603
Closing, as the required changes have been addressed.

[2019-05-27 10:29] #603 closed

[2019-05-27 10:59] michaelstingl commented on #917
Yeah, this looks much better now! 👍

[2019-05-27 10:59] #917 closed

[2019-05-27 11:01] michaelstingl commented on #1258
cool. thanks for explaining!

[2019-05-27 11:09] tboerger commented on #1258
We should add that for all the redirects to get rid of the static go.php redirects by nginx.

[2019-05-28 07:04] #1258 closed

[2019-05-28 07:45] michaelstingl commented on #1259
10.2 deployed

[2019-05-28 07:45] #1259 closed

[2019-05-28 12:59] #265 closed

[2019-05-29 12:12] voroyam opened #1288 "Add Redis to deployment recomendations"
https://doc.owncloud.com/server/admin_manual/installation/deployment_recommendations.html#scenario-2-mid-sized-enterprises

we need to add redis here both in the picture and in the description, also we should tell what we recommend that the redis server should run in a separate node.

[2019-05-29 12:24] settermjd commented on #333
@pmaier1, can you review the changes in this PR and confirm if all of the requirements have been met?

[2019-05-29 13:39] voroyam commented on #1288
https://github.com/owncloud/docs/pull/1289

[2019-05-29 16:31] voroyam opened #1290 "Remove Upload Size from Docs."
https://doc.owncloud.com/server/10.0/admin_manual/configuration/files/big_file_upload_configuration.html#configuring-upload-limits-within-the-gui

this needs to be removed imho since there is no such option anymore since 10.0 release.

[2019-05-29 16:35] voroyam commented on #1290
https://github.com/owncloud/docs/pull/1291

[2019-06-07 20:44] micbar commented on #632
@settermjd could you link to the PR's?

[2019-06-07 20:50] micbar commented on #1247
@settermjd @michaelstingl Any status update?

[2019-06-07 20:51] micbar commented on #968
@settermjd please provide a status update.

[2019-06-12 14:10] pmaier1 commented on #333
Well, https://github.com/owncloud/docs/issues/333#issuecomment-394714462 is more than one year old now and I don't remember exactly. I think my only point here was that an admin who sets virus scanning up in a production environment has to properly configure the app before enabling it using `occ config:app:set files_antivirus`. Otherwise the installation will not accept any uploads until the app i

[2019-06-12 14:16] pmaier1 commented on #257
So far, this should be it.

[2019-06-14 07:54] jnweiger opened #1314 "Documentation of activity app got lost"
The activity app, as e.g. seen in server 10.1 has this intro text:
![image](https://user-images.githubusercontent.com/1108546/59492753-e9760380-8e89-11e9-9486-cb440716edb0.png)

The link Admin Documentation points to https://doc.owncloud.org/server/10.1/admin_manual/configuration_server/activity_configuration.html which is a 404.

[2019-06-14 10:12] jnweiger commented on #1314
The new URL seems to be https://doc.owncloud.org/server/10.1/admin_manual/configuration/server/activity_configuration.html

[2019-06-14 10:27] michaelstingl commented on #1314
Is this just wrong in the Marketplace listing, or did this change in the past? (`…/configuration_server/… ` ==> `…/configuration/server/… `)

Fix in the Marketplace or add a general redirect?

[2019-06-14 20:58] micbar commented on #968
@settermjd please provide a status update

[2019-06-17 09:33] settermjd opened #1321 "Fix 404s to admin_manual/configuration/files/encryption_configuration.html"
## What Needs to be Documented?

Fix 404 requests to admin_manual/configuration/files/encryption_configuration.html with a page redirect.

## Where Does This Need To Be Documented?

This can be fixed by creating [an Antora page-redirect](https://matthewsetter.com/create-redirects-in-antora/).

## Why Should This Change Be Made? (Optional)

Graylog shows that there are multiple 404 requests being m

[2019-06-17 10:52] jesmrec opened #1323 "Android 2.11 documentation upgrade"
## What Needs to be Documented?

New features in version 2.11 to be included in official documentation

## Where Does This Need To Be Documented?

official documentation of the platform -> https://doc.owncloud.com/android/

## Why Should This Change Be Made? (Optional)

Keep documentation upgraded with the latest changes

## What Type Of Content Change Is This? (Optional)
- [X] New Content Additio

[2019-06-17 10:53] jesmrec commented on #1323
I will add here the changes to be done.

[2019-06-17 11:15] jesmrec commented on #1323
### Section: Create New Content

https://doc.owncloud.com/android/#creating-new-content

**Reason for the change**: We have merged the `Upload` and the `Content from other apps` buttons into an unique option `Upload` . With that option you can upload content from everything (photos, internal storage, other apps etc...)

**Changes:**

1) The introduction text

`To add new content, whether files, fo

[2019-06-17 11:29] jesmrec commented on #1323
### Section: Upload Pictures Directly From The Camera

https://doc.owncloud.com/android/#upload_pictures_directly_from_the_camera_label

**Reason for the change:** screenshots are outdated. The floating button shows only two options, and the available offline mark is now a purple circle.

**Changes:**

Replace the first two screenshots for the following ones (third one is still valid):

![device-2

[2019-06-17 11:31] jesmrec commented on #1323
### Section: Select All and Inverse in Uploads View

https://doc.owncloud.com/android/#select-all-and-inverse-in-uploads-view

**Reason for the change:**  Manual upload picker was removed.

**Changes: Remove this section. The upload picker is now android native, and is not part of the app itself anymore.

[2019-06-17 11:38] jesmrec commented on #1323
### Section: Make Folders Available Offline

https://doc.owncloud.com/android/#make-folders-available-offline

**Reason for the change:**  Screenshots are outdated. Available offline mark is now a purple circle

**Changes:**

1) This paragraph:

`When the folders have been locally cached, the icon will change to have a yellow, down-arrow icon in the bottom right-hand corner, as in the screenshot b

[2019-06-17 11:43] jesmrec commented on #1323
### Section: Connecting to your owncloud server

https://doc.owncloud.com/android/#connecting-to-your-owncloud-server

**Reason for the change:** This is not a matter of Android 2.11, but the screenshot in such section was taken several years ago. Feel free to address that to another PR, since this is not something new in 2.11.

**Changes**: Change the current screenshot for this one:

![Screensho

[2019-06-17 11:44] jesmrec commented on #1323
Those were the changes.

Now, new stuff to be included

[2019-06-17 12:00] jesmrec commented on #1323
### New Feature: Document Provider integration [WIP]

**What is it about:** Document provider is an Android feature that provides integration with other apps. It is accessed from the native apps `Files` (Android O), or `Downloads` (Android P and older). Within those apps you are able to perform actions as well as in the ownCloud app.

**Where to include it:**: Inside ' Create new content` section

[2019-06-17 21:39] michaelstingl opened #1324 "Password Policy app no longer Enterprise"
Password Policy app no longer Enterprise

## What Needs to be Documented?

Password Policy app no longer Enterprise

## Where Does This Need To Be Documented?

https://github.com/owncloud/docs/blob/f29124a8e761a3a5c4549085465836b45125f3a8/modules/admin_manual/pages/configuration/files/file_sharing_configuration.adoc#L43-L44

## Why Should This Change Be Made? (Optional)

## What Type Of Content Ch

[2019-06-18 06:52] jesmrec commented on #1323
### New Feature: Logs

**Where to include it**: Inside  `Application Settings` section (https://doc.owncloud.com/android/#application-settings), at the end of the document

**Title:** Logs

**Text**: `If you detect a problem or bug, you can send us logs about the problem. You will find the logs section in the Settings view, after enabling it. To enable, you have to tap five times on the Version an

[2019-06-18 06:52] jesmrec commented on #1323
That's all for 2.11. If you need anything else, please ping.

[2019-06-19 10:10] phil-davis opened #1328 "Sharing API claims that permission cannot be changed for a public link share"
## What Needs to be Documented?
Remove the note in the sharing API docs:
[code]

## Where Does This Need To Be Documented?
 modules/developer_manual/pages/core/ocs-share-api.adoc

## Why Should This Change Be Made? (Optional)
We have acceptance tests that demonstrate changing the permissions of a public link share. So it is possible. And in discussion with others, it should be possible (it is actu

[2019-06-19 10:23] phil-davis commented on #1328
PR to fix #1329

[2019-06-19 10:45] voroyam opened #1330 "10.1 Branch: OCC Document is buggy"
The occ command document seems to be buggy.

- The search picks up on a title + a sub header instead of just the title
- The TOC is absolutely wrong.

https://doc.owncloud.com/server/10.1/admin_manual/configuration/server/occ_command.html

https://github.com/owncloud/docs/blob/10.1/modules/admin_manual/pages/configuration/server/occ_command.adoc

[2019-06-21 09:07] settermjd commented on #968
@micbar, just reading through this now.

[2019-06-21 14:10] micbar commented on #632
@settermjd Could you show us the current state of this ticket?
What effort would it be to finish it?

[2019-06-23 13:39] VicDeo opened #1338 "Document how to theme non-core app assets in app-themes"
## What Needs to be Documented?
Theming apps
1. create directory `apps` under your theme:
`owncloud/apps/theme-example/apps`
2. create a directory for the asset you want to theme under the newly created directory:
`owncloud/apps/theme-example/apps/files_sharing/img`
3 Put custom `folder-waiting.svg` into `owncloud/apps/theme-example/apps/files_sharing/img`

Note: do not copy the entire app, only t

[2019-06-24 08:25] settermjd commented on #968
@micbar, I read through this last week. I estimate 1 working day, at the most, to get this completed.

[2019-06-24 08:26] settermjd commented on #1247
It's now in review.

[2019-06-24 09:04] michaelstingl commented on #1247
You didn't add reviewers to the PR?

[2019-06-24 09:14] micbar commented on #968
@settermjd Thank you.

[2019-06-24 15:09] settermjd commented on #1193
@michaelstingl, which commits / issues relate specifically to this issue?

[2019-06-24 15:16] settermjd commented on #1193
At a guess, I only estimate a 1/2 day for this.

[2019-06-24 15:48] settermjd commented on #1193
@michaelstingl / @phil-davis where can I find out more information about this?

[2019-06-24 15:54] michaelstingl commented on #1193
@hosy you did reverse engineer pending user / group shares. Any hints?

[2019-06-25 11:29] voroyam opened #1346 "WebDav document with broken links"
Internal Links are broken on this page:

https://doc.owncloud.com/server/admin_manual/configuration/files/external_storage/webdav.html

https://github.com/owncloud/docs/blob/master/modules/admin_manual/pages/configuration/files/external_storage/webdav.adoc

[code]

[2019-06-25 11:44] #800 closed

[2019-06-25 12:35] #333 closed

[2019-06-26 09:53] michaelstingl opened #1356 "Link docs for new iOS app"
## What Needs to be Documented?

New awesome docs for new awesome iOS app should be accessible from `https://doc.owncloud.org/` and `https://doc.owncloud.com/`

Related:
- https://github.com/owncloud/docs/issues/1247
- https://github.com/owncloud/ios-app/pull/398

Existing docs for legacy iOS app need to be kept for a while.

## Where Does This Need To Be Documented?

<img width="881" alt="ownClou

[2019-06-27 16:22] michaelstingl commented on #1356
@settermjd When will the changes from https://github.com/owncloud/docs/pull/1358 be deployed? Does it need backport or something? /cc @tboerger

[2019-07-01 08:13] settermjd commented on #1356
The build is currently broken, which prevents the changes from being deployed. This should be fixed when a pending PR is reviewed and merged.

[2019-07-01 10:24] michaelstingl commented on #1356
link?

[2019-07-01 10:32] micbar commented on #1328
@settermjd Please check If we need this in other docs too.

[2019-07-01 14:07] patrickjahns opened #1365 "Improve Client Configuration documentation"
## What Needs to be Documented?
The client provides various configuration options - however not all of them are documented.
For 2.5 an overview of available configuration options is in the code here:
https://github.com/owncloud/client/blob/2.5/src/libsync/configfile.cpp#L51-L94

## Where Does This Need To Be Documented?
Configuration File in Client Documentation
https://doc.owncloud.org/desktop/ad

[2019-07-01 14:08] patrickjahns commented on #1365
@michaelstingl
please state which ones need to be documented, and which ones are better left untouched

[2019-07-01 14:33] michaelstingl commented on #1365
@HanaGemela After the 2.6.0 release, please check with @owncloud/desktop-core-developers which parameters are still supported. Please remove all from the docs that are no longer working.

[2019-07-01 15:02] pako81 commented on #370
did we make any progress in documenting this?

[2019-07-01 15:04] michaelstingl commented on #370
No, deprecated in a few months because of the new iOS app. @ChrisEdS can assist if necessary.

[2019-07-02 07:17] DeepDiver1975 opened #1366 "New API for 10.3: trashbin api via webdav endpoint"
## What Needs to be Documented?
refs https://github.com/owncloud/core/pull/35716

10.3 will come with a new api on webdav for accessing the trashbin - including restore operations and permanent delete.

Details on the API can be found here https://github.com/owncloud/core/pull/35636

## Where Does This Need To Be Documented?
Server API/WebDAV

## What Type Of Content Change Is This? (Optional)
- [

[2019-07-02 08:23] michaelstingl commented on #1356
@settermjd How can I help to get this deployed?

[2019-07-03 13:45] DeepDiver1975 commented on #1193
@settermjd you basically have to add the state parameter in here https://github.com/owncloud/docs/blob/143bdefd67f2fd995bb1e0279b2847bda9c1cdf4/modules/developer_manual/pages/core/apis/ocs-share-api.adoc#get-shares-from-a-specific-file-or-folder

[2019-07-04 06:04] ho4ho opened #1376 "Third party apps clarification"
## What Needs to be Documented?
https://doc.owncloud.org/server/10.2/admin_manual/maintenance/manual_upgrade.html#review-third-party-apps

added / linked to:

https://doc.owncloud.org/server/10.2/admin_manual/maintenance/package_upgrade.html

## Where Does This Need To Be Documented?
Above links

## Why Should This Change Be Made? (Optional)
Help by issues like https://github.com/owncloud/core/iss

[2019-07-04 11:18] #1324 closed

[2019-07-04 13:11] #1356 closed

[2019-07-04 13:11] michaelstingl commented on #1356
Finally !!! https://doc.owncloud.com/ios-app/

[2019-07-04 13:21] michaelstingl commented on #1247
Finally !!! https://doc.owncloud.com/ios-app/

[2019-07-04 13:21] #1247 closed

[2019-07-04 13:24] micbar opened #1387 "New -y flag for encrypt-all command"
Add the new flag for the encryption command to the docs

## What Needs to be Documented?
The changes from this PR https://github.com/owncloud/core/pull/35606 need to be documented.

The Release Notes for 10.2.1 cover it pretty well.
https://doc.owncloud.com/server/admin_manual/release_notes.html#changes-in-10-2-1

## Where Does This Need To Be Documented?
Admin Manual

## Why Should This Change Be

[2019-07-04 13:31] #563 closed

[2019-07-04 13:58] michaelstingl opened #1388 "Save vertical space in the code examples of the API docs"
## What Needs to be Documented?

<img width="821" alt="OCS_Share_API____ownCloud_Documentation" src="https://user-images.githubusercontent.com/214010/60671618-c11f6a80-9e73-11e9-8a81-1f1aa073826e.png">

## Where Does This Need To Be Documented?

- API Docs

## Why Should This Change Be Made? (Optional)

The different code examples in the API docs need very much vertical space, so it's breaks the f

[2019-07-04 13:59] michaelstingl commented on #1388
@settermjd Please check if there's a quick and simple approach to improve here. Otherwise I'd postpone…

[2019-07-04 14:04] tboerger commented on #1356
I dislike the `ios-app` naming. maybe you should rename the legacy one and just name it `ios` like it's done for `android`.

[2019-07-04 19:18] michaelstingl commented on #1356
Yeah, that was exactly my plan 👍

[2019-07-05 08:46] #1314 closed

[2019-07-08 08:41] settermjd commented on #1388
@michaelstingl, shall do. I believe that there may be a community contribution that makes this possible. I'll have to do some research to find out.

[2019-07-08 09:25] settermjd commented on #1388
Thanks to [an extension from Antora project lead, Dan Allen](https://gitlab.com/antora/antora-asciidoctor-extensions/tree/master/tabs-block), I've gotten a basic implementation of tabs working in the documentation. Here's a rudimentary example of what it looks like, without any further styling:

![Bildschirmfoto 2019-07-08 um 11 24 09](https://user-images.githubusercontent.com/196801/60799204-ffb6

[2019-07-08 10:36] #1346 closed

[2019-07-08 11:02] settermjd commented on #1388
I've refined the tabs CSS (but will leave further styling to others). Below is a working example:

![Bildschirmfoto 2019-07-08 um 13 00 49](https://user-images.githubusercontent.com/196801/60805504-96d5f180-a180-11e9-9b2c-15a1400055c2.png)
![Bildschirmfoto 2019-07-08 um 13 00 56](https://user-images.githubusercontent.com/196801/60805505-96d5f180-a180-11e9-98ea-e3c76e7df358.png)

[2019-07-08 13:59] settermjd commented on #1366
Successfully tested all functionality and am working through documenting the API endpoints.

[2019-07-09 11:47] #1387 closed

[2019-07-11 08:23] #1366 closed

[2019-07-11 15:53] surapuramakhil opened #1438 "subscription-manager is not installed by default."
https://doc.owncloud.org/server/10.2/admin_manual/installation/manual_installation.html

pls, refer output of my shell so that docs can be updated.

`sudo subscription-manager repos --enable rhel-server-rhscl-7-eus-rpms`
output `sudo: subscription-manager: command not found`

## What Needs to be Documented?

## Where Does This Need To Be Documented?

## Why Should This Change Be Made? (Optional)

[2019-07-11 17:47] surapuramakhil opened #1439 "Configure the Web Server part - commands needed sudo rights"
## What Needs to be Documented?

few console commands need sudo permissions. in ubuntu

## Where Does This Need To Be Documented?

https://doc.owncloud.org/server/10.2/admin_manual/installation/manual_installation.html#install-owncloud

## Why Should This Change Be Made? (Optional)

IN Configure the Web Server part

console commands should be prepended with sudo.

## What Type Of Content Change Is

[2019-07-12 07:55] #1256 closed

[2019-07-12 10:33] settermjd commented on #1388
Closing as #1397, #1398, and owncloud/docs-ui#82, which implement this functionality, have been merged.

[2019-07-12 10:33] #1388 closed

[2019-07-12 10:37] settermjd commented on #1243
Closing as no longer relevant.

[2019-07-12 10:37] #1243 closed

[2019-07-12 10:38] settermjd commented on #1323
@jesmrec, is this still required, or was it implemented already?

[2019-07-12 10:39] settermjd commented on #1288
Closing as the implementing PR's been merged.

[2019-07-12 10:39] #1288 closed

[2019-07-12 10:40] settermjd commented on #1199
Closing as this has been implemented.

[2019-07-12 10:40] #1199 closed

[2019-07-12 10:41] settermjd commented on #1193
Closing as this has been implemented.

[2019-07-12 10:42] settermjd commented on #1321
Closing, as this has been implemented.

[2019-07-12 10:42] #1321 closed

[2019-07-12 10:43] settermjd commented on #894
Closing as Ubuntu is the only distro being documented from this point onward.

[2019-07-12 10:43] #894 closed

[2019-07-15 10:12] voroyam commented on #695
@michaelstingl I would love to get together and exchange concrete plans for restructuring the user docs.

[2019-07-15 13:15] voroyam commented on #1330
fix: https://github.com/owncloud/docs/pull/1460

[2019-07-15 13:16] voroyam commented on #1290
merged, closing

[2019-07-15 13:16] #1290 closed

[2019-07-15 13:18] voroyam commented on #1248
the other issues are better for finding a solution than this one.

[2019-07-15 13:18] #1248 closed

[2019-07-15 13:37] voroyam commented on #535
merged, closing

[2019-07-15 13:37] #535 closed

[2019-07-16 08:11] voroyam opened #1461 "Appliance ClamAV wrong document link"
This is old and wrong:
https://github.com/owncloud/docs/edit/master/modules/admin_manual/pages/appliance/Clamav.adoc

This was changed to have lower case file name -> clamav.adoc and moved to /appliance/configuration/ folder. In the nav.adoc it's written correctly:

**** xref:appliance/configuration/clamav.adoc[ClamAV]

which is also the name of the document:
https://github.com/owncloud/docs/blob/

[2019-07-16 09:20] voroyam commented on #987
https://github.com/owncloud/docs/pull/1463

[2019-07-16 09:21] voroyam commented on #987
https://github.com/owncloud/docs/pull/1462

[2019-07-16 09:56] voroyam commented on #1330
fixed and merged, closing

[2019-07-16 09:56] #1330 closed

[2019-07-16 09:58] voroyam commented on #987
https://github.com/owncloud/docs/pull/1464/files

[2019-07-16 10:16] pmaier1 opened #1465 "Document Media Viewer"
## What Needs to be Documented?

New Media Viewer app (`files_mediaviewer`; https://marketplace.owncloud.com/apps/files_mediaviewer) that replaces `gallery` and `files_videoplayer`. Blog post: https://owncloud.org/news/good-bye-gallery-say-hi-to-the-new-media-viewer/

- oC community (GPLv2)
- Replaces gallery and files_videoplayer => please remove before installing
- Same basic feature set as old

[2019-07-16 11:03] voroyam opened #1466 "add reference links to let's encrypt index page"
https://doc.owncloud.com/server/10.2/admin_manual/installation/letsencrypt/

here we should add the links for the sub documents

[2019-07-16 11:04] voroyam opened #1467 "remove unnecessary variables"
https://doc.owncloud.com/server/admin_manual/installation/ubuntu_18_04.html

variables like webserver user = www-data and sudo -u were added to this document causing errors in some commands.

[2019-07-17 07:04] voroyam commented on #1467
https://github.com/owncloud/docs/pull/1469

[2019-07-17 07:18] voroyam commented on #1466
https://github.com/owncloud/docs/pull/1471

[2019-07-17 07:29] voroyam commented on #879
Closing this, opened issue in core

https://github.com/owncloud/core/issues/35856

[2019-07-17 07:29] #879 closed

[2019-07-17 08:15] voroyam opened #1472 "Development Environment Setup"
After a conversation with @michaelstingl and @settermjd I decided to make an issue here, because chat is fleeting.

We came to a conclusion that we all can save time when we have the same development / testing conditions.

At the moment development, documentation and support have each a local testing environment.
The huge drawback of this is, that each department has to spend time to research how

[2019-07-17 08:23] voroyam commented on #859
https://github.com/owncloud/docs/pull/1473

[2019-07-17 09:18] michaelstingl commented on #1472
Not sure what "one global testing environment" means? One ownCloud instance? That doesn't scale.

Everybody should be able to fire up a Hetzner Wölkchen. (coordinate with your teamlead/supervisor and admin team)

Setups can be documented with a few bullet points, but better in a `docker-compose` file or an Ansible playbook. Worst cast, snapshot the Hetzner Wölkchen, so dev can handover to qa and d

[2019-07-17 09:19] michaelstingl commented on #1472
Work continues in internal tickets…

[2019-07-17 09:19] #1472 closed

[2019-07-17 09:28] voroyam commented on #844
https://github.com/owncloud/docs/pull/1474

[2019-07-17 10:27] settermjd commented on #674
Hi, @karakayasemi. As part of completing this issue, I've installed the latest version of `twofactor_totp` from the ownCloud Marketplace (v0.6.0) in my development installation of ownCloud, but have been unable to replicate the stated change in functionality, as described in https://github.com/owncloud/twofactor_totp/pull/38.

If "**Activate TOTP**" is checked, the following JSON response is retur

[2019-07-17 11:37] karakayasemi commented on #674
In your tests, you are activating totp for the admin and trying to use same admin account for api call. Currently, when 2FA is activated on an account, authorization with username-password is not possible via API's. The account should authenticate via App passwords when using API's. It is similar on clients. When 2FA is enabled for an user, the user can only login clients via app password.

So, ei

[2019-07-17 11:44] settermjd commented on #674
Thank you for the clarification.

[2019-07-18 14:30] voroyam commented on #774
https://github.com/owncloud/docs/pull/1478

[2019-07-18 14:30] voroyam commented on #774
fixed and merged

[2019-07-18 14:30] #774 closed

[2019-07-18 14:51] voroyam commented on #309
fixed in the new docs

[2019-07-18 14:51] #309 closed

[2019-07-18 14:51] #303 closed

[2019-07-18 14:53] #349 closed

[2019-07-18 15:09] #331 closed

[2019-07-19 14:01] voroyam commented on #1467
fixed, merged, backported

[2019-07-19 14:01] #1467 closed

[2019-07-19 14:13] voroyam commented on #1466
PR merged, backported, and fixed the backporting failure .

[2019-07-19 14:13] #1466 closed

[2019-07-19 14:31] voroyam commented on #987
fixed, merged, backported

[2019-07-19 14:31] #987 closed

[2019-07-19 16:30] voroyam commented on #420
https://github.com/owncloud/docs/pull/1500

[2019-07-19 16:51] voroyam commented on #859
merged, backported

[2019-07-19 16:51] #859 closed

[2019-07-19 17:01] voroyam commented on #844
merged, backported

[2019-07-19 17:01] #844 closed

[2019-07-19 17:02] voroyam commented on #693
fixed. closing

[2019-07-19 17:02] #693 closed

[2019-07-19 17:03] voroyam commented on #575
fixed, merged

[2019-07-19 17:03] #575 closed

[2019-07-19 17:04] voroyam commented on #555
fixed, merged. closing

[2019-07-19 17:04] #555 closed

[2019-07-19 17:05] voroyam commented on #531
fixed by https://github.com/owncloud/docs/pull/1489

closing

[2019-07-19 17:05] #531 closed

[2019-07-19 21:08] voroyam commented on #420
merged, backported

[2019-07-19 21:08] #420 closed

[2019-07-19 21:32] voroyam commented on #534
fixed with https://github.com/owncloud/docs/pull/1507

[2019-07-19 21:43] voroyam commented on #534
merged, backported

[2019-07-19 21:43] #534 closed

[2019-07-21 15:44] ho4ho commented on #1465
<- Interested how full uninstall old gallery database

[2019-07-22 07:19] #674 closed

[2019-07-22 07:41] #968 closed

[2019-07-22 08:04] jesmrec commented on #1323
@settermjd what do you mean? these are the changes to be included in documentation after the Android 2.11 release. I tried to detail it, so it is only needed to format, so it will be part of https://doc.owncloud.com/android/.

do i miss something?

[2019-07-22 08:36] DeepDiver1975 commented on #1465
- thubnails dont need to be removed - they are generated and maintained by the owncloud server aka core
- gallery brings no own database tables

There is no real clean up necessary

[2019-07-22 09:06] ho4ho commented on #1465
Thanks for clarify :+1:

[2019-07-22 09:09] ho4ho commented on #1082
-> https://github.com/owncloud/docs/issues/1465#issuecomment-513696975

[2019-07-22 09:44] micbar opened #1514 "Inital Docs for Full Text Search"
We are in the process of releasing Full Text Search App for the first Time

## What Needs to be Documented?

1) Enable App
2) Assuming that you have a working ElasticSearch Server
3) Configure the app (UI, Screenshot)
4) Configure group and search settings (OCC)
5) Use the occ commands correctly
6) Troubleshooting

Good Starting Point:
https://github.com/owncloud/search_elastic/blob/7b0e6eb7fb844e

[2019-07-22 10:26] voroyam commented on #1439
This issue can be closed as the part of the docs has been moved to central

[2019-07-22 10:27] voroyam commented on #1438
The rhel ownCloud installation has been moved to central.

[2019-07-22 10:31] voroyam commented on #1439
@jnweiger is this what you had in mind?

https://doc.owncloud.com/server/10.2/admin_manual/installation/ubuntu_18_04.html

[2019-07-22 10:31] voroyam commented on #1218
@jnweiger is this what you had in mind?

https://doc.owncloud.com/server/10.2/admin_manual/installation/ubuntu_18_04.html

[2019-07-22 10:40] voroyam commented on #1181
Any idea what that is?

The ownCloud User mailing list

[2019-07-22 11:31] voroyam commented on #1338
@ChrisEdS can you test this and then we can document this together?

[2019-07-22 11:51] voroyam commented on #426
@micbar anything to add here?

![image](https://user-images.githubusercontent.com/24212810/61630377-d542d480-ac87-11e9-8777-d38000f2c4e8.png)

[2019-07-22 11:54] voroyam commented on #767
@mmattel @settermjd as far as I can see the changes were implemented since the script does exactly what @mmattel wanted. Right?

[2019-07-22 11:57] voroyam commented on #402
Since the debian docs are no longer part of the official ownCloud docs I documented in in the central forum for ownCloud.
https://central.owncloud.org/t/setting-locale-to-en-us-utf-8/21076

[2019-07-22 12:03] micbar commented on #426
"Get Shares Recipients" has no content.

[2019-07-22 12:41] voroyam commented on #426
So what has to be added?

I am confused because you wrote lastly to @settermjd that the only thing to change is the title of the section.

Now I see the changed section title and don't understand what is needed to close this issue. If @settermjd has more info to fix this then I would let him do the fix, but in this issue there has not been progress since 21 Dec 2018

[2019-07-22 12:43] settermjd commented on #1465
@pmaier1, I found the configuration snippet below, in https://github.com/owncloud/gallery#supporting-more-media-types, which you linked to above, however it doesn't quite work in the Media Player app.

[code]

Specifically:

- PNG, JPEG, GIF, and TIFF images render correctly, both as thumbnails and in the image image preview window.
- Photoshop files only render a thumbnail, but aren't rendered in

[2019-07-22 12:50] voroyam commented on #1181
https://github.com/owncloud/docs/pull/1522

[2019-07-22 13:04] micbar commented on #426
1) Remove Get All Shares
2) Name it Get Shares Recipients
3) Change `Syntax: /shares` to `Syntax: /sharees`

[2019-07-22 13:13] settermjd commented on #1465
I've revised the preview providers functionality to remove documentation for Illustrator, Postscript, and Photoshop support, and qualified support for TIFF images.

[2019-07-22 13:21] voroyam commented on #426
https://github.com/owncloud/docs/pull/1523

@micbar

[2019-07-22 13:38] mmattel commented on #1465
@DeepDiver1975 , just a note

not wrong, but also not true. Core does only create thumbs, but ist does not delete, so you get orphans. A lot of orphans physically and in the database. Just search for orphans in issue/core to read more about. oC should take care of it. It would have had been cool if the new mediaviewer emtied on first run the thumbnails for the user and recreates them on demand...

[2019-07-22 13:51] DeepDiver1975 commented on #1465
Nevertheless. Nothing related to the Gallery removal

[2019-07-22 13:58] voroyam commented on #95
https://github.com/owncloud/docs/blob/master/docs/style-guide.md

This is what we came up in the Knowledge sharing session.

Do you have something to add to this or can this issue be closed?

[2019-07-22 14:05] voroyam commented on #127
@micbar @settermjd looks like I changed the screenshot and either did not know that there is this issue or have forgotten to write here. ( I think I saw and fixed it without knowing this issue)

I think this is resolved, isn't it?

[2019-07-22 14:05] voroyam commented on #127
https://doc.owncloud.com/server/10.1/admin_manual/installation/apps_management_installation.html#viewing-enabled-apps

[2019-07-22 14:06] voroyam commented on #127
![image](https://user-images.githubusercontent.com/24212810/61638870-98cca400-ac9a-11e9-8a7b-5e49cfa34d7e.png)

[2019-07-22 14:06] #426 closed

[2019-07-22 14:47] voroyam commented on #146
Isn't it solved by https://doc.owncloud.org/server/10.0/admin_manual/configuration/files/encryption/encryption_configuration_quick_guide.html ?

This new document provides the correct commands for enabling and disabling encryption.

[2019-07-22 15:19] voroyam commented on #157
https://github.com/owncloud/docs/pull/1528

[2019-07-22 15:19] voroyam commented on #157
Here is a new migration guide. If it's merged, we can close this.

[2019-07-22 17:13] ho4ho commented on #402
Not only specify by Debian ?

[2019-07-22 17:42] ho4ho commented on #1082
Also fix by https://github.com/owncloud/docs/pull/1515 ?

[2019-07-22 17:54] ho4ho commented on #1465
Checked data folder, still see old ``gallery`` folder:

/var/www/owncloud/data/<username>/gallery/<username>/

Possible delete?

[2019-07-22 22:00] voroyam commented on #402
Are you capable of writing full thoughts?

Like full sentences and not "drive-by-questions"?

[2019-07-23 09:00] settermjd commented on #1465
Is that an older installation, @ho4ho, because I don't see such a folder on a recent installation when using the gallery app.

[2019-07-23 09:42] #1376 closed

[2019-07-23 11:24] ho4ho commented on #1465
Yes, older updated install (can not renember, maybe 9.0 :-/)

[2019-07-23 12:03] voroyam commented on #100
@settermjd any update?

[2019-07-23 12:09] voroyam commented on #157
merged and backported. closing.

[2019-07-23 12:09] #157 closed

[2019-07-23 12:56] voroyam commented on #100
@michaelstingl playlist is now visible at https://www.youtube.com/user/ownCloudofficial/playlists

[2019-07-23 13:22] voroyam commented on #237
pr created.

[2019-07-23 14:56] tboerger commented on #100
I guess he got to produce the second series.

[2019-07-23 16:12] voroyam commented on #251
Apparently there are no limitations on the passwords, spaces and § were fixed in prior PRs.

Closing.

[2019-07-23 16:12] #251 closed

[2019-07-23 16:15] voroyam commented on #100
He has, the question is when :)

The first series is very relaxing and educational

[2019-07-23 16:16] #237 closed

[2019-07-24 03:52] phil-davis commented on #251
Note: you cannot set your password to:
- just 1 or more space characters
- the single character "0"
In both cases the webUI complains "password cannot be empty"

Probably these are OK - production users setting their password like that is not at all secure anyway.

[2019-07-24 07:16] voroyam commented on #251
So like "space space space space"? If it's just the space characters then it does not work?

[2019-07-24 07:58] phil-davis commented on #251
Correct. It might be just something in the front-end JavaScript that  still thinks the "new password" field is still empty, and so it never even sends it to the backend.

Anyway, maybe a user should not be able to set their password to "space space space space"

[2019-07-24 08:12] voroyam commented on #251
ehm, I just created a new user via WebUI with the password "0".

[2019-07-24 09:00] voroyam commented on #148
This can be closed IMHO. Since January there was no real progress.

[2019-07-24 09:00] #148 closed

[2019-07-24 09:01] voroyam commented on #146
@va1entin please use the new document. closing.

[2019-07-24 09:01] #146 closed

[2019-07-24 09:02] voroyam commented on #250
https://github.com/owncloud/docs/pull/1536

legacy content removed.

[2019-07-24 09:02] #250 closed

[2019-07-24 09:06] voroyam commented on #252
New/Updated Pictures
https://github.com/owncloud/docs/pull/1540

[2019-07-24 09:13] phil-davis commented on #251
Yes, you can do that.
In Personal General Settings you cannot change your own password to `0`
Probably in some places (provisioning API, user management add/edit user, reset password from email link...) `0` works and in some it does not - it depends if the validation code in each front-to-back-end code path is good, or if it accidentally rejects `0`

[2019-07-24 09:24] voroyam commented on #251
we just tested it, and you can create a user with the password 0spacespacespace but you can not login with this user

[2019-07-24 09:46] phil-davis commented on #251
I just created a user with password `0   ` using the user management webUI page. I could login OK.
Maybe you are using the provisioning API or? to create the user.

Likely we need tests for all ways of creating/changing passwords that have test cases with space at the front and end of the password. (There are already tests with space in the middle of the password). I suspect that various code path

[2019-07-24 09:58] voroyam commented on #251
we set in in the occ.

[2019-07-24 10:33] voroyam commented on #252
page rework:

https://github.com/owncloud/docs/pull/1543

[2019-07-24 10:55] voroyam commented on #258
documented with here
https://doc.owncloud.com/server/10.2/admin_manual/configuration/files/encryption/encryption_configuration_quick_guide.html

[2019-07-24 10:55] #258 closed

[2019-07-24 11:30] phil-davis commented on #251
When entering a password interactively from `php occ user:resetpassword`  any spaces at front and back are being stripped.

To make it work with leading/trailing spaces, I had to:
[code]

And the `occ` command also complains `Password cannot be empty` if you put just `0` as the password (with or without spaces).
[code]

[2019-07-24 12:16] voroyam commented on #251
So 0 is a special character?

[2019-07-24 12:22] phil-davis commented on #251
A special test for `0` was added here: https://github.com/owncloud/core/pull/32261/files#diff-a347192ed164de0ed89af460b1860e0bR666
PR #32261

That can easily be removed, and then ordinary `0` works as a password.

Using space at the beginning or end of (or as the only characters in) a password, and entering it interactively to the `occ` command is more complex. Because the Symfony Console system i

[2019-07-24 18:18] ho4ho commented on #402
I mean to add to https://github.com/owncloud/docs/blob/master/modules/admin_manual/pages/configuration/general_topics/general_troubleshooting.adoc as problem not only happening by Debian?

[2019-07-24 18:37] ho4ho opened #1551 "Major upgrade in packages?"
https://doc.owncloud.org/server/10.2/admin_manual/maintenance/package_upgrade.html read:

[code]

but https://doc.owncloud.org/server/10.2/admin_manual/maintenance/upgrade.html read:

[code]

Possibly to make text same/similar and add more detail?

## What Type Of Content Change Is This? (Optional)
- [ ] New Content Addition
- [ ] Old Content Deprecation
- [ ] Existing Content Simplification
- [ ]

[2019-07-24 19:39] voroyam commented on #402
The docs are officially limited to Ubuntu. As far as I know this does not happen in Ubuntu.

You are free to propose something that I will ad to the FAQ in central.

[2019-07-24 19:48] voroyam commented on #1551
You can skip major releases with the manual upgrade but not with the packages.

[2019-07-25 08:46] settermjd commented on #1218
@jnweiger, can you provide feedback on https://github.com/owncloud/docs/issues/1218#issuecomment-513736712 pls?

[2019-07-25 08:51] settermjd commented on #1328
I've grepped the documentation and don't find any references to this string. If it is still there, in another form, please reopen this issue. Otherwise, closing.

[2019-07-25 08:51] #1328 closed

[2019-07-25 14:26] ho4ho commented on #1551
Are sure? Packages not doing same like manual upgrade by copying new files to /var/www/owncloud ?

[2019-07-25 21:37] voroyam commented on #1551
You might be right. We need to test this. Have you tested this already?

[2019-07-26 09:10] micbar commented on #286
@settermjd @michaelstingl
Please clarify, is there something left to be documented?

[2019-07-26 09:47] voroyam commented on #1438
added here: https://central.owncloud.org/t/doc-manual-installation/20999/3

[2019-07-26 09:47] #1438 closed

[2019-07-26 09:47] #1439 closed

[2019-07-26 10:14] #767 closed

[2019-07-27 14:43] ellipticview opened #1568 "TOC in PDF manuals broken"
The Table of Content (TOC) in the PDF manuals are broken. In particular in the navigation pane of the PDF viewer.

- There is text that doesn't belong in the TOC
- All entries are under the introduction
- The granularity of the entries is questionable (i.e. hundreds of pages between two TOC lines). That does not make it feasible to use the TOC to navigate a document

E.g. in https://doc.owncloud.c

[2019-07-28 12:49] #252 closed

[2019-07-28 12:52] #272 closed

[2019-07-28 12:53] voroyam commented on #270
One year no feedback. Closing.

[2019-07-28 12:53] #270 closed

[2019-07-28 12:54] voroyam commented on #95
A guide has been created. So the goal of this issue has been met. Closing.

[2019-07-28 12:54] #95 closed

[2019-07-28 12:55] voroyam commented on #127
Fixed. Closing.

[2019-07-28 12:55] #127 closed

[2019-07-28 13:16] voroyam commented on #254
We don’t have a settings description page. Looked in the admin manual and user manual.

[2019-07-28 13:17] voroyam commented on #254
I document this in the page @settermjd suggested.

[2019-07-29 07:39] voroyam commented on #254
So this
![image](https://user-images.githubusercontent.com/24212810/62030096-957a7080-b1e4-11e9-83ac-400bfa0c428c.png)
 should be documented in here:
https://doc.owncloud.com/server/administration_manual/configuration/server/security/password_policy.html
Or maybe it should get it's own document in the security section.

[2019-07-29 08:56] settermjd commented on #1568
@ellipticview, thanks for reporting this. For the most part, the items in the TOC are the same as that within the HTML version of the docs. However, I agree that the location of the TOC needs to be improved.

[2019-07-29 08:59] tboerger commented on #1568
@settermjd it's not the same as on HTML as you are generating it on your own with the sed magic within the shell script. Looks like a wrong file gets included in the order, `ownCloud supports eight user roles. These are:` should simply not be the main headline for the TOC.

[2019-07-29 09:18] voroyam commented on #254
https://github.com/owncloud/docs/pull/1569

[2019-07-29 09:44] #1094 closed

[2019-07-29 10:31] settermjd commented on #286
I'm currently checking this at the moment, @micbar.

[2019-07-29 12:20] settermjd commented on #1323
Thanks for the clarification.

[2019-07-29 14:23] jnweiger commented on #1218
Thanks @voroyam that updated ubuntu 18_04 document looks great!

[2019-07-29 14:28] jnweiger commented on #350
It is fine to have only a basic config in the univention appliance. Close here.

[2019-07-29 14:28] #350 closed

[2019-07-29 14:33] voroyam commented on #254
https://github.com/owncloud/docs/pull/1576

[2019-07-29 15:25] voroyam commented on #254
documented, merged, backported.

[2019-07-29 15:25] #254 closed

[2019-07-29 15:28] voroyam commented on #1218
Great

[2019-07-29 15:28] #1218 closed

[2019-07-29 15:48] voroyam commented on #133
After discussing with @micbar it seems like this project need dedicated time and efford to figure out and test.

As it is now, I can not document this.

[2019-07-29 16:10] voroyam commented on #261
@mmattel I added a tag to the link to the occ commands. The rest of the issue is quite fuzzy, so I did not understand what you wanted. since this is over a year old I would close this, and if it's important to you, please re open it and add additional information what you want to document where and how.

[2019-07-29 16:10] #261 closed

[2019-07-30 09:23] eppak opened #1585 "404 docker-compose.yml does not exists"
"Installing with Docker" point to outdated/deprecated installation procedure, the "https://raw.githubusercontent.com/owncloud-docker/server/master/docker-compose.yml" does not exists enymore. Following the documentation get stuck when you try to download compose yaml file.

## What Needs to be Documented?
Installing with Docker

## Where Does This Need To Be Documented?
https://doc.owncloud.org/se

[2019-07-30 10:56] michaelstingl commented on #1585
As an alternative, link to the one that is embedded later on the page?

https://github.com/owncloud/docs/blob/341a22f83d906833d33904614d82c456839339ff/modules/admin_manual/pages/installation/docker/index.adoc#L184-L187

https://github.com/owncloud/docs/blob/341a22f83d906833d33904614d82c456839339ff/modules/admin_manual/examples/installation/docker/docker-compose.yml#L1-L73

[2019-07-30 11:00] michaelstingl commented on #1585
This was the latest working version:
https://raw.githubusercontent.com/owncloud-docker/server/d3d68525d840057e6528ac3445019c044e30e36f/docker-compose.yml

[2019-07-30 11:07] michaelstingl commented on #1585
Both are identical, except the empty line at the end  of the [`docker-compose.yml`](https://raw.githubusercontent.com/owncloud/docs/341a22f83d906833d33904614d82c456839339ff/modules/admin_manual/examples/installation/docker/docker-compose.yml) in the docs repo

[2019-07-30 13:51] settermjd commented on #286
During research for this issue, I lodged [an issue in core](https://github.com/owncloud/core/issues/35952), because incorrect HTTP status codes are returned when pending shares are unsuccessfully declined, and pending shares are declined on multiple occasions.

[2019-07-30 13:55] tboerger commented on #1585
Yeah the github repo refs just got to be replaced

[2019-07-30 14:02] #267 closed

[2019-07-30 15:00] eppak commented on #1585
Cannot undestand, docker compose is no longer supported? There is another way? Or the missing docker composer file was a mistake?

Thanks

[2019-07-30 15:10] patrickjahns commented on #1585
@eppak
You are free to use docker compose.

However, you need to take care of how to provision / maintain docker compose yourself. We won't be providing active support for compose files

[2019-07-30 15:46] eppak commented on #1585
@patrickjahns Just to understand better, you do not support docker anymore on only composer way?
Thanks

[2019-07-30 17:13] michaelstingl commented on #1585
ownCloud Docker setup is one of the recommended methods to deploy the ownCloud server. But the `docker-compose.yml` is only an example. You need a good understanding what is going on in this example file. To get an idea, you could start with the `docker-compose.yml` that is included at the end of the page:
https://doc.owncloud.org/server/10.2/admin_manual/installation/docker/#docker-compose-yaml-f

[2019-07-30 17:29] michaelstingl commented on #1585
@settermjd with the removal of the instructions in the Docker repo, another part got invalid:

https://github.com/owncloud/docs/blob/478a4318ec192d164e3212e7878872aae2dee9ea/modules/admin_manual/pages/installation/docker/index.adoc#L52-L53

[2019-07-31 07:31] #1323 closed

[2019-07-31 07:35] settermjd commented on #1585
@eppak, after the merge of https://github.com/owncloud/docs/pull/1588, can you check if the instructions now work for you, as expected?

[2019-07-31 07:38] settermjd commented on #1338
@ChrisEdS, any progress on this one?

[2019-07-31 07:41] settermjd commented on #1181
Closing, as all relevant PRs have now been implemented and merged.

[2019-07-31 07:41] #1181 closed

[2019-07-31 08:30] eppak commented on #1585
@settermjd
Followed the step and now is up and running with the new guide.
We can close, thank you.

[2019-07-31 08:30] #1585 closed

[2019-07-31 09:22] #1241 closed

[2019-07-31 10:00] ChrisEdS commented on #1338
Sorry, completely missed this ticket. When's the next time you'll be in the office? @settermjd

[2019-07-31 11:57] settermjd commented on #1568
After some investigation, the table of contents title is set as it is in the PDF copy of the admin manual because [the toc-title attribute](https://asciidoctor.org/docs/user-manual/#user-toc-title) was used in `modules/admin_manual/pages/configuration/user/user_roles.adoc`.

When generating the HTML version of the documentation, this is fine, because each page is compiled in a stand-alone context.

[2019-08-01 11:38] #1568 closed

[2019-08-01 15:06] settermjd commented on #596
Implemented in #601.

[2019-08-01 15:06] #596 closed

[2019-08-01 15:13] pmaier1 commented on #1551
You can upgrade from oC >= 8.2 to 10.x skipping the versions in between. It does not matter which way of upgrading you use.

[2019-08-01 15:18] pmaier1 commented on #1551
Needs to be aligned in the mentioned docs, of course. Thanks for opening the issue!

[2019-08-01 16:05] voroyam commented on #256
I suppose to document what we recommend we need experts but these experts have better things to do than documentation. I would close this if we don't get feedback in the next 3 months. Good idea though to reduce support and consulting effort by writing down recommendation @pmaier1

[2019-08-06 07:15] settermjd commented on #1551
@pmaier1, can we get this in a future sprint, pls?

[2019-08-06 07:16] settermjd commented on #1338
Should be there on Thursday, @ChrisEdS.

[2019-08-06 07:17] #965 closed

[2019-08-06 09:03] settermjd commented on #817
Other than sending `x-request-id` (such as with Postman), does this functionality need anything specific to be installed or configured? And, will the id be logged in the web server logs, or the ownCloud log file?

[2019-08-06 10:44] patrickjahns commented on #817
`x-request-id` is currently already used by ownClouds Desktop client and is sent with every request.

ownCloud itself will log `x-request-id` in the owncloud log file with every request, if that head is present ( otherwise it will generate a random id itself ).
However, for any other component involved, the logging needs to be adjusted to also write out the content of the header.

Possible compone

[2019-08-06 13:23] DeepDiver1975 opened #1608 "WOPI: document group restrictions"
A new config.php setting can be used to limit the use of WOPI to a group.

The setting is called 'wopi_group'

If no groups is defined all user have access to WOPI

This option is available with the next version (1.3.0?? @pmaier1 )

refs https://github.com/owncloud/enterprise/issues/3426
refs https://github.com/owncloud/wopi/pull/64

[2019-08-07 08:43] settermjd commented on #1608
ping @pmaier1 https://github.com/owncloud/enterprise/issues/3426#issuecomment-519002389.

[2019-08-07 08:45] settermjd commented on #817
Thanks for such detailed feedback!

[2019-08-08 08:59] michaelstingl commented on #817
Not only ownCloud desktop sync client (https://github.com/owncloud/client/issues/5647#issuecomment-298224016), also ownCloud Android app (https://github.com/owncloud/android/issues/2055), new ownCloud iOS app (https://github.com/owncloud/ios-sdk/issues/1) and the new ownCloud web UI "Phoenix" (https://github.com/owncloud/owncloud-sdk/issues/140) support this…

[2019-08-08 11:07] #817 closed

[2019-08-09 15:40] #1608 closed

[2019-08-12 06:58] #1082 closed

[2019-08-12 08:35] settermjd commented on #1338
@VicDeo, it seems that https://doc.owncloud.com/server/10.2/developer_manual/core/theming.html#how-to-override-images already covers this issue?

[2019-08-12 08:48] settermjd commented on #1461
@voroyam, docs are no longer deployed from master, only from the 10.2, 10.1, and 10.0 branches. Given that, I think that the old master deployment wasn't cleaned up. I'll do some further investigation and report here what I find.

[2019-08-12 09:05] settermjd commented on #1461
@tboerger said "_so far the deployment is not deleting files, otherwise the pdf documents would also be dropped which are deployed by different branches because of lacking antora support for it...you should anyway define aliases for files which had been renamed._" Given that, I'll create an alias for this file to resolve the problem. Thanks for continuing to chase this issue, @voroyam.

[2019-08-12 09:10] voroyam commented on #1461
Alright. Thanks @settermjd and @tboerger

[2019-08-12 09:21] HanaGemela commented on #1365
@ckamm @ogoffart @guruz @TheOneRing Please review https://doc.owncloud.org/desktop/advanced_usage/configuration_file.html and add missing configuration options and remove the ones that are not supported anymore

[2019-08-12 09:25] #568 closed

[2019-08-12 09:25] settermjd commented on #568
Closing as the issue appears to be resolved.

[2019-08-12 09:37] pmaier1 commented on #1551
Sure, please go for the change. THX.

[2019-08-12 09:46] cdamken commented on #365
@settermjd Could you please add this in the documentation.

IMHO there should be a warning in the server and clients too when a folder or files is created with these limitations. @pmaier1 @michaelstingl

[2019-08-12 10:42] ckamm commented on #1365
@HanaGemela I've gone over the documentation. `maxLogLines` is no longer used, the remaining options still exist. It's definitely not an exhaustive list though.

[2019-08-12 11:30] michaelstingl opened #1638 "Inter-link or consolidate logging pages"
I found logging-related content on different places. All are isolated, but it would be more useful to have them at one place, or at least linked:

- [`ownCloud Server / Admin Manual / Configuration / Server / Logging Configuration`](https://doc.owncloud.com/server/10.2/admin_manual/configuration/server/logging_configuration.html)
- [`ownCloud Server / Admin Manual / Configuration / Server / Reques

[2019-08-13 07:39] #1461 closed

[2019-08-13 08:39] pmaier1 opened #1643 "Document new options to add users via API and occ"
## What Needs to be Documented?

- Server 10.3 will offer new ways to invite users by mail via provisioning API and occ.
- https://github.com/owncloud/enterprise/issues/2831

## Where Does This Need To Be Documented?

- Provisioning API: Dev docs
- OCC: Admin docs

## Why Should This Change Be Made? (Optional)

## What Type Of Content Change Is This? (Optional)
- [x] New Content Addition
- [ ] Old

[2019-08-13 09:15] voroyam opened #1644 "document "occ migrations""
Why is this not yet documented? @settermjd

[2019-08-13 11:27] settermjd commented on #1638
@michaelstingl, can you set a priority for this issue?

[2019-08-14 08:55] voroyam commented on #193
@mmattel is this still relevant?

[2019-08-14 09:00] voroyam commented on #290
seems fixed as PR for this issue was merged. Closing

[2019-08-14 09:00] #290 closed

[2019-08-14 09:13] voroyam commented on #291
@phil-davis any progress on this?

[2019-08-14 09:18] voroyam commented on #245
@mmattel is this still relevant?

[2019-08-14 09:26] voroyam commented on #288
@mic thanks. This helps.

@jvillafanez @mmattel this is the documentation repo, not the "here, we have something new. You figure out how to deal with it and document it while you are doing it"- repo.

Putting a little effort in describing your new feature that you want / you need to be documented goes a long way.

[2019-08-14 09:27] voroyam commented on #288
https://doc.owncloud.com/server/admin_manual/configuration/files/file_sharing_configuration.html#blacklist-groups-from-receiving-shares

already implemented

[2019-08-14 09:27] #288 closed

[2019-08-14 09:28] voroyam commented on #287
Seems like PR is merged. Closing

[2019-08-14 09:28] #287 closed

[2019-08-14 09:31] voroyam commented on #285
no feedback for over a year. closing

[2019-08-14 09:31] #285 closed

[2019-08-14 09:32] voroyam commented on #283
no feedback for over a year, closing

[2019-08-14 09:32] #283 closed

[2019-08-14 09:33] voroyam commented on #282
no one is assigned, no proper info is given. Closing

[2019-08-14 09:33] #282 closed

[2019-08-14 09:34] voroyam commented on #279
no feedback for over a year. closing

[2019-08-14 09:34] #279 closed

[2019-08-14 09:49] voroyam commented on #275
the rudimentary examples are included in the docs. Can you provide feedback what you want to be documented?

To go through every app and identify every key that can be set is quite an effort that can not be done by one person. So if we don't make a project out of this - it won't be done and can be closed.

[2019-08-14 09:52] voroyam commented on #273
I am closing this issue as there is no real progress that I can see here.

[2019-08-14 09:52] #273 closed

[2019-08-14 10:26] mmattel commented on #275
@voroyam
I highlight the mismatch of the current situation.
It is up to oC to decide to go thru and document it properly.

[2019-08-14 11:35] #280 closed

[2019-08-14 11:39] voroyam commented on #327
No progress for 2 years, closing

[2019-08-14 11:39] #327 closed

[2019-08-14 11:42] voroyam commented on #326
2 Years without progress. closing

[2019-08-14 11:42] #326 closed

[2019-08-14 12:10] voroyam commented on #370
So in a few months we can close this as it will be deprecated? @michaelstingl

[2019-08-14 12:12] #266 closed

[2019-08-14 12:15] voroyam commented on #263
PR is merged. Closing

[2019-08-14 12:15] #263 closed

[2019-08-14 12:17] voroyam commented on #259
So the answer was just write the OC11 in the title.

[2019-08-14 12:17] #259 closed

[2019-08-14 12:20] voroyam commented on #369
2 Year old issue. Don't think that it's still relevant. Please reopen if relevant.

[2019-08-14 12:20] #369 closed

[2019-08-14 12:21] voroyam commented on #368
no progress for 2 years. closing

[2019-08-14 12:21] #368 closed

[2019-08-14 12:21] voroyam commented on #264
no progress due to lack of developer time.

[2019-08-14 12:21] #264 closed

[2019-08-14 12:31] #366 closed

[2019-08-14 12:47] voroyam commented on #363
tried, works.

[2019-08-14 12:47] #363 closed

[2019-08-14 13:14] voroyam commented on #357
The only thing that changed is `enable encryption` in the options. not really a big of a change to update the screen shot in my view.

[2019-08-14 13:14] #357 closed

[2019-08-14 13:16] voroyam commented on #358
no progress after 2 years. closing

[2019-08-14 13:16] #358 closed

[2019-08-14 13:16] #353 closed

[2019-08-14 13:18] voroyam commented on #352
https://doc.owncloud.com/server/admin_manual/configuration/files/encryption/migration-guide.html

[2019-08-14 13:18] #352 closed

[2019-08-14 13:19] #347 closed

[2019-08-14 13:20] voroyam commented on #348
https://doc.owncloud.com/server/admin_manual/maintenance/upgrade.html#introduction

Skipping major releases is not supported. However you can migrate from latest 8.2.x and latest 9.0.x straight to latest ownCloud 10.x.x

[2019-08-14 13:20] #348 closed

[2019-08-14 13:23] voroyam commented on #346
https://doc.owncloud.com/server/admin_manual/configuration/server/security/password_policy.html

I think this is the solution. closing

[2019-08-14 13:23] #346 closed

[2019-08-14 13:30] voroyam commented on #344
no response for a year. issue is not urgent and probably fixed.

[2019-08-14 13:30] #344 closed

[2019-08-14 13:45] #343 closed

[2019-08-14 13:49] voroyam commented on #340
fixed

[2019-08-14 13:49] #340 closed

[2019-08-14 13:50] #338 closed

[2019-08-14 13:54] voroyam commented on #308
@michaelstingl what is your opinion on this matter?

[2019-08-14 13:56] #306 closed

[2019-08-14 13:56] #305 closed

[2019-08-14 13:57] #302 closed

[2019-08-14 13:57] #301 closed

[2019-08-14 13:58] #300 closed

[2019-08-14 13:58] #299 closed

[2019-08-14 13:58] #298 closed

[2019-08-14 13:59] #293 closed

[2019-08-14 14:56] voroyam commented on #1644
https://github.com/owncloud/docs/pull/1651

[2019-08-15 10:23] #361 closed

[2019-08-15 11:37] michaelstingl opened #1656 "Mark old docs as outdated and link to the current version"
I see a lot of traffic on pages of outdated docs, and also in other GH issues [or Central posts,](https://central.owncloud.org/t/build-client-help/21385) users refer to old docs. Could we mark old docs as outdated and link to the current version?

Here is an example from the Microsoft docs:

<img width="1280" alt="Windows_Server_2012_R2_and_Windows_Server_2012___Microsoft_Docs" src="https://user-i

[2019-08-15 12:11] settermjd commented on #100
@micbar / @michaelstingl can we get this in a future sprint?

[2019-08-15 12:12] settermjd commented on #156
@phil-davis, it appears, from all the merged PRs and closed issues, that this is resolved. If so, can you pls close it?

[2019-08-15 12:15] settermjd commented on #193
I've just run it again and don't see any issues. Closing.

[2019-08-15 12:15] #193 closed

[2019-08-15 12:20] settermjd commented on #245
I don't see this as relevant as, while it involves a little bit of manual effort, this is already available locally. Here's how:

1. Clone [the docs-ui repo](https://github.com/owncloud/docs-ui) and build the ui-bundle.zip by using `gulp pack`.
2. In the local copy of the docs repo, build the docs, overriding the remote ui-bundle.zip file with the one that has just been built, by running `yarn ant

[2019-08-15 12:20] #245 closed

[2019-08-15 12:26] settermjd commented on #257
@pmaier1, please add the appropriate priority to this.

[2019-08-15 12:26] michaelstingl commented on #100
Sure, I'd love to see more of this. Is there anything I can help?

[2019-08-15 12:26] settermjd commented on #100
Just getting it in a future sprint will give me the okay to get it done.

[2019-08-15 12:28] settermjd commented on #271
They look great. Closing.

[2019-08-15 12:28] #271 closed

[2019-08-15 12:32] settermjd commented on #1656
I'm, honestly, not sure if this is feasible in Antora. I'll do some research and find out.

[2019-08-15 12:44] settermjd commented on #1638
@michaelstingl, I just had a look at the various files. You're spot on. I'll get this actioned today.

[2019-08-15 12:45] #365 closed

[2019-08-15 13:05] pmaier1 commented on #963
Will be part of Server 10.3. Needs to be documented soon therefore.

[2019-08-15 13:30] #1365 closed

[2019-08-15 14:41] voroyam commented on #168
Can you find something helpful here:

https://doc.owncloud.org/phpdoc/

[2019-08-15 14:45] voroyam commented on #253
errors removed?

https://github.com/owncloud/docs/blob/master/modules/developer_manual/examples/app/storage-backend/OCA/MyStorageApp/Storage/MyStorage.php

[2019-08-15 14:45] #253 closed

[2019-08-15 14:47] voroyam commented on #260
superseded by https://github.com/owncloud/docs/issues/257 ?

[2019-08-15 14:47] #260 closed

[2019-08-15 15:21] michaelstingl commented on #1197
We plan some UI improvements, then it will be easier to guide users what are the relevant docs, and which one are outdated.

I see no urgency to migrate 2.5 docs to Antora. Close https://github.com/owncloud/client/pull/7186 ?

[2019-08-15 15:22] #1197 closed

[2019-08-19 07:54] #1193 closed

[2019-08-19 08:22] #963 closed

[2019-08-19 08:55] dercorn commented on #256
We recommend NFS basically for any scenario other than local storage. It performs very well and stable.
In clustered environments, imho the most important option is **noasync**. This has become the default on most distros but still I recommend checking this on every instance.
The noac option should be used with caution. From the nfs man page:

[2019-08-19 11:35] settermjd commented on #320
@phil-davis, I'm having a look at this now and on quick scan, very few of the default apps in my development/testing installation have a Makefile. The ones that do are encryption, files_external, and market. It might just be my installation though.

[2019-08-19 11:50] phil-davis commented on #320
"apps" that are actually part of core do not have their own `Makefile` - comments, dav, federatedfilesharing, federation, files, files_external, files_sharing, files_trashbin, files_versions, provisioning_api, systemtags, updatenotification.

apps that are in their own repo 95% have `Makefile` - activity, files_pdfviewer, oauth2 (a couple of examples from about 40 apps that I have cloned from gith

[2019-08-19 11:59] settermjd commented on #320
Thanks for the clarification regarding the internal apps.

[2019-08-19 15:38] jnweiger commented on #361
![image](https://user-images.githubusercontent.com/1108546/63278700-112d8180-c2a8-11e9-9972-3242f3272ce2.png)

In 10.3 we do not see `[ ] update`. We see `[ ] change` instead. Is it the same?

[2019-08-19 17:26] cdamken opened #1672 "Appliance troubleshooting"
I didn't find the troubleshooting for the appliance

[ ] Log files
[ ] Config report
[ ] Restore snapshot.

(Add more if you know some)

[2019-08-19 22:12] michaelstingl commented on #370
yes, exactly

[2019-08-20 06:58] settermjd commented on #1672
@voroyam, can you provide more information for this issue, please?

[2019-08-20 09:05] voroyam commented on #1672
There is no troubleshooting in the appliance because:

1) In the normal circumstances the appliance just runs if it's set up correctly.
2) The troubleshooting is the same as in the usual server. The custom paths are in the "Login Information" document.

[2019-08-20 09:10] voroyam commented on #370
Great

[2019-08-20 10:28] settermjd commented on #256
@dercorn, do you have a recommendation for the NFS `retrans` and `timeo` options?

[2019-08-20 12:20] pmaier1 commented on #1465
Admin docs are missing...

[2019-08-21 09:10] sharidas opened #1676 "How does encryption version used in oC"
The idea behind this documentation is to let users aware of what encryption version is and how its used in the encryption app.

## What Needs to be Documented?

I would add the details in the comments.

## Where Does This Need To Be Documented?

## Why Should This Change Be Made? (Optional)

## What Type Of Content Change Is This? (Optional)
- [ ] New Content Addition
- [ ] Old Content Deprecation

[2019-08-21 11:54] sharidas commented on #1676
Pre-requisites: In this doc I have used the master-key encryption

### How does a file get encrypted
Lets assume a text file is created/uploaded to an oC instance with master-key encryption enabled. In this case below are the sequence that happens

- Check if the public master key exist else create one ( you can find the one in `data/files_encryption/OC_DEFAULT_MODULE/master_xxxxxxx.publicKey`
- C

[2019-08-22 11:07] #1551 closed

[2019-08-22 12:11] #1643 closed

[2019-08-22 12:38] settermjd commented on #1672
It seems that @cdamken is talking about troubleshooting the appliance, not the ownCloud within the appliance.

[2019-08-22 12:42] voroyam commented on #1672
Are you sure? Because ownCloud runs within the Appliance. We support only ownCloud within the Appliance. So the Troubleshooting should be for ownCloud within the Appliance, right?

[2019-08-22 15:04] voroyam commented on #1644
PR merged and backported. Closing

[2019-08-22 15:04] #1644 closed

[2019-08-23 10:11] settermjd commented on #1676
I've gone through your notes and done some experimenting with uploading files to get a better, hands-on, feel for the process. Here are a few questions that I have now.

You wrote: "_Create a file key_". What is the file key, exactly? Or, where can I find more information about them?

[2019-08-23 15:27] enbrnz opened #1707 "Big File upload docs need to be updated"
First the document I'm talking about:
[Big File Upload Configuration](https://doc.owncloud.com/server/admin_manual/configuration/files/big_file_upload_configuration.html)

Following [a discussion in central](https://central.owncloud.org/t/htaccess-doesnt-work-with-php7-and-oc-10-2/21510/11), I noticed that the information inside this documentation article is "a little" dated. Perhaps it would be a

[2019-08-26 15:20] #1672 closed

[2019-08-26 17:01] ho4ho opened #1710 "Unresolved include directive in modules/admin_manual/pages/maintenance/upgrade.adoc"
## What Needs to be Documented?

Fix:

[code]

\+

[code]

caused of #1657 shown in links below.

## Where Does This Need To Be Documented?
https://doc.owncloud.org/server/admin_manual/maintenance/upgrade.html
https://doc.owncloud.org/server/admin_manual/maintenance/package_upgrade.html
https://doc.owncloud.org/server/10.2/admin_manual/maintenance/upgrade.html
https://doc.owncloud.org/server/10.2/

[2019-08-26 17:07] ho4ho commented on #568
Looks like bugfix by https://github.com/owncloud/docs/pull/916

[2019-08-27 12:07] settermjd commented on #1707
All sounds good to me. @PVince81, can we get this into a sprint, pls?

[2019-08-28 07:22] settermjd commented on #100
Working through these this week.

[2019-08-28 10:44] mmattel opened #1724 "A config-to-docs run is necessary for the upcoming 10.3 release"
@settermjd this is a reminder that for the upcoming 10.3 release, a config-to-docs run is needed to update config.sample.php / config.apps.sample.php with the changes coming from core.

[2019-08-29 09:58] settermjd commented on #100
The second series (of 6 videos) [is available for review](https://cloud.owncloud.com/index.php/apps/files/?dir=/Shared/owncloud/Training&fileid=4975776).

[2019-08-29 14:08] voroyam commented on #286
Isse was closed with comment: https://github.com/owncloud/core/issues/35952#issuecomment-519059040

Can this issue be closed?

[2019-08-29 14:12] voroyam commented on #100
why is your voice is merely hearable in the first seconds? can you re record?

[2019-08-29 14:14] voroyam commented on #100
apart from that - great videos

[2019-08-29 14:16] #402 closed

[2019-08-29 14:17] voroyam commented on #406
@tboerger can you tell us where you want this documented? Admin manual user manual dev manual?

[2019-08-29 14:18] voroyam commented on #467
apparently not

[2019-08-29 14:19] voroyam commented on #498
PR was merged. Closing

[2019-08-29 14:19] #498 closed

[2019-08-29 14:20] voroyam commented on #514
This warning message is really annoying, but since no customer is paying for it and it does not break the docs my suggestion is that it won't be fixed any time soon.

[2019-08-29 14:20] voroyam commented on #529
any update on this?

[2019-08-29 14:28] voroyam commented on #577
Installation option have been reworked

![image](https://user-images.githubusercontent.com/24212810/63949004-01692680-ca7a-11e9-88f0-de80a3e83cd6.png)

[2019-08-29 14:28] #577 closed

[2019-08-29 14:31] voroyam commented on #619
FYI: This only works for the "30 Days Enterprise Trial" User.

Normal enterprise Customers can't do this.

[2019-08-29 14:36] voroyam commented on #1102
Did we upgrade already? @tboerger

[2019-08-30 07:47] jvillafanez commented on #286
no problems on my side

[2019-08-30 08:13] #286 closed

[2019-08-30 09:06] settermjd commented on #100
I don't quite follow what you mean? Was the problem in one particular video? If so, which one? Just need to track this down. Thanks for the feedback, btw.

[2019-08-30 09:45] voroyam opened #1726 "Document White List for guest App"
Our customers use the guest app but we have nearly no documentation about it.

I would like to document the features and usage of the guests app especially the app white list.

https://github.com/owncloud/docs/blob/master/modules/admin_manual/pages/configuration/user/user_roles.adoc#guest

[2019-08-30 09:46] voroyam commented on #100
The first video of the new series. It's 4?

Just listen to the first 10 seconds or 20. At the beginning you are barely to hear and then it goes to 11 :)

[2019-08-30 11:42] settermjd commented on #100
Thanks for that. I'll check it today.

[2019-08-31 17:14] tboerger commented on #406
The api docs will be removed, so nothing to do here.

[2019-08-31 17:14] #406 closed

[2019-09-02 07:28] settermjd commented on #100
I had a listen and all of them start well, except for 4. So, I believe I see what you're referring to. I'll fix it in the next 20 mins.

[2019-09-02 08:32] settermjd commented on #100
@voroyam, a revised copy of clip 4's now available.

[2019-09-02 09:10] settermjd commented on #1726
Sounds like a good idea. What usage statistics are collected, btw?

[2019-09-02 09:14] voroyam commented on #1726
None

[2019-09-02 09:14] voroyam commented on #100
great. thanks

[2019-09-02 09:32] settermjd commented on #1726
That's a bit disappointing, but it's understandable given privacy laws such as the GDPR.

[2019-09-02 09:33] settermjd commented on #1710
@ho4ho, pls review, time permitting.

[2019-09-02 10:59] voroyam commented on #1726
why so many labels? :)

![image](https://user-images.githubusercontent.com/24212810/64110102-72ae1f80-cd81-11e9-87a6-a662582a2766.png)

[2019-09-02 12:01] voroyam commented on #1726
https://github.com/owncloud/docs/pull/1730

[2019-09-02 12:40] settermjd commented on #1707
@enbrnz, wrt your formula in central, `time in seconds = (maximum file size / slowest assumed connection)`, can you clarify "slowest assumed connection", pls?

[2019-09-02 14:19] mmattel opened #1732 "Doc impact of removal of APC and XCache in core ?"
Does core: https://github.com/owncloud/core/pull/35782 [stable10] Kill APC and XCache - fixes #28597 has an impact to the docs?

* In core: config.sample.php
* In https://doc.owncloud.com/server/10.2/admin_manual/installation/manual_installation.html#for-server-performance
* In other locations via doc search with apcu

@voroyam @settermjd
@phil-davis @DeepDiver1975

[2019-09-03 08:14] #1710 closed

[2019-09-03 09:57] settermjd commented on #1726
Because they're relevant, and cost nothing.

[2019-09-03 09:57] #1726 closed

[2019-09-04 14:35] voroyam commented on #1707
I don't know what Erik meant, but I assume if for example you have a 50 000 DSL Internet Connection.

Then the slowest speed would be 25 000 kb/s or  3.1 Mb/s.  (Your internet speed may always fluctuate depending on the time of day and the network load in your area. But the Internet Provider is bound by law to provide at least 50% of what he sold you. So 50/2=25.)

So now lets assume you want to u

[2019-09-04 16:54] ho4ho opened #1751 "Upgrading steps examples"
## What Needs to be Documented?
Improvement examples https://github.com/owncloud/docs/pull/1728 fixing https://github.com/owncloud/docs/issues/1710 and by added https://github.com/owncloud/docs/pull/1657 / https://github.com/owncloud/docs/issues/1551

Some examples posted by https://github.com/owncloud/docs/pull/1728#discussion_r320337662 how upgrading should be done:

## Where Does This Need To B

[2019-09-04 19:42] ho4ho commented on #1751
See https://github.com/owncloud/core/issues/36160 still people people doing upgrade wrong. Maybe because by lacking clear steps?

[2019-09-06 13:13] #1751 closed

[2019-09-10 07:12] enbrnz commented on #1707
We had a case where somebody was uploading on an 8Mbit/s (Download) DSL line, so the upload was even less. And they needed to upload large files (> 1GB), so the upload would take longer than 1hr.

If you need to provide uploads that take longer than that, you need to adjust the `filelocking.ttl` configuration to accommodate for that.

My formula is there in order to be able to provide a rough esti

[2019-09-10 13:07] voroyam commented on #133
The sync command was included in the PR with an explanation.

Since we don't have a verification process that is easy triggered from the webUI we have to execute DB commands.

A easy to use verification process like it's in the email server setup would make a great FR.

[2019-09-10 13:07] #133 closed

[2019-09-13 13:14] #256 closed

[2019-09-17 08:52] voroyam commented on #1676
After reading this I don't know what encryption version is or where general encryption description starts and the version encryption begins. Also this seems to me like a bug if we have an extra occ command to fix it. Please correct me if I am wrong.

[2019-09-18 08:48] settermjd commented on #1656
@michaelstingl, I've done some research and there doesn't appear to be a lot that can be done quickly. However, in the screenshot below is an example of what can be done. Can you share your feedback?

<img width="781" alt="oC unsupported version label" src="https://user-images.githubusercontent.com/196801/65132782-c1a2b880-da01-11e9-8101-4b48c29e7a91.png">

[2019-09-18 10:38] voroyam commented on #1656
My proposal wold be to just de-publish the online docs for unsupported version and provide a link to the last pdf of the docs for 10.0. Much cleaner solution in my view.

[2019-09-18 12:04] settermjd commented on #1656
@tboerger @michaelstingl?

[2019-09-18 12:04] settermjd commented on #1656
I'd rather keep them there if people are still on those versions. Need to get the search results to reference the newer versions though.

[2019-09-18 12:06] #100 closed

[2019-09-18 12:11] voroyam commented on #1656
I don't think the search will be touched by @tboerger in the next foreseeable future. So if we add now 10.3 we will have 10.0 10.1 10.2 and 10.3 search results?

[2019-09-18 12:29] settermjd commented on #168
@PVince81, can you provide input here, pls?

[2019-09-18 21:58] jnweiger opened #1823 "prefer route remote.php/webdav over remote.php/dav/files/USERNAME"
A webdav mount done according to the current documentation with the gnome file manager nautilus looks like this

![image](https://user-images.githubusercontent.com/1108546/65188482-cea9c100-da6e-11e9-9b35-a8f11fe94670.png)

It works fine, but note that the mouse over displays a truncated URL. The files/USERNAME part is missing. (That may be an artefact, how gnomeVFS works, not sure why it behaves

[2019-09-18 21:59] jnweiger commented on #1823
Suggested fix for the documentation: https://github.com/owncloud/docs/pull/1822

[2019-09-25 09:11] settermjd commented on #1823
Thanks @jnweiger. Closing as it's been merged (#1822) and backported.

[2019-09-25 09:11] #1823 closed

[2019-09-25 09:12] settermjd commented on #1656
That doesn't specifically relate to the purpose of this issue. However, it's well worth covering in a future issue.

[2019-09-25 09:12] settermjd commented on #1656
@michaelstingl, can you add feedback please?

[2019-09-25 09:44] michaelstingl commented on #1656
Hm, this is not actionable. How can users find the current version?

[2019-09-25 10:11] settermjd commented on #1656
By using the version selector.

[2019-09-25 10:21] michaelstingl commented on #1656
Yeah, hard to find and hard to use on mobile/touch devices.

[2019-09-25 10:52] settermjd commented on #1656
That's arguably a task for @LukasHirt, and not specifically for this issue. The solution listed above, as limited as it is, seems to be about the only thing that I can do, at least in the immediate future.

[2019-09-25 13:07] DeepDiver1975 opened #1857 "[API] Roles API needs documentation"
all information shall be written down in https://github.com/owncloud/core/pull/36024

[2019-09-25 20:03] tboerger commented on #1656
Lukas has worked on a better version switch, but nobody commented on that

[2019-09-26 10:06] settermjd commented on #1857
Muchos gracias.

[2019-09-26 10:09] settermjd commented on #1656
I commented on the last one that he shared with me. Is there a new one?

[2019-09-26 10:10] settermjd commented on #1676
Closing after discussion with @sharidas.

[2019-09-26 10:10] #1676 closed

[2019-09-26 10:15] tboerger commented on #1656
It's months ago

[2019-09-26 13:00] voroyam opened #1858 "Limitation of WND to Windows is wrong."
https://doc.owncloud.com/server/admin_manual/enterprise/external_storage/windows-network-drive_configuration.html#windows-network-drive-listener

"The notifier only works with remote storage on Windows servers. It does not work reliably with Linux servers due to technical limitations."

This needs to be verified.

"It depends if the smb supports the notify protocol." @hodyroff

[2019-09-26 13:49] pmaier1 commented on #1465
Done with https://github.com/owncloud/docs/pull/1700

[2019-09-26 13:49] #1465 closed

[2019-09-27 13:47] settermjd commented on #1858
@voroyam, can you provide further details, so that this section of the docs can be appropriately amended?

[2019-09-27 13:59] voroyam commented on #1858
I don't have any details.

@hodyroff can provide details.

[2019-09-28 22:41] pawsen commented on #620
I am also unable to add new mime types. Owncloud server version 10.2.1
It makes no difference if I add the type to `/config/mimetypemapping.json` or `/resources/config/mimetypemapping.dist.json`

[2019-09-30 08:52] pmaier1 opened #1869 "Document Federation behind a proxy"
## What Needs to be Documented?

With Server 10.3 two new config.php options have been added to enable federation when an instance needs to go through a proxy to reach a federated instance.

[code]

- https://github.com/owncloud/core/pull/34101
- https://github.com/owncloud/enterprise/issues/3078

## Where Does This Need To Be Documented?

- Admin federation docs

## Why Should This Change Be Made

[2019-09-30 12:32] pmaier1 opened #1871 "Document new public link endpoints"
## What Needs to be Documented?

ownCloud Server 10.3 comes with new endpoints to access public links via WebDAV and to send public link mail notifications.

- https://github.com/owncloud/core/pull/35932
- https://github.com/owncloud/core/pull/36063

To make use of both an admin needs to set `'dav.enable.tech_preview' => true,` in config.php.

## Where Does This Need To Be Documented?

Developer d

[2019-10-01 10:39] settermjd commented on #1857
@DeepDiver1975, for the implementing PR, do you only want the Roles API documented, as you mention an attributes addition to the shares API, that's also covered in owncloud/core#36024?

[2019-10-01 13:30] DeepDiver1975 commented on #1857
oh - yes - these attribute changes need to be documented as well - thx

[2019-10-02 08:39] settermjd commented on #1857
Can you review #1874, which handles those changes?

[2019-10-02 13:31] settermjd commented on #1858
@hodyroff, can you provide more details for this issue, please?

[2019-10-02 13:33] settermjd commented on #1656
@LukasHirt, any suggestions on how to implement this in the UI?

[2019-10-04 14:47] pmaier1 commented on #281
This change will be released with Server 10.3 and needs to be documented. The "old" way of executing the basic background job still works but will be removed in a later version. The 10.3 docs should reflect the new way via occ and that the "old" way is deprecated and should not be used anymore.

[2019-10-07 08:13] michaelstingl opened #1882 "[iOS], [Android], [desktop] 2FA need OAuth 2.0 app enabled on the ownCloud server"
Help with issues like https://github.com/owncloud/ios-app/issues/518 .

Inspiration in @lefherz ’s blog post:
https://owncloud.org/news/how-to-use-two-factor-authentication-with-the-owncloud-desktop-client-or-mobile-apps/

## What Needs to be Documented?

## Where Does This Need To Be Documented?

## Why Should This Change Be Made? (Optional)

## What Type Of Content Change Is This? (Optional)
- [

[2019-10-09 07:27] hosy opened #1900 "[iOS] Update documentation for iOS app version 1.1.0"
The new iOS app got some new features in version 1.1.0, which should be documented.

## What Needs to be Documented?

- [x] Avail­able Off­line Sup­port (https://github.com/owncloud/ios-app/pull/456)
- [x] UI im­prove­ments for the Nav­i­ga­tion Bar (https://github.com/owncloud/ios-app/pull/478)
- [x] Added In­dex Bar in File list (https://github.com/owncloud/ios-app/pull/469)
- [x] Added change s

[2019-10-09 08:07] hosy commented on #1900
@michaelstingl in cc for you

[2019-10-09 09:00] #1857 closed

[2019-10-10 08:35] pmaier1 commented on #281
We also need to adapt the doc page that covers background job handling https://github.com/owncloud/docs/blob/master/modules/admin_manual/pages/configuration/server/background_jobs_configuration.adoc

[2019-10-10 09:10] #1869 closed

[2019-10-11 09:15] hosy opened #1928 "[iOS] Update documentation for iOS app version 1.1.1"
The new iOS app got some new features in version 1.1.0, which should be documented.

## What Needs to be Documented?

### System Dark Mode Support

https://github.com/owncloud/ios-app/pull/489

## What Type Of Content Change Is This? (Optional)
- [x] New Content Addition
- [ ] Old Content Deprecation
- [ ] Existing Content Simplification
- [ ] Bug Fix to Existing Content

## Which Manual Does This

[2019-10-11 12:32] voroyam opened #1929 "Ubuntu Installation Example: Cron"
A user in central reported some needed changes to the installation example document:

https://doc.owncloud.com/server/10.2/admin_manual/installation/ubuntu_18_04.html#set-up-a-cron-job

[code]

must be changed to

[code]

[2019-10-14 10:14] #1929 closed

[2019-10-14 10:53] settermjd commented on #1900
Thanks for creating this, @hosy. I'll get it implemented.

[2019-10-15 12:43] tboerger opened #1937 "Replace go.php links with page aliases"
Currently we are maintaining a static list of redirect rules within the documentation deployment with a high effort. For every release we got to extend the list of redirects. To avoid that and to keep the maintainence more simple we should simply use page aliases.

You can see an example at [admin_manual/pages/appliance/configuration/clamav.adoc](https://raw.githubusercontent.com/owncloud/docs/mas

[2019-10-17 08:55] settermjd commented on #1937
I'm having a look into this at the moment. What you've said make sense to me. However, there will need to be further redirects, to redirect to the new redirects. That said, it'll be a one-time setup that no longer needs to be maintained.

[2019-10-18 07:55] settermjd commented on #1928
@hosy, please add some screenshots for the documentation of the system dark mode (owncloud/ios-app#489).

[2019-10-18 07:57] settermjd commented on #1900
@hosy, I've been able to document most of the features listed in the description. However, on the version of the app that I have, Im­port Files from Share Sheet (owncloud/ios-app#445) doesn't work. I'm redirected to the app, and nothing further happens. Can you help me debug it please?

[2019-10-18 08:09] settermjd commented on #1900
@hosy, are "Im­port Files from Share Sheet" & "Added "Cre­ate Fold­er" Ac­tion in Di­rec­to­ry Pick­er" meant to refer to the same PR (owncloud/ios-app#445)?

[2019-10-18 08:51] settermjd commented on #1900
@hosy, do you have more information on "Added "Cre­ate Fold­er" Ac­tion in Di­rec­to­ry Pick­er"? Secondly, I've just created #530 to document the task scheduling functionality. Time permitting, can you review it please?

[2019-10-18 09:05] #1937 closed

[2019-10-18 10:00] settermjd commented on #1871
Closed as has been implemented.

[2019-10-18 10:00] #1871 closed

[2019-10-18 10:00] settermjd commented on #1724
Closed, as has been done.

[2019-10-18 10:01] settermjd commented on #770
Closing. Has been done.

[2019-10-18 10:01] #770 closed

[2019-10-18 10:04] mmattel commented on #1724
can you reference the PR?

[2019-10-18 10:07] tboerger commented on #1102
We are already running a more current version, but the behavior won't be changed to nightly builds, but to triggered builds when i can get to it.

[2019-10-18 10:16] mmattel commented on #770
Any related PR referencable?

[2019-10-18 11:11] settermjd commented on #1102
thank you for the feedback.

[2019-10-18 11:14] settermjd commented on #514
The makefile approach has been deprecated for some time. Some errors are still reported when running `yarn antora`. I'll see about getting all of them corrected.

[2019-10-18 18:00] mmattel commented on #1102
I cant help here. I just highlighted the issue but have limited knowledge how this can be achieved. Someone with proper background knowledge is necessary. Removing my assignment therefore.

[2019-10-19 19:39] NMertsch opened #1948 "Documentation/WebDAV mounting on Linux: Warn about usage of "auto" in /etc/fstab"
In `docs/modules/user_manual/pages/files/access_webdav.adoc` there is a section "Creating WebDAV Mounts on the Linux Command Line", describing how to auto-mount owncloud to a Linux file system.

In (currently) line 168 it is recommended to use "auto" in `/etc/fstab`, so owncloud is mounted automatically.
At lines 182 to 184 it says:
"Now every time you login to your Linux system your ownCloud shar

[2019-10-20 12:06] SimonSpi opened #1949 "occ system command seems to be undocumented"
After having upgraded to OwnCloud 10.3 I had to change as correctly documented in the Release Notes the cron job to trigger the occ command instead of cron.php. Changing the command resulted in an output as shown below:

1 [->--------------------------]
2 [-->-------------------------]
3 [--->------------------------]
4 [---->-----------------------]
5 [----->----------------------]
6 [------>----

[2019-10-21 07:54] settermjd commented on #1949
@SimonSpi, sorry that the documentation for that has not been released yet. It should be out later today. In the meantime, you can read about the changes in https://github.com/owncloud/docs/pull/1234.

[2019-10-21 07:54] #1949 closed

[2019-10-21 08:00] settermjd commented on #1948
Thanks for contributing such a detailed issue @NMertsch. I'll review and get the docs updated, where required.

[2019-10-21 08:01] #467 closed

[2019-10-21 08:03] settermjd commented on #1095
@PVince81, are you still keen to see this implemented?

[2019-10-21 08:03] #792 closed

[2019-10-21 08:04] #514 closed

[2019-10-21 08:04] settermjd commented on #447
@individual-it, do you have any feedback on this, or can it now be closed?

[2019-10-21 08:05] settermjd commented on #397
@DeepDiver1975, who's the best to provide information on this one?

[2019-10-21 08:17] settermjd commented on #537
@dschmidt, can you update the relevant sections of the documentation please?

[2019-10-21 08:20] individual-it commented on #447
still same issue

with
[code]

I receive `HTTP/1.1 418 I'm a teapot`

with
[code]
I get `HTTP/1.1 200 OK`

[2019-10-21 10:37] DeepDiver1975 opened #1955 "new option --progress for occ system:cron"
see https://github.com/owncloud/core/pull/36304

The newly added option --progress/-p will show the progress bar. Without there will be no outpur

[2019-10-21 14:16] mmattel commented on #1955
Info: https://github.com/owncloud/docs/pull/1234 (Document the system:cron command) must be merged before another PR can be filed on top, as this one here adds content to the referenced one. Can´t be integrated to #1234 because a new oC release must be published containing the core fix.

@settermjd fyi

[2019-10-21 14:54] mmattel commented on #1955
Note: to fix that, I propose to take a look at https://github.com/owncloud/docs/blob/master/modules/admin_manual/pages/configuration/server/occ_command.adoc#the-filesscan-command in particular the `-q --quiet` option. Content can be copy/pasted and adopted reducing time needed to add this option properly and inline to the other occ commands.

[2019-10-21 16:18] mmattel commented on #1724
I reopen this issue because:

https://doc.owncloud.com/server/admin_manual/release_notes.html#other-notable-changes
`previews_path` has been added in core and in core config sample file,
but not present in:
https://doc.owncloud.com/server/admin_manual/configuration/server/config_sample_php_parameters.html

Therefore something either went wrong or the config-to-docs run was whyever not made.
Pls ad

[2019-10-21 19:23] LukasReschke commented on #397
I think @MorrisJobke has great context.

[2019-10-22 08:01] settermjd commented on #1955
Will implement this, just as soon as #1234 is merged and backported.

[2019-10-22 08:02] settermjd commented on #1724
I ran it and the diff between the existing and generated file was empty.

[2019-10-22 08:26] settermjd commented on #447
Then there's something different between your environment and mine. Let's see if we can work it out. The installation that I'm using is ownCloud 10.3.0 alpha2, based on the latest version of master. What version are you using?

[2019-10-22 09:48] mmattel commented on #1724
Strange, because comparing core/master to docs web, the config parameter is missing in doc web...

[2019-10-22 10:29] #308 closed

[2019-10-22 11:50] phil-davis commented on #295
Re-opening and assigning myself to write a few words about `squizlabs/php_codesniffer`

[2019-10-22 12:38] DeepDiver1975 commented on #1955
10.3.1 or 10.4 - we will see ... @micbar