[2019-10-22 13:09] micbar commented on #1955
This will go in 10.3.1

[2019-10-22 16:58] mmattel opened #1972 "Removal of OC::$CLASSPATH not documented in any release notes"
## What Needs to be Documented?
`OC::$CLASSPATH` has been removed in core with https://github.com/owncloud/core/pull/35755
but no documentation about was made in the release notes. At least not in 10.2, 10.2.1 and 10.3

## Where Does This Need To Be Documented?
Release notes, version to be defined

## Why Should This Change Be Made? (Optional)
Completeness of changes made

## What Type Of Content

[2019-10-22 17:18] DeepDiver1975 commented on #1972
The question is if the removal needs to be documented - it's former existence has also never been documented. ;-)

Honestly speaking if we need to document each and every code change we will be pretty blocked.

Finally I question the need of documenting something like this - who would read it?
Would this have prevented the issue in user_external? No not at all - nobody gave a shit about this app :

[2019-10-22 17:21] tboerger commented on #1972
I've got the same opinion as DeepDiver.

[2019-10-22 18:44] mmattel commented on #1972
Due to the impact that an official oC app failed registering, I saw this as a valid point to raise an issue . No clue if any other oC or external apps might run into the same problem. If the agreement is to close it, I am fine.

[2019-10-23 08:05] settermjd commented on #1955
Thanks, @micbar.

[2019-10-23 09:18] #295 closed

[2019-10-23 10:44] individual-it commented on #447
tried with current master and the released 10.3.0

[2019-10-23 10:59] settermjd commented on #281
Completed in #1234

[2019-10-23 10:59] #281 closed

[2019-10-23 12:45] settermjd commented on #1955
This has now been merged.

[2019-10-23 15:59] voroyam opened #1984 "Enterprise upgrade docs"
on this page

https://doc.owncloud.com/server/10.3/admin_manual/maintenance/upgrade.html#upgrade-options

This

has to be replaced by

Also the linked page has to be adjusted / updated.

[2019-10-23 16:03] pako81 commented on #1984
the linked page https://doc.owncloud.com/server/10.3/admin_manual/enterprise/installation/install.html#introduction should also modified accordingly and specifically the `Introduction` section, the rest can stay like it is now. I suggest:

### Introduction

After you have completed your initial installation of ownCloud, follow the instructions in The Installation Wizard to finish setting up ownClo

[2019-10-24 13:04] settermjd commented on #387
@pmaier1 @DeepDiver1975, is this still worth actioning?

[2019-10-24 14:27] settermjd commented on #359
It seems that a lot of this API endpoint has already been documented. I'm updating it to ensure that it is inline with this issue.

[2019-10-24 14:30] settermjd commented on #359
@PVince81, can you provide a complete list of `filter-rules` properties?

[2019-10-25 06:39] #359 closed

[2019-10-25 07:06] #1984 closed

[2019-10-28 10:06] settermjd commented on #276
@PVince81, what are `lockdiscovery` and `share-types`?

[2019-10-28 10:35] settermjd commented on #292
Backport to 10.1-3

[2019-10-28 13:18] settermjd commented on #553
@mmattel, would you be interested in and have time to implement a PR for this?

[2019-10-28 13:23] settermjd commented on #544
Closing, as this was collectively implemented in #1963, & #1976.

[2019-10-28 13:23] #544 closed

[2019-10-28 17:36] mmattel commented on #553
Not atm, sorrry :disappointed_relieved:

[2019-10-29 08:03] #1955 closed

[2019-10-29 09:47] haukman opened #2007 "Update supported PHP versions"
Just discovered that https://doc.owncloud.org/server/10.3/admin_manual/installation/system_requirements.html is not showing php 7.3 as supported version.

Recommended Environment still on 7.2:

<img width="745" alt="grafik" src="https://user-images.githubusercontent.com/25486818/67755861-39202a80-fa39-11e9-9e03-7f9cc944b033.png">

Officiall supported environments also not showing 7.3:

<img width=

[2019-10-29 09:52] phil-davis commented on #2007
7.0 is still supported, but not recommended.
https://owncloud.org/news/owncloud-server-10-3-its-all-about-performance/
"At the same time it is necessary to announce the final deprecation of PHP 7.0 with a later version around the end of 2019. ownCloud installations still running on PHP 7.0 should therefore upgrade soon to a later PHP version (preferably 7.2 or 7.3) to stay compatible with future s

[2019-10-29 11:32] settermjd commented on #274
@phil-davis, how about this variation:

Currently, I've only found the original string (re point 1 in the description above) in `./modules/admin_manual/pages/configuration/user/user_provisioning_api.adoc`.

[2019-10-29 12:08] settermjd commented on #289
More than likely, @voroyam.

[2019-10-29 12:24] voroyam commented on #289
So can we close this or has it not yet been finished? What is the status?

I have seen this in the style guide document.

[2019-10-29 13:38] settermjd commented on #289
It's a work in progress.

[2019-10-29 14:25] phil-davis commented on #274
Looks good. This issue is so old, I have completely forgotten exactly what I was thinking when I wrote it!

[2019-10-30 07:49] #274 closed

[2019-10-30 10:14] settermjd commented on #1724
Closing, as the request has been carried out. Thanks, @mmattel

[2019-10-30 10:14] #1724 closed

[2019-10-30 14:51] settermjd commented on #556
Ping, @haukman.

[2019-10-30 15:07] settermjd commented on #289
After looking at this in-depth yesterday, quite a bit of time will be required to implement it, and I'm not sure how much benefit it will offer. Yes, each of the code samples will be lintable and can be run through QA tools, a la PHPCS etc. But will the tradeoff be worth it, if it's done as one large PR. I'm thinking that this should be done as a smaller set of PRs in among all the other tasks, th

[2019-10-30 16:04] #387 closed

[2019-10-31 13:57] settermjd commented on #382
The final outstanding change is documented in #2019.

[2019-11-04 08:32] settermjd commented on #156
@phil-davis, can you help me to complete the final three steps of this issue?

[2019-11-04 08:54] phil-davis commented on #156
@settermjd I added the `QA-team`  label (that helps me not miss it - I often filter the whole ownCloud GitHub organisation for the `QA-team` label.
I put it in the next sprint.
This week I am working on some "standardized" Gherkin step text formats for use in test scenarios across clients (Phoenix, desktop, Android, iOS...). So that will get my brain in the space for documenting "typical" Gherkin

[2019-11-04 09:39] #168 closed

[2019-11-04 09:47] settermjd commented on #156
Sweet!

[2019-11-04 10:00] settermjd commented on #390
I'll implement that in a separate PR to the documentation of the repair steps.

[2019-11-04 11:20] settermjd commented on #296
@felixheidecke - any time to progress this further?

[2019-11-05 11:24] settermjd commented on #257
@pmaier1, I'm working through documenting [the Activity app](https://marketplace.owncloud.com/apps/activity) (from a normal user's perspective) as part of implementing this issue. As part of that, I read the following in the app's description, but don't know how to do that. Can you shed light on how, please?

[2019-11-05 11:37] pmaier1 commented on #257
![Screenshot from 2019-11-05 12-36-38](https://user-images.githubusercontent.com/21193500/68204754-faeeb200-ffc8-11e9-9508-f72536251e65.png)

User personal settings => Activity, third row

[2019-11-05 11:46] settermjd commented on #257
I'm blind as a proverbial bat today. Thanks.

[2019-11-06 08:45] #275 closed

[2019-11-06 11:06] settermjd commented on #377
Having a look at that at the moment.

[2019-11-06 11:23] voroyam opened #2040 "Fix Cron Background Job document"
The PR removed the full path of the php script and the occ script. The note about the full path was left behind.

https://github.com/owncloud/docs/pull/1998#issuecomment-550267202

[2019-11-06 14:25] phil-davis opened #2045 "drone docs-build step errors and warnings"
drone docs-build step log output, e.g. https://drone.owncloud.com/owncloud/docs/6132/1/5
[code]

These should be fixed.

I am surprised that the build step does not exit in error and make drone fail.

[2019-11-07 13:15] settermjd commented on #2045
These should be fixed, yes, by virtue of several previous PRs over the last 1 - 2 months. Will see how they crept back in.

[2019-11-07 13:16] phil-davis commented on #2045
It would be "good" if the CI would fail (at least on `asciidoctor: ERROR`) because then wwe would know when these things creep in.

[2019-11-07 13:18] settermjd commented on #2045
Agreed. Will work to get that done.

[2019-11-11 18:57] settermjd commented on #382
Closing as the final item in this issue has been implemented, merged, and backported.

[2019-11-11 18:57] #382 closed

[2019-11-12 14:04] #315 closed

[2019-11-12 14:04] settermjd commented on #289
Will do this periodically.

[2019-11-12 14:04] #289 closed

[2019-11-12 14:07] settermjd commented on #376
Closing, as it was implemented in #1699.

[2019-11-12 14:07] #376 closed

[2019-11-13 08:37] settermjd commented on #370
Can this now be closed?

[2019-11-13 08:45] settermjd commented on #314
Who manages access to Google Search Console?

[2019-11-13 09:22] voroyam commented on #370
@michaelstingl knows more

[2019-11-13 10:43] settermjd commented on #1948
@NMertsch, #2076 has been created to revise the documentation.

[2019-11-13 10:47] #342 closed

[2019-11-13 11:19] michaelstingl commented on #370
Not fixed for old iOS app, and new iOS app can't be published by others yet.

[2019-11-13 11:40] settermjd commented on #370
Thanks for the feedback, @michaelstingl

[2019-11-13 12:22] hurradieweltgehtunter commented on #314
currently me

[2019-11-13 12:39] hurradieweltgehtunter commented on #654
To improve SEO visibility I strongly suggest to have the following meta tags present:
- title
- meta: description
- Open Graph attributes:

<meta property="og:locale" content="">
<meta property="og:type" content="">
<meta property="og:title" content="">
<meta property="og:description" content="">
<meta property="og:url" content="">
<meta property="og:site_name" content="">
<meta property="og:image

[2019-11-14 13:13] settermjd commented on #377
I've created a trivial app and am waiting for a signed certificate so that I can upload the app to the ownCloud Marketplace, so that I can document the remainder of the process.

[2019-11-14 14:35] VicDeo commented on #321
@cortho I'd say migrations are preferable but schema is still supported, we haven't deprecated it yet

[2019-11-15 09:06] #377 closed

[2019-11-15 09:07] settermjd commented on #321
Thanks for the clarification, @VicDeo.

[2019-11-15 09:54] cortho commented on #321
@VicDeo thank you. I was not aware of this. However, especially for a developer who is new to ownCloud this might be confusing, which db creation/variant to use

[2019-11-15 10:28] settermjd commented on #321
@VicDeo, can this now be close?

[2019-11-15 12:15] settermjd commented on #325
@sharidas, is this issue still required?

I have been having a read through the documentation and found an example under http://localhost:8080/server/10.1/developer_manual/app/tutorial/development_environment.html#appinfoapp-php, which seems to already document what this issue requires, specifically, the following line:

[code]

[2019-11-16 00:44] NMertsch commented on #1948
Thanks a lot for your work, it's much appreciated!

[2019-11-18 12:10] #556 closed

[2019-11-18 14:40] settermjd commented on #1948
yw.

[2019-11-19 09:43] settermjd commented on #379
Closing as it appears to no longer be required, after discussion with @deepdiver and @michaelstingl.

[2019-11-19 09:43] #379 closed

[2019-11-19 09:47] #318 closed

[2019-11-19 10:21] voroyam commented on #2040
soo, no more PRs? @settermjd

[2019-11-19 10:33] settermjd commented on #2040
Does there need to be?

[2019-11-19 10:49] voroyam commented on #2040
Since the creation of the issue nothing changed, right?

[2019-11-19 12:17] #324 closed

[2019-11-19 14:47] #553 closed

[2019-11-19 16:45] sharidas commented on #325
@settermjd This method plays the vital role in the PR mentioned in the ticket: https://github.com/owncloud/core/blob/master/settings/Controller/SettingsPageController.php#L119-L130
In essence it would first search for the image in "appPath/img/", if not available then it would fetch the icon from the section object. So it avoids blindly fetching the image from the section object ( which it was doi

[2019-11-20 07:46] settermjd commented on #325
That's fine. Thanks for letting me know.

[2019-11-21 09:11] pmaier1 opened #2100 "Document OIDC"
## What Needs to be Documented?

We need to document the OpenID Connect integration, the new way for authentication and authorization between ownCloud components as well as third party integrations.

- Basic OpenID explanation https://developer.okta.com/blog/2019/10/21/illustrated-guide-to-oauth-and-oidc
- Explain flows within ownCloud 10 server
- Describe integration with different IdPs (e.g., Pi

[2019-11-21 11:07] #768 closed

[2019-11-21 14:38] micbar opened #2105 "Document Single User Sync"
Docs needed for
https://github.com/owncloud/core/pull/36428

## What Needs to be Documented?

## Where Does This Need To Be Documented?

## Why Should This Change Be Made? (Optional)

## What Type Of Content Change Is This? (Optional)
- [x] New Content Addition
- [ ] Old Content Deprecation
- [ ] Existing Content Simplification
- [ ] Bug Fix to Existing Content

## Which Manual Does This Relate To

[2019-11-22 11:04] voroyam opened #2106 "Document app settings in the appliance"
Document app settings in the appliance

[2019-11-22 11:05] voroyam opened #2107 "finish the appliance setup wizard docs"
Missing: Upload the univention License Screen Shot.

[2019-11-22 12:40] #325 closed

[2019-11-25 12:48] settermjd commented on #2100
@pmaier1, in the description, you've written: "_OAuth2 and OIDC are mutually exclusive_". However, according to :https://developer.okta.com/blog/2019/10/21/illustrated-guide-to-oauth-and-oidc "_OpenID Connect (OIDC) is a thin layer that sits on top of OAuth 2.0 that adds login and profile information about the person who is logged in._". Was your comment added by mistake?

[2019-11-25 13:12] pmaier1 commented on #2100
This just refers to the ownCloud features. There's an OAuth2 (marketplace.owncloud.com/apps/oauth2) and an OpenIDConnect app. You can only use one at a time, otherwise you might run into issues, that's all. Also it does not make much sense to offer both as  OIDC builds on top of OAuth2. Either you use OAuth2 (simple way, just install the app, ownCloud provides server-side for auth) or you use OIDC

[2019-11-25 13:28] DeepDiver1975 commented on #2100
From a future vision point of view we should only do OpenIdConnect based instllations. This will evolve more and more into best practice and state of the art.

[2019-11-26 10:16] pmaier1 opened #2112 "Document encryption:hsmdaemon occ commands"
## What Needs to be Documented?

The occ commands related to the hsmdaemon are not documented. See `occ encryption:hsmdaemon --help`.

## Where Does This Need To Be Documented?

- https://doc.owncloud.com/server/admin_manual/configuration/server/occ_command.html#encryption
- https://doc.owncloud.com/server/admin_manual/configuration/server/security/hsmdaemon/

## Why Should This Change Be Made? (O

[2019-11-26 14:12] settermjd commented on #2112
I've just setup my test ownCloud instance with hsmdaemon integration, so I think I may well have all that I need to document this issue. I'll keep you posted if not.

[2019-11-26 14:15] voroyam opened #2113 "Clarify trash bin expiration"
We need to write in more clear and precise words how the trash bin expiration works.

The two parameter that we have now are trashbin_retention_obligation and purge_limit.

[2019-11-26 15:20] settermjd commented on #2113
Sounds like a good idea to me. Are you referring to `./modules/admin_manual/pages/configuration/files/trashbin_options.adoc`?

[2019-11-26 23:19] voroyam commented on #2113
I was thinking more on the config sample php command page. The language there is to little to vague.

[2019-11-27 10:16] settermjd commented on #2113
Thanks for clarifying. :+1:

[2019-11-27 10:29] settermjd commented on #2113
I just had a read of the documentation for both settings. Makes sense to me. Can you clarify what is unclear about the existing documentation?

[2019-11-27 11:28] voroyam commented on #2113
For me it was unclear what the target of those settings is. Is it the user quota which is related to user storage or is it the trash bin. We had a lengthy discussion in RC and in the office, and now I seem to understand it better. That's why I want to clarify the existing explanation of the config parameters so that other users have a clear understanding on what to expect.

[2019-11-27 12:45] settermjd commented on #2113
Fair enough. Feel free to contribute a PR with the changes that will improve it.

[2019-11-27 12:49] voroyam commented on #2113
I will :) That's why I created the issue and assigned myself :)

[2019-11-30 09:24] mmattel opened #2127 "Add support for Oracle connections string to support failover setups"
## What Needs to be Documented?
New installation options for Oracle, see https://github.com/owncloud/core/pull/36489

## Where Does This Need To Be Documented?
Admin/Installation

## Why Should This Change Be Made? (Optional)
New option

## What Type Of Content Change Is This? (Optional)
- [x] New Content Addition
- [ ] Old Content Deprecation
- [ ] Existing Content Simplification
- [ ] Bug Fix to

[2019-11-30 11:50] ho4ho opened #2128 "Docs miss install apps by marketplace"
## What Needs to be Documented?

and

Install needs to be done by manual:

https://doc.owncloud.org/server/10.3/admin_manual/installation/apps_management_installation.html#manually-installing-apps

or by marketplace app but marketplace app install undocumented by docs above

## Where Does This Need To Be Documented?

Describe install apps by marketplace in:

https://github.com/owncloud/docs/blob/6

[2019-12-02 15:47] ho4ho commented on #2128
Look wrong by me. Only possible to do this by having installed app previously, if not need install by marketplace app first.

[2019-12-03 11:32] #1514 closed

[2019-12-03 20:12] settermjd commented on #2128
To the best of my knowledge, the Market app should be available by default, unless you're basing your ownCloud installation from source.

[2019-12-04 07:55] DeepDiver1975 commented on #2100
There is a lot of information already in the readme: https://github.com/owncloud/openidconnect#openid-connect-for-owncloud

Please let me know for which parts you need more information. @settermjd

[2019-12-04 17:33] ho4ho commented on #2128
This not the problem. Only docs above describe app enabling/disabling for app included by ownCloud (like "Admin Config Report", "Default encryption module ", ...) and uninstall apps via mycloud/settings/admin?sectionid=apps

But app not included by ownCloud like calendar, contacts, ... needs manual install or install by Marketplace and second (Marketplace) is miss in https://doc.owncloud.org/serve

[2019-12-05 08:55] haukman opened #2136 "Update Ubuntu install example to php7.3"
Currently the installation example refers to php 7.2:

[code]

Should be update to 7.3

Link: https://doc.owncloud.org/server/10.3/admin_manual/installation/ubuntu_18_04.html

[2019-12-05 10:28] mmattel opened #2140 "New config-to-docs run neccessary"
## What Needs to be Documented?
A new config-to-docs run for [10.4] is necessary because of:
https://github.com/owncloud/core/pull/36413 ([For 10.4] Set 599 HTTP code on error)
https://github.com/owncloud/core/pull/36526 (Add sample OIDC configuration to the sample app config file)

## Why Should This Change Be Made? (Optional)
Sync core and docs

## What Type Of Content Change Is This? (Optional)

[2019-12-05 10:36] mmattel opened #2141 "update of occ command reference necessary"
## What Needs to be Documented?
New options proposed in https://github.com/owncloud/core/pull/36520 (Filter app:list for just enabled or disabled apps)

## Where Does This Need To Be Documented?
occ command reference

## Why Should This Change Be Made? (Optional)
Sync with core

## What Type Of Content Change Is This? (Optional)
- [x] New Content Addition
- [ ] Old Content Deprecation
- [ ] Existi

[2019-12-05 11:57] settermjd commented on #2100
Thank you.

[2019-12-05 12:14] settermjd commented on #2100
@DeepDiver1975, I already have all of the information in the README. However, I also need the following:

- How to integrate with different IdPs, such as _Ping Identity_, _Kopano Konnect_, and _Keycloak_. Perhaps the existing information covers this sufficiently.
- How to integrate OIDC with ownCloud clients
- The supported cyphers (technical detail on integration with different IdPs)
- Details on

[2019-12-05 14:12] settermjd commented on #2136
Shall get it done. Thanks, @haukman.

[2019-12-06 13:34] settermjd commented on #2140
Would you mind doing this, @mmattel?

[2019-12-06 13:35] settermjd commented on #2136
Closing, as it has been implemented.

[2019-12-06 13:35] #2136 closed

[2019-12-06 13:35] settermjd commented on #2106
Do you have more information on this, @voroyam?

[2019-12-06 13:42] settermjd commented on #2128
@michaelstingl, can you provide guidance here, please?

[2019-12-06 13:50] settermjd commented on #2040
As I've said previously, the use of a site-wide variable was used to make the docs more maintainable and to reduce the time in doing so. While at first site-wide variables can be a little harder to read, the tradeoff seems well and truly worth it.

[2019-12-06 14:01] mmattel commented on #2140
Yes, when 36526 is merged. the other one is already merged.

[2019-12-06 14:31] #390 closed

[2019-12-06 15:00] voroyam commented on #2040
the core problem of this ticket has not been addressed. Why are you closing this with a general statement of your variables?

[2019-12-06 15:01] voroyam commented on #2106
I want to document how you can access the settings in the appliance and what they are.

Since I made this issue, assigned my self to it, I would expect that I do it when I have the time.

[2019-12-06 15:05] PVince81 commented on #276
lockdiscovery will return lock information according to the [Webdav spec](https://tools.ietf.org/html/rfc4918#section-6.8). We added this as part of the "persistent file locking" backend feature.

"share-types" is an OC-specific property which summarizes what outgoing share types are applied to the current item.
[code]
The above response would mean that the item has shared with group (share type 1

[2019-12-06 16:14] phil-davis commented on #2141
So far nobody has reviewed the core PR, so I have no idea if it will even be noticed for 10.4

[2019-12-09 13:13] settermjd commented on #2106
Fair enough.

[2019-12-09 13:32] settermjd commented on #276
The list that i have found is (_adding here for documentation purposes_):

[code]

[2019-12-11 09:27] voroyam opened #2148 "Clarify how to grab the URL for enterprise TarBalls"
https://doc.owncloud.com/server/10.3/admin_manual/maintenance/manual_upgrade.html#download-the-latest-installation

`wget https://username:password@customer.owncloud.com/link-to-tarball`

It's not obvious to customers how to get the "link-to-tarball".

We need to clarify it with text and pictures to make it foolproof. This way it's less work for support.

[2019-12-11 09:56] voroyam commented on #1638
@michaelstingl My document was not related exclusively to logging.

It was a support related document that had instructions to get the log files (yes) but also the config report (which is not a log file) and the ldap config (which is also not a log file).

When customers look for "how do I get the freaking log files that the support guy asked me about" they don't look in logging configurations bec

[2019-12-12 10:48] #786 closed

[2019-12-12 10:49] #625 closed

[2019-12-12 12:29] voroyam opened #2150 "Restore Troubleshooting section in root of the admin manual page"
https://doc.owncloud.com/server/admin_manual/configuration/server/logging/providing_logs_and_config_files.html

this document should be in the troubleshooting section so customers can find it better.

It's true that they can use search, but if they don't it's really hard to find.

[2019-12-12 14:00] haukman opened #2152 "Rework "Big file upload Configuration""
This part of the docs confuses some customers, as some of the statements in there are not valid anymore as we use chunking:

https://doc.owncloud.com/server/10.3/admin_manual/configuration/files/big_file_upload_configuration.html

The goal of this ticket is to collect input what of the mentioned configuration still makes sense and what needs to be changed.

As far as I know, the following two thin

[2019-12-12 15:00] pako81 commented on #2152
Infos that apply to chunked uploads: PHP timeouts, Apache modules, temp directory size.

Infos that apply to non-chunked uploads (public links): PHP timeouts, Apache modules.

It makes probably sense to split up the page in two different sections.

[2019-12-13 09:10] settermjd commented on #2148
We could add it, and update it with every version, but that would also expose information about the directory structure of customer.owncloud.com as well, information that should only be available to authorised users.

[2019-12-14 07:54] voroyam commented on #2148
My Idea was actually to ad a note how to grab the URL. Like not change the link to the actual folder the tar balls are in, but to say, you need to navigate to the tarballs first, then you need to grab the url of the tar ball and put it behind the link we have in the example. something like that.

[2019-12-16 07:58] #2150 closed

[2019-12-16 08:22] #292 closed

[2019-12-16 08:23] settermjd commented on #296
ping @felixheidecke

[2019-12-16 09:28] #1638 closed

[2019-12-16 09:29] #680 closed

[2019-12-16 10:25] DeepDiver1975 opened #2157 "[DAV] resolve file id to user path"
Introduced with https://github.com/owncloud/core/pull/35819/files in 10.3

With a PROPFIND to remove.php/dav/meta/${FILEID} and the prop {http://owncloud.org/ns}meta-path-for-user the response will return the path ti the file/folder for the logged in user

[2019-12-16 12:12] felixheidecke commented on #296
Hi there ... there isn't any progress here. And since I'm currently working on legacy code ... I doubt I'll come back for it ⊙﹏⊙∥

[2019-12-16 12:12] #296 closed

[2019-12-16 15:18] voroyam commented on #2148
https://github.com/owncloud/docs/pull/2158

[2019-12-17 07:56] #2148 closed

[2019-12-17 07:58] settermjd commented on #2152
Thanks for the feedback, @pako81

[2019-12-17 09:28] settermjd commented on #2152
From some further investigation, there are a number of changes to the file in master that haven't been backported to 10.3. I'll get a backport done now, and see if any further changes still need to be made.

[2019-12-17 13:38] settermjd commented on #2152
@pako81 / @haukman, I updated the file in #2160. Can you review that PR and let me know if further changes are required?

[2019-12-18 08:44] VicDeo commented on #321
https://github.com/owncloud/docs/pull/2103 clarifies that migrations are preferable.

[2019-12-18 08:44] #321 closed

[2019-12-19 08:41] settermjd commented on #269
How to list versions of a file (perform PROPFIND to /remote.php/dav/meta/$fileid/v)
How to restore a version: (COPY /remote.php/dav/meta/$fileid/v/$versionid /remote.php/dav/files/$user/foo/bar)

These are already documented in https://doc.owncloud.com/server/10.3/developer_manual/webdav_api/files_versions.html. However, the existing documentation is quite minimal. I'll flesh out the information t

[2019-12-19 08:55] mmattel opened #2165 "Missing document: core/apis/ocs/notifications/notification-workflow.adoc"
## What Needs to be Documented?
Missing document: `core/apis/ocs/notifications/notification-workflow.adoc`
FullPath: `docs/modules/developer_manual/pages/core/apis/ocs/notifications/`

## Where Does This Need To Be Documented?
developer manual

## Why Should This Change Be Made? (Optional)
Missing document == doc validation fails and merging is impossible
Fixing: https://github.com/owncloud/docs/p

[2019-12-20 10:12] HanaGemela opened #2167 "Document customgroups.disallow-admin-edit"
Document the new settings
https://github.com/owncloud/customgroups/issues/266#issuecomment-567386553

[2019-12-20 10:24] settermjd commented on #2165
I don't get that error. Which branch are you running the validator on?

[2019-12-20 14:11] HanaGemela commented on #2167
Release already done, @settermjd please update the docs

[2019-12-20 15:50] settermjd commented on #2167
Shall do, @HanaGemela, but likely after I get back from the Xmas break.

[2019-12-21 17:49] mmattel commented on #2165
See referenced PR above (#2163)

[2019-12-28 01:03] jnweiger opened #2168 "php upgrade instruction should not advertise php 5.6 or php 7.0 any more"
https://github.com/owncloud/docs/blob/10.3/modules/admin_manual/pages/maintenance/upgrading/upgrade_php.adoc
mentions php 5.6 and php 7.0 as the way to go. This is outdated.

[2019-12-28 01:14] jnweiger opened #2169 "the update examples need an update"
https://github.com/owncloud/docs/blob/master/modules/admin_manual/pages/_partials/maintenance/major_release_note.adoc

* mentions updates from 7.x 8.x 9.x, it should also mention updates from 10.0, 10.1 or 10.2
* it mentions updates to 10.2.1 -- but we are at 10.3 already.

[2019-12-30 07:09] settermjd commented on #2169
Thanks for mentioning this, @jnweiger.

[2019-12-30 07:50] settermjd commented on #2168
I agree that instructions for PHP 5.6 absolutely must be removed, as it's been EOL since 31 Dec 2018. However, 10.3 requires 7.0.8 as a minimum PHP version, and master lists 7.1 as the minimum required version.

I suggest removing PHP 5.6 instructions, and adding options for 7.0, 7.1, 7.2, & 7.3. That said, 7.0 was EOL on 10 Jan 2019 and 7.1 was EOL on 1 Dec 2019. But, I'm trying to balance that w

[2019-12-30 08:07] phil-davis commented on #2168
As of today, installations must be running PHP 7.0 to 7.3 before upgrading. So yes, we should remove mention of 5.6. I think that will work - e.g. core 8.2.11 supports PHP up to 7.2, so you can bump PHP all the way to 7.2 while running ownCloud core 8.2.11, then you can upgrade your ownCloud to 10.3.2

If you have ownCloud core before 8.2.11 then you are required to first upgrade to 8.2.11 anyway.

[2019-12-30 11:21] settermjd commented on #2168
Thanks for the further information, @phil-davis.

[2019-12-30 13:34] settermjd commented on #2165
`yarn validate` wasn't failing for me on that branch, until I ran `yarn install`. FWIW, to me, it makes more sense to add a comment on the PR, instead of creating a new issue.

[2020-01-01 14:57] garrettboone commented on #2040
Also, the "Cron Jobs" section is duplicated with the first instance showing php and not full path (as being discussed), and the second instance showing full path, with an additional sub-item of "Available Background Jobs".

![image](https://user-images.githubusercontent.com/47018474/71642673-fe2ab500-2c7c-11ea-8d4e-00e8f82c6045.png)

[2020-01-02 08:21] settermjd commented on #2165
Closing, as the change has been implemented.

[2020-01-02 08:21] #2165 closed

[2020-01-02 09:41] #2113 closed

[2020-01-02 10:05] #2107 closed

[2020-01-02 11:18] voroyam commented on #2106
https://github.com/owncloud/docs/pull/2176

[2020-01-02 11:40] #2106 closed

[2020-01-07 12:16] #2167 closed

[2020-01-07 14:39] settermjd opened #2187 "Finish the style guide"
A style guide was started some months ago, but seemingly never finished. It can be found in docs/style-guide.md. It should be finished, and be based on the Chicago Manual of Style.

[2020-01-07 15:07] #619 closed

[2020-01-10 08:05] jnweiger opened #2192 "Publish server/10.4/user_manual/"
This is needed for https://github.com/owncloud/enterprise/issues/3722, please.
The build of the tar requires access to https://doc.owncloud.com/server/10.4/user_manual/ownCloud_User_Manual.pdf

[2020-01-10 12:54] #2127 closed

[2020-01-10 13:24] settermjd commented on #2192
The 10.4 branch is now available, and there are three PRs that are being backported to it. Just need approval on those, and the branch is ready to be published. I think I need to also update the master branch wrt the 10.4 branch being published.

[2020-01-10 14:09] #2141 closed

[2020-01-13 11:07] #2112 closed

[2020-01-13 12:10] #2169 closed

[2020-01-13 14:28] jnweiger commented on #2192
I just saw an error in https://drone.owncloud.com/owncloud/docs/6622
[code]

@settermjd Is that blocking the update?

[2020-01-13 18:47] cdamken opened #2209 "Wrong URL"
Checking the documentation:

https://doc.owncloud.com/server/10.3/admin_manual/maintenance/manual_upgrade.html

The verion now is 10.3.2 now and the URL fro the Upgrade shows:

wget https://download.owncloud.org/community/owncloud-10.2.1.tar.bz2

@voroyam @settermjd  Could you please help?

[2020-01-13 18:49] cdamken commented on #2209
Here is the Pull request: https://github.com/owncloud/docs/pull/2210

[2020-01-13 18:49] cdamken commented on #2209
I think I forgot other places too, ;)

[2020-01-14 08:12] jnweiger commented on #2209
Do we want to have the current URL there for each release?
If so, I suggest to use a `*latest*` symlink to reduce maintenance.

[2020-01-15 12:22] settermjd commented on #2192
It would have been, but is resolved now.

[2020-01-15 12:24] settermjd commented on #2209
@cdamken, I agree with @jnweiger. Use "latest", which will always redirect to the latest version of the documentation. I'll do a bit of grepping for other places that might have hardcoded version strings.

[2020-01-15 12:24] #2209 closed

[2020-01-15 14:08] settermjd commented on #2192
The 10.4 branch is currently available. It is not being automatically redirected to from latest, but that is coming after a current PR is reviewed and merged.

[2020-01-15 14:08] settermjd commented on #2192
You can find it at https://doc.owncloud.com/server/10.4/.

[2020-01-15 14:12] settermjd commented on #2192
The links to the PDFs are not, currently, working. Am working to fix that.

[2020-01-16 00:06] ChrisEdS commented on #537
@dschmidt Close?

[2020-01-16 09:34] jnweiger commented on #2192
The 10.4 overview page page https://doc.owncloud.com/server/10.4/ says "Latest Stable Release (version 10.2)" and links into the 10.2 tree.

![image](https://user-images.githubusercontent.com/1108546/72511424-7089c080-384b-11ea-849f-1816f90af12f.png)

10.3 and 10.4 should be added to the overview.

[2020-01-16 14:35] settermjd commented on #2192
I thought that I submitted a PR for that. If not, I'll get right on it.

Not quite sure what's going on there, yet. Will aim to have a PR created for it today, if not to have it resolved.

[2020-01-20 12:19] settermjd commented on #537
Why was the issue closed and reopened, @ChrisEdS?

[2020-01-20 12:22] settermjd commented on #2152
Closing, as the implementing PR (#2160) has been merged and no further changes have been requested.

[2020-01-20 12:22] #2152 closed

[2020-01-20 12:30] ChrisEdS commented on #537
Got no confirmation from @dschmidt - Can we close it?

[2020-01-20 12:33] dschmidt commented on #537
This is so old, I don't remember - I will confirm.

[2020-01-20 13:54] HanaGemela opened #2235 "Missing documentation for Audit 2.0.0"
Add documentation based on the current README https://github.com/owncloud/admin_audit/blob/master/README.md

[2020-01-21 10:32] micbar commented on #2100
@settermjd @DeepDiver1975 How could we move on with this topic?
IMO this is all part of the Phoenix MVP and therefore has some prio.

[2020-01-21 10:51] settermjd commented on #2235
Shall do. Thanks, Hana.

[2020-01-21 18:17] jnweiger opened #2236 "10.4 branch has no release notes for 10.4.0"
* https://github.com/owncloud/docs/blob/10.3/modules/admin_manual/pages/release_notes.adoc

   has release notes for up to 10.3.1 and warns that " The next minor version of ownCloud Server  (around the end of 2019) no longer supports PHP 7.0" -- OK.

* https://github.com/owncloud/docs/blob/10.4/modules/admin_manual/pages/release_notes.adoc

   has one additional release notes section for 10.3.2, a

[2020-01-22 01:15] phil-davis commented on #2236
There are more PRs waiting to be reviewed/merged for 10.4, so actually the details of what "is" in the release are not yet known, so it would be hard to have release notes yet :)

[2020-01-22 10:02] #2168 closed

[2020-01-22 10:02] jnweiger opened #2240 "Documentation has two sections called Release Notes"
The navigation sidebar at https://doc.owncloud.com/server/10.4/ has
![image](https://user-images.githubusercontent.com/1108546/72884161-f2736100-3d05-11ea-92e8-ee055e7decf7.png)

<hr>

The two 'Release Notes' sections are confusing.
If there are two with a purpose, then
* the first one at the top should talk about the product
* the second one in the Administation Manual would maybe talk about majo

[2020-01-22 10:03] jnweiger commented on #2240
Thanks to @voroyam for pointing out that there are two of them.

[2020-01-22 10:14] settermjd commented on #2240
Thanks for raising this, @jnweiger. After reviewing the documentation, I'm keen to go a little further by also moving the "_What's New_" pages from the Admin and User manuals to the top-level of the documentation, where the first "_Release Notes_" and "_How to Contribute_" pages are.

[2020-01-22 10:31] jnweiger opened #2244 "PDF navigation issues"
The navigation of the PDF document has the headings
* ownCloud User Manual
* Table of Contents
* Introduction
at the top level.
Everything else is indented under Introduction.

![image](https://user-images.githubusercontent.com/1108546/72886639-73ccf280-3d0a-11ea-908f-f50ce901ab1f.png)

The stucture in that screenshot should be linear, not indented.

[2020-01-22 10:51] jnweiger commented on #2192
Success!
https://doc.owncloud.com/server/10.4/user_manual/ownCloud_User_Manual.pdf is now there!

@settermjd should we wait for https://github.com/owncloud/docs/issues/2236 before progressing with https://github.com/owncloud/enterprise/issues/3722 ?

[2020-01-22 11:00] jnweiger commented on #2236
We have a comprehensive https://github.com/owncloud/core/blob/release-10.4.0/CHANGELOG.md in the release branch (top section of that files, still flagged as UNRELEASED).

How are release notes done? Based on the changelog entries, or independantly?

I disagree with Phil's implication that late additions should block a start :-)

[2020-01-22 11:24] phil-davis commented on #2236
I agree with @jnweiger disagreeing ;)
That CHANGELOG should be a good start. (Thosse things at least should end up in 10.4)
Just note that `release-10.4.0` branch has been merged back to `master` (it got old over Christmas and New Year...). So we "stopped" it. We are doing "development for 10.4" in `master` and a whole new core branching/release process will start when core `master` has all the fe

[2020-01-22 12:15] jnweiger opened #2246 "PDF fails to render menu:[] btn:[] and some images correctly"
Here the section about the Market app is shown. Other parts may be affected similarily.

The HTML version at https://doc.owncloud.com/server/10.4/user_manual/apps/market.html renders the elements nicely:
![image](https://user-images.githubusercontent.com/1108546/72893120-96fe9e80-3d18-11ea-846f-413de4db15bd.png)

The PDF version at https://doc.owncloud.com/server/10.4/user_manual/ownCloud_User_Man

[2020-01-22 12:45] settermjd commented on #2246
There might be a way of better integrating the experimental functionality into asciidoctor-pdf. I'll do some research and comment further when I know more.

[2020-01-22 13:04] settermjd commented on #2246
I just did a bit of checking and found 72 instances that would need to be updated, likely with [a conditional preprocessor directive](https://asciidoctor.org/docs/user-manual/#conditional-preprocessor-directives), if there isn't a suitable workaround in asciidoctor-pdf. I've asked about a workaround in the Antora forum, but have yet to hear back from someone there.

If there isn't a suitable worka

[2020-01-22 13:05] settermjd commented on #2244
This looks like there is a formatting error in either the section/page titles or in the generated navigation page. I'll investigate and find out what's going on.

[2020-01-22 13:31] settermjd commented on #2246
It would, but I think that might turn into a maintenance nightmare. After doing some further research, I think adding [a supplemental stylesheet](https://github.com/Mogztter/asciidoctor-pdf.js/) might suffice. Not sure yet, as I need to experiment with the idea.

[2020-01-22 13:54] settermjd commented on #2246
The project's author said that it likely should work. Currently experimenting to find out if it does work or not.

[2020-01-22 15:25] settermjd commented on #2246
Might have a simple solution to the issue, setting the experimental attribute when building the PDFs. Have a look in the image below.

![pdf](https://user-images.githubusercontent.com/196801/72907189-c66ed480-3d33-11ea-9288-a731657dc20f.png)

[2020-01-22 16:55] jnweiger commented on #2246
That looks great!
Seems that we now want experimental features in our production pipelines. Sigh. That is a different breed of Nightmares, is it?

[2020-01-22 20:08] jnweiger opened #2247 "hrefs in PDF point into nirvana"
Seen in https://doc.owncloud.com/server/10.4/user_manual/ownCloud_User_Manual.pdf

There is an embedded href called " Troubleshooting Contacts & Calendar "in the PDF document near page 61:

![image](https://user-images.githubusercontent.com/1108546/72929893-06957d80-3d5b-11ea-8d61-0b41423d787d.png)

The link causes a 404 error.  It has excess elements in the middle of the path, that should not be

[2020-01-23 18:56] mmattel commented on #2140
After a successful run, additional changes are made in core which need another run when merged.

- [x] https://github.com/owncloud/core/pull/36413
- [ ] https://github.com/owncloud/core/pull/36526
- [ ] https://github.com/owncloud/core/pull/36796
- [ ] https://github.com/owncloud/core/pull/36815

[2020-01-24 08:34] settermjd commented on #2247
Looking in to that now. Thanks for creating the issue for it.

[2020-01-24 16:48] MichaIng opened #2253 "Apache2 HOME and HTTP_HOME env vars"
For reference: https://github.com/nextcloud/documentation/issues/1798
Any reasons from ownCloud side if HTTP_HOME and HOME env vars are required/what their purpose is?
Those have been added [here](https://github.com/owncloud/docs/commit/f9a3f4ebcff672049c9c0585644de23e1321e34e#diff-25006775d47d90bb1b266dc81ec432ecR190-R191), but I cannot see any description or explaination, no mention in Apache2 d

[2020-01-27 08:55] enbrnz opened #2254 "occ occ db:convert-type is broken"
## What Needs to be Documented?

Currently there is no way to migrate from SQLite to MySQL/MariaDB/PostgreSQL as there is the following issue:

https://github.com/owncloud/core/issues/27075

Therefore we should take out this part out of the docs until the issue is fixed.

## Where Does This Need To Be Documented?
https://doc.owncloud.com/server/admin_manual/configuration/server/occ_command.html#da

[2020-01-27 10:34] settermjd commented on #2254
Thanks, @enbrnz. I'll get a PR for that done today.

[2020-01-27 10:51] settermjd commented on #2236
Up to this point, @pmaier1 has provided the basis of the release notes for each release, which are then reviewed, and ultimately merged.

[2020-01-27 10:52] settermjd commented on #2192
If @pmaier1 has the time to create the release notes, otherwise I'll create them based off of #2236.

[2020-01-27 11:07] jnweiger opened #2259 "https://owncloud.org/community/documentation/ misses 10.3 and 10.4"
The community web page has latest links, that already point to 10.4 -- but the links further down only list versions up to 10.2 but nothing later.

[2020-01-27 11:10] jnweiger commented on #2259
btw: the background photo is intimidating, imho.

[2020-01-27 11:39] #2246 closed

[2020-01-27 14:35] settermjd commented on #2259
It is rather imposing, yes.

[2020-01-27 15:33] settermjd commented on #2100
Two PRs need to be merged: #2110 and https://github.com/owncloud/core/pull/36526. As soon as they're done, then this has been implemented.

[2020-01-27 15:57] settermjd commented on #2259
After discussing this with @michaelstingl earlier, I'm going to talk with Flo tomorrow about getting an account, so that I can address this directly.

[2020-01-27 16:07] pmaier1 commented on #2254
With 10.3.0 we released fixes for the command (https://github.com/owncloud/core/pull/35390). It's still experimental but we're waiting for feedback from the community. So, please don't change it unless there's a good reason for it.

[2020-01-30 09:20] HanaGemela opened #2265 "Documentation needed for Group-based retention policies based on upload time"
@settermjd please get in touch with @micbar and @davitol they'll help you to get all the information  you need

GitHub issue: https://github.com/owncloud/enterprise/issues/3361 Group-based retention policies based on upload time

PRs:
https://github.com/owncloud/workflow/pull/191
https://github.com/owncloud/workflow/pull/214

[2020-01-30 10:04] micbar opened #2266 "Document the setup of OfficeOnline"
Currently, only @DeepDiver1975 knows how to configure it.

## What Needs to be Documented?
Setup of an OfficeOnline Server

## Where Does This Need To Be Documented?
Admin Docs

## Why Should This Change Be Made? (Optional)
Not existing.

## What Type Of Content Change Is This? (Optional)
- [x] New Content Addition
- [ ] Old Content Deprecation
- [ ] Existing Content Simplification
- [ ] Bug Fix t

[2020-01-31 08:56] #2105 closed

[2020-01-31 10:25] settermjd commented on #2266
@DeepDiver1975, can you provide the core of what you know so that this issue can be documented, please?

[2020-01-31 10:26] settermjd commented on #2265
Thanks, @HanaGemela. Shall do.

[2020-01-31 10:27] settermjd commented on #2265
ping @micbar @davitol

[2020-01-31 10:29] settermjd commented on #2254
Okay. I'll close #2258, based on this feedback.

[2020-01-31 10:51] settermjd commented on #2259
I've removed 10.0 and added 10.3 & 10.4

[2020-01-31 11:04] #2254 closed

[2020-01-31 11:08] settermjd commented on #2192
Closing, as the PDFs for the 10.4 release are now being successfully generated.

[2020-01-31 11:08] #2192 closed

[2020-01-31 11:09] settermjd commented on #2045
Frustratingly, this pops up periodically.

[2020-01-31 12:38] davitol commented on #2265
New Implementation:
   - There is a config option `'workflow.tag-based-retention.use-upload-time'` false by default.
   - It can be set to true in the config.php using occ command `php occ config:system:set workflow.tag-based-retention.use-upload-time --type boolean --value true`
   - False means current behavior
   - True should switch getMtime() to upload time in the lines.

**Note: It needs fil

[2020-01-31 13:37] settermjd commented on #2265
@davitol is there an installation available that has these changes available?

[2020-01-31 13:41] settermjd commented on #1102
Have you been able to make further progress on this, @tboerger?

[2020-01-31 13:42] davitol commented on #2265
AFAIK, right now no.

[2020-01-31 14:58] settermjd commented on #2128
Closing as has been implemented in #2154.

[2020-01-31 14:58] #2128 closed

[2020-01-31 16:03] micbar commented on #2265
@settermjd  This is how you set that up

1)`php occ a:e files_lifecycle`
2) `php occ a:e workflow`
3) `php occ config:system:set workflow.tag-based-retention.use-upload-time --type boolean --value true`
4) log in create user and group
5) `php occ lifecycle:set-upload-time 2019-11-01` for unset upload times
6) Create new tag "expire"
7) Create tagging workflow based on a group membership
8 ) Create

[2020-02-01 01:52] tboerger commented on #2045
CI will fail if the exit code !=0, otherwise it's successful.

[2020-02-03 07:22] DeepDiver1975 commented on #2266
All config parameters are documented in the readme https://github.com/owncloud/wopi#setup

What was causing trouble in the past is the lack of understanding how https/ssl works :see_no_evil:

owncloud as well as the office server need to be accessible via https with valid certs. Selfsigned certs are discouraged because one needs to insert them into windows server .... this is usually yet another s

[2020-02-04 09:40] settermjd commented on #2265
Thanks for the feedback, @micbar @davitol

[2020-02-05 08:49] settermjd opened #2279 "Add missing content to the developer docs theming guide"
@voroyam pointed out that some of the content in the original (RsT) theming guide is missing from the current version of the developer docs theming guide. Please migrate it from https://github.com/owncloud/documentation/blob/5f32f2ae3c3f4b8e45fc034bc0dbe5d41948640f/developer_manual/core/theming.rst#L50.

## What Needs to be Documented?

## Where Does This Need To Be Documented?

## Why Should This

[2020-02-05 08:59] voroyam commented on #2279
It was actually @ChrisEdS who noticed it. So whole credit goes to him. I am just the messenger :D

[2020-02-05 09:03] settermjd commented on #2279
Thanks for clarifying. Thanks for spotting that the content was missing, @ChrisEdS.

[2020-02-05 11:14] #2235 closed

[2020-02-05 12:07] settermjd commented on #2236
@pmaier1, can you add your input, please?

[2020-02-05 12:09] #2259 closed

[2020-02-05 13:18] settermjd commented on #2244
I had a look at the respective navigation files and have come up with a solution. I'll push the PR shortly.

[2020-02-05 13:19] settermjd commented on #2244
![Bildschirmfoto von 2020-02-05 14-15-24](https://user-images.githubusercontent.com/196801/73845236-7f4c0d80-4822-11ea-81bf-94bd6b263f31.png)

This is the new result in the user manual.

[2020-02-06 10:37] pmaier1 commented on #2236
Sure, will do this week.

The release notes are part of the admin manual. Do we also include that part in a release? Afair it is only the user manual which is included. In the past we never blocked a technical release for missing release notes.

[2020-02-06 11:15] #2140 closed

[2020-02-06 11:20] settermjd commented on #2236
Thanks kindly!

If we've never blocked a release in the past, then it makes sense, to me at least, to continue that tradition.

[2020-02-06 11:37] #2240 closed

[2020-02-06 14:11] voroyam opened #2293 "add our mimetype mapping to the firewall document"
https://github.com/owncloud/core/blob/master/resources/config/mimetypemapping.dist.json

this file contains helpful mimetypes which are needed if you want to block upload of a certain type via the file firewall app.

We need to add this to the firewall config document.

https://doc.owncloud.com/server/admin_manual/enterprise/firewall/file_firewall.html

[2020-02-07 08:34] settermjd commented on #2293
Is this what you and @ChrisEdS were discussing yesterday?

[2020-02-07 08:37] settermjd commented on #2293
I'll have a review of file_firewall.adoc and get on this one. Should have it finished today.

[2020-02-07 09:38] oliviercailloux opened #2294 "Clarify doc about sharing"
I recently [tried to use file sharing](https://central.owncloud.org/t/how-does-shared-folder-work/23490) and found two points quite unclear in the user manual.

First, I did not realize, reading the user manual, that the [Guest sharing](https://doc.owncloud.org/server/10.4/user_manual/files/webgui/sharing.html#sharing-files-with-guest-users) feature enables my guest to use the ownCloud client to s

[2020-02-07 09:47] oliviercailloux commented on #2244
I suppose that the text of the PDF version is the same as the text of the [HTML version](https://doc.owncloud.org/server/10.4/user_manual/) of the user manual, isn’t it?

If so, it would be nice if these headings would be exactly the same in both versions, and if the PDF structure would also display the sub-headings. For example, the HTML version has a `The WebUI` /
`Navigating the WebUI` sub-head

[2020-02-07 10:18] voroyam commented on #2293
Yes, this was, what we were discussing. I noticed every time a customer asks us about firewall we start to search google. Would be easier if it were in our docs.

[2020-02-07 10:54] #2253 closed

[2020-02-07 11:12] MichaIng commented on #2253
@settermjd
Thanks, and good to know that those are indeed unused.

[2020-02-07 18:29] voroyam commented on #2293
I want to add the 5 most common extensions and their mimetype on top of the PR from you @settermjd . Please don't close this issue until I do :)

[2020-02-10 09:01] settermjd commented on #2294
Hi @oliviercailloux. Thanks for taking the time to detail your experiences in this issue. In collaboration with the developers, I'll review this section of the documentation and make all the required changes.

[2020-02-10 09:58] pmaier1 commented on #2236
Here we go https://github.com/owncloud/docs/pull/2299

[2020-02-10 10:10] voroyam commented on #2266
@micbar I documented everything I know here https://github.com/owncloud/administration-internal/wiki/Office-Online

[2020-02-10 11:12] settermjd opened #2300 "Overhaul the User Manual"
## What Needs to be Documented?

## Where Does This Need To Be Documented?

## Why Should This Change Be Made? (Optional)

## What Type Of Content Change Is This? (Optional)
- [ ] New Content Addition
- [X] Old Content Deprecation
- [X] Existing Content Simplification
- [X] Bug Fix to Existing Content

## Which Manual Does This Relate To? (Optional)
- [ ] Admin Manual
- [ ] Developer Manual
- [X]

[2020-02-10 11:43] settermjd opened #2301 "Combine External Storage Configuration and External Storage Configuration GUI documentation"
Looking at the documentation in "_External Storage Configuration_", I don't see any sense it remaining a standalone file. It could be merged into "_External Storage Configuration GUI_" documentation as a NOTE admonition.

## What Needs to be Documented?

## Where Does This Need To Be Documented?

## Why Should This Change Be Made? (Optional)

## What Type Of Content Change Is This? (Optional)
- [

[2020-02-10 13:44] CaptionF opened #2302 "Move API key information to Admin guide - Appliance - Configuration - Enterprise Trial"
Currently information of the API key (used in the Marketplace) is documented in the developer guide:
https://doc.owncloud.com/server/developer_manual/app/fundamentals/market_app.html

However, everyone who wants to test enterprise apps needs to know the API key, and for that this information should be part of the Admin Guide under "Appliance / Configuration / Enterprise Trial"

[2020-02-11 13:55] voroyam commented on #2302
the dev docs are representing a planed state, planed 2 years ago. Now the plans have changed, and the reality is different.

[2020-02-11 13:55] #2302 closed

[2020-02-11 14:21] voroyam commented on #2293
@settermjd what was my last comment in this issue?

[2020-02-12 09:45] voroyam commented on #2293
Okay, then I answer it myself.

My comment was please don't close until I do.

reading helps, sometimes.

[2020-02-12 13:03] settermjd commented on #2293
Sorry for overlooking that.

[2020-02-13 15:32] #2244 closed

[2020-02-13 15:58] oliviercailloux commented on #2244
I don’t think the patch solves the problem I just mentioned. Should I open another bug report?

[2020-02-17 15:22] voroyam opened #2318 "Add arguments/options to files:checksums:verify"
The arguments for files:checksums:verify are missing on this page:

https://doc.owncloud.com/server/admin_manual/configuration/server/occ_command.html#file-operations

I have no idea where the corresponding file is, I would have changed it myself. But now it's all includes of files that are located somewhere.

Also why do we call it arguments and in the occ script it's options? No idea.

Here are

[2020-02-19 09:07] voroyam opened #2322 "Client autostart setting save location windows"
`Computer\HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Run`

This is where this setting is stored in windows for the windows desktop client. Maybe we should document this in the client docs.

Clarifying the reason behind this PR:

it may be helpful if users want to disable the autostart and having trouble with it.
For example if they already disabled the autostart in the windows tas

[2020-02-19 18:47] mmattel opened #2326 "installation/deployment_recommendations.adoc needs a update"
## What Needs to be Documented?

`installation/deployment_recommendations.adoc` needs a update, see comments in https://github.com/owncloud/docs/pull/2321#pullrequestreview-361023746

## Why Should This Change Be Made? (Optional)
Scripts are out of date,
URL´s need to be changed to macro definition

## What Type Of Content Change Is This? (Optional)
- [ ] New Content Addition
- [ ] Old Content Dep

[2020-02-19 18:56] mmattel opened #2327 "Cleanup merged branches"
There are many branches which have been merged, which should be deleted as they are not used anymore.

Seems that a merge does not automatically delete a branch like it does in other repros.

@settermjd @tboerger

[2020-02-19 19:55] tboerger commented on #2327
The delete merged branches bot is already enabled, the mess seems to be older.

[2020-02-19 20:01] mmattel commented on #2327
This is bad. Can you take a look to make it run successully?

[2020-02-20 02:41] phil-davis commented on #2327
The bot is running correctly - as you merge a PR the branch gets deleted.
It does not cleanup old branches from before the time of the bot. That will need to be done manually.

[2020-02-20 07:04] mmattel commented on #2327
Thanks for the work @phil-davis
Q: based on the example: `10.0-1c1e0a7-1205` This for me looks like an "orphand" branch too, and there are many of them. Guess this was a backport... How to handle these?

[2020-02-20 07:47] phil-davis commented on #2327
IMO there was the time when we were making backports to 10.0 10.1 10.2 and 10.3
Then we changed policy and backport doc fixes only to the "current" and "1 previous" doc version (10.3 and 10.4 at the moment)

So any branches that look like they were for 10.0 10.1 and 10.2 can be deleted.

[2020-02-20 08:15] tboerger commented on #2327
This only happens to repos which are not following the common way of using GitHub: create a fork, create your branch, create a PR from this fork branch, cleanup is up to you. At ownCloud nearly anybody is creating branches on the docs repo and nobody else knows if the branch is still required.

[2020-02-20 08:27] phil-davis commented on #2327
I suspect we have the same "problem" in core (and other repos). If people push a branch, then never get around to creating a PR and getting it merged, then the branch sits there forever "lost".

[2020-02-20 08:36] enbrnz commented on #2326
Please also change it to primary-secondary opposed to master-slave:
https://github.com/owncloud/docs/pull/2321#issuecomment-588287637

[2020-02-24 12:54] settermjd commented on #2327
Thanks for the effort so far, @phil-davis. There are [quite a number of stale branches](https://github.com/owncloud/docs/branches/stale?page=1), which I'd be willing to suggest could also be removed. I'm more than happy to do that.

[2020-02-25 08:52] mmattel opened #2336 ""Edit this page" Documentation"
With all the issues and discussions regarding _"Edit this page"_,
one thing we could do is to write a document about when to use this function.

As as starting point, this doc should (to be completed):
- be placed at the very beginning
- what you can / cant change in a branch and what you must change in master
- backporting
- ...

This highlights the issue of showing _"master"_ in the owncloud ser

[2020-02-25 09:57] phil-davis commented on #2336
We can encourage people to select "master" first, then edit the page.
But there might still be cases where the information is correct in master but wrong in a branch, so if we want corrections to come via "edit this page"  then we will need to leave the option possible from branches.
Whatever happens, there needs to be "someone" who is monitoring all merges to docs, and initiating the appropriate

[2020-02-25 16:03] settermjd commented on #2336
Absolutely. No matter what approach is put in place, there's always the potential for something to fall between the proverbial cracks. However, with the new branch merging requirements, I'd have thought that this would be very difficult.

That's been me for the longest time. The recent enforcement of merge requirements has made the job a lot easier and less error-prone.

[2020-02-25 16:04] settermjd commented on #2336
I agree. The challenge would then be getting the contributor to 1) know about the document and 2) to read and respect it. How do we do that, I'm not sure. I think I might need to ask in the Write the Docs community.

[2020-02-26 04:37] phil-davis opened #2343 "PostgreSQL 10 support in core 10.4"
https://github.com/owncloud/core/issues/33187

Documentation update needed for 10.4

[2020-02-26 21:10] voroyam opened #2349 "restructure memory caching document"
rework memory caching document.

https://doc.owncloud.com/server/admin_manual/configuration/server/caching_configuration.html

it's a mess.

From the moment you start reading until the moment you get to the commands you came to the document to get - you have to read though so much non sense. I know how to install the apcu module on fedora and debian but I don't know how to enable the caching it se

[2020-02-26 21:31] voroyam opened #2351 "Cron missing in the warnings on the admin page"
https://doc.owncloud.com/server/admin_manual/configuration/server/security_setup_warnings.html

there is no cron chapter:

![image](https://user-images.githubusercontent.com/24212810/75389897-a8266680-58e7-11ea-9318-926b677c518c.png)

despite cron being included in this warnings.

[2020-02-26 21:33] voroyam opened #2352 "Take the Ubuntu Installation example out of the Folder Examples"
there are no other examples.

![image](https://user-images.githubusercontent.com/24212810/75390124-005d6880-58e8-11ea-9da7-7cf6c220a087.png)

[2020-02-26 21:39] voroyam opened #2353 "no example how to select cron"
although we recommend it.

https://doc.owncloud.com/server/10.4/admin_manual/configuration/server/occ_command.html#background-jobs-selector

[2020-02-26 21:40] voroyam opened #2354 "update ubuntu installations example to use system cron"
https://doc.owncloud.com/server/10.4/admin_manual/installation/ubuntu_18_04.html#set-up-a-cron-job

here is still the old command.

[2020-02-27 03:53] phil-davis commented on #2343
Done in master PR #2344 and backported to 10.4 docs in PR #2345

[2020-02-27 03:53] #2343 closed

[2020-02-27 10:10] voroyam opened #2355 "remove ldap:update-group from occ commands"
This command has been removed

https://doc.owncloud.com/server/admin_manual/configuration/server/occ_command.html

[2020-02-27 12:55] voroyam commented on #2355
one again I can't find the text because it's **once again** included and hidden somewhere.

@settermjd since you changed it - please make the change I suggest in this issue.

[2020-02-27 13:08] voroyam opened #2356 "Missing Redis server"
https://doc.owncloud.com/server/10.4/admin_manual/installation/deployment_recommendations.html#recommended-system-requirements-2

The description says redis server, but there is none on the picture

[2020-02-27 16:46] voroyam opened #2357 "add missing prerequisite to secure view feature"
@settermjd how about documenting the probably most important prerequisite? The App version that has secure view in it?

It's partially my bad for not noticing it. But if you would have tested it you could not have missed it.

https://marketplace.owncloud.com/apps/richdocuments

richdocuments app or how it's called in marketplace collabora online hast to be 2.2.0.

Please add it to the documentatio

[2020-02-27 16:56] voroyam commented on #2357
https://github.com/owncloud/docs/pull/2358

[2020-03-02 11:54] settermjd commented on #2356
Are you referring to the final bullet point in "Recommended System Requirements"?

[2020-03-02 11:59] settermjd commented on #2355
What do you mean "hidden". It's readily available: https://doc.owncloud.com/server/admin_manual/configuration/server/occ_command.html#ldap-integration.

[2020-03-02 12:37] #2357 closed

[2020-03-02 13:21] settermjd commented on #2353
Can you more fully clarify what you mean?

[2020-03-02 13:35] settermjd commented on #2351
So, you want that warning added to the image in [the introduction](https://doc.owncloud.com/server/admin_manual/configuration/server/security_setup_warnings.html#introduction)?

[2020-03-02 13:51] settermjd commented on #2322
Where should this be documented?

[2020-03-02 14:22] #2349 closed

[2020-03-03 08:13] #2236 closed

[2020-03-03 08:29] #2040 closed

[2020-03-03 08:32] #276 closed

[2020-03-03 09:26] settermjd commented on #1656
@LukasHirt, do you have time to discuss this today (or later in the week)?

[2020-03-03 09:27] settermjd commented on #1338
@ChrisEdS, does https://doc.owncloud.com/server/10.2/developer_manual/core/theming.html#how-to-override-images already covers this issue?

[2020-03-03 09:43] settermjd commented on #1102
@xoxys, can you help out with this issue?

[2020-03-03 10:07] #2326 closed

[2020-03-03 10:47] settermjd commented on #537
@dschmidt, any further update?

[2020-03-03 11:14] #2355 closed

[2020-03-03 11:28] settermjd commented on #2327
Closing as all stale branches have now been cleaned up.

[2020-03-03 11:28] #2327 closed

[2020-03-03 11:29] #2300 closed

[2020-03-03 11:30] #2187 closed

[2020-03-03 12:56] #2279 closed

[2020-03-03 12:58] HanaGemela opened #2388 "Activity app - Add a config option to send notifications ASAP"
We need to document new setting and the new occ command.
https://github.com/owncloud/activity/pull/833

[2020-03-03 15:19] mmattel opened #2391 "Possible orphaned branches"
It seems that there are still possible orphaned branches.
- `10.3-95c4202-2179`
This should become a backport for merged PR #2179 but never made it to be a PR.
I propose deleting this branch and resetup a BP to 10.3 (and 10.4?)
- `10.3-00282f6-1999` same as above but for merged PR #1999
- `10.4-80e5658-2344` same as above but for merged PR #2344, BP only to 10.4
- `pmaier1-patch-3` I also doubt th

[2020-03-04 09:46] settermjd commented on #2391
Thanks for spotting these, @mmattel.

[2020-03-04 12:21] settermjd commented on #2265
@davitol / @micbar https://github.com/owncloud/workflow/pull/214 adds support for using upload time for retention checking for user-based retention and https://github.com/owncloud/workflow/pull/191 adds support for user-based retention for tag-based retention. However, the new property in this issue is named `tag-based-retention.use-upload-time`. Am I correct in believing that it applies to both u

[2020-03-04 12:38] settermjd commented on #2265
@davitol / @micbar do one of you have time tomorrow to discuss group-based retention?

[2020-03-04 14:04] #2301 closed

[2020-03-05 08:52] HanaGemela opened #2396 "Ransomware protection - extension list updated"
Please document changes in the extension list https://github.com/owncloud/ransomware_protection/pull/217

[2020-03-05 08:58] HanaGemela commented on #2396
PR https://github.com/owncloud/docs/pull/2397

[2020-03-05 09:39] #2396 closed

[2020-03-05 15:53] Akidxx opened #2398 "Missing user pages screenshot"
https://doc.owncloud.com/server/admin_manual/configuration/user/user_auth_ldap.html#syncing-users

![image](https://user-images.githubusercontent.com/15052479/75998553-46768580-5f01-11ea-9273-a882afddc43b.png)

After synchronysing my users to the owncloud server I was not able to check them fastly because it's not clear from the documentation how to access the user page.

[2020-03-05 16:50] voroyam commented on #2398
https://github.com/owncloud/docs/pull/2399

[2020-03-05 16:51] voroyam commented on #2398
Pr.

[2020-03-05 16:51] #2398 closed

[2020-03-05 22:33] jnweiger opened #2402 "https://owncloud.org/changelog/server/ improvements"
I'd like to suggest the following changes to how we present the changelog

* Currently https://owncloud.org/changelog/server starts with a link to owncloud 9.  I find it a confusing start, when follwing a link from a 10.4.0 annoucement. It should go to the bottom. It follows logically right **after** the 10.0.0 changelog section.

* The UNRELEASED section should be collaped by default. If users wa

[2020-03-05 23:35] jnweiger opened #2403 "click on admin-manual -> installation -> installation-options shows nothing"
the rendered web view at doc.owncloud.com of the admin manual has a navigation on the left side.
Clicking on a navigation entry usually shows the entry, and if it has sub-entries unfolds the tree so that sub entries can be seen.
This does not work for installation-options. It does not reveal its subsections, and shows only a useless one liner saying
"In this section, you will find all the informat

[2020-03-06 00:01] jnweiger opened #2404 "linux installation instructions are self-contradicting"
* [ ] https://doc.owncloud.com/server/admin_manual/installation/deployment_recommendations.html#general-recommendations recommends has three scenarios only recommending RHEL and SLES,
**but** we give details only for Ubuntu 18.04 in https://doc.owncloud.com/server/admin_manual/installation/manual_installation.html#install-the-required-packages and have a dedicated examples setion also only on http

[2020-03-06 00:10] jnweiger commented on #2404
An ultra-short install instruction for Ubuntu 18.04 in less than 10 commands:

As root user do:
[code]

As normal user do:
[code]

[2020-03-06 09:08] settermjd commented on #2404
Thanks for creating the PR, @jnweiger.

[2020-03-06 09:09] settermjd commented on #2403
Thanks for creating this. I'll work through it early next week.

[2020-03-06 09:13] settermjd commented on #312
@sharidas, do you still need https://github.com/owncloud/docs/issues/312 implemented?

[2020-03-06 09:17] #537 closed

[2020-03-06 09:23] pmaier1 commented on #2402
Yes, I absolutely agree with these improvements. Still, this is not part of the docs. Will put this into the right channels :)

[2020-03-06 09:37] settermjd commented on #2265
Closing after feedback from @micbar.

[2020-03-06 09:37] #2265 closed

[2020-03-06 10:43] hurradieweltgehtunter commented on #2402
Thanks @jnweiger for the improvements. I agree but there are certain limitations.
The Changelog page is automatically created  based on https://raw.githubusercontent.com/owncloud/core/master/CHANGELOG.md
Wordpress fetches the contents once an hour, parses the markdown code, converts it to HTML and saves it in the WP DB. Thus, only elements/markup existing in markdown are possible on this page. Col

[2020-03-06 12:17] #2352 closed

[2020-03-06 13:11] #2100 closed

[2020-03-06 13:51] micbar commented on #2402
You mean the github links on the version? https://github.com/owncloud/core/compare/v10.3.2...v10.4.0 this is the github history betweed these two tags.

If you want an anchor link, we need to investigate how we can pass it from markdown to html

[2020-03-06 16:31] jnweiger commented on #2402
Yep automation is key -> forget the collapsing idea.
V9 link underneath is preferable to me even though the page is long, imho.
Nname attributes to be added by the generator scripts. Ok.

[2020-03-06 21:56] voroyam commented on #2404
The term was not given by me. It is however „ultra short“ if you compare it to the manual installation guide or the one from @mmattel

Furthermore we recommend manual installation, that’s why the example installation guide is longer.

Plus - I wanted it to be copy/paste-able, to avoid errors from user entry.

[2020-03-06 22:07] voroyam commented on #2322
Good question

[2020-03-06 22:09] voroyam commented on #2322
https://doc.owncloud.com/desktop/2.6/installing.html

[2020-03-06 22:10] voroyam commented on #2351
Yes. And a link to resolve the warning.

[2020-03-06 22:11] voroyam commented on #2353
We recommend using corn as the background job. But in our docs we do not provide an example how to select corn as the background job on the occ page. In the example Ajax is used.

[2020-03-06 22:13] voroyam commented on #2356
Yes. I think I already uploaded an updated picture

[2020-03-07 10:22] mmattel commented on #2404
Let´s differenciate things a bit.
A condensed set of commands installing packages does not make a working installation.
A guide on the other hand side has beside the set of commands also a description of how using the installed applications to make things working together.
You may argue, and this is a valid point, people should know how to use it. But making a software successful also means to low

[2020-03-09 09:15] #2354 closed

[2020-03-09 10:38] settermjd commented on #2353
@voroyam, 🌽?

[2020-03-09 11:59] settermjd commented on #2266
I have very little experience administering Windows servers. Do you have time to talk abour your notes, @voroyam?

[2020-03-09 12:45] settermjd commented on #2404
@jnweiger, regarding your first point, this seems like a bit of a challenging situation. The official position for examples in the documentation is that they are to only be for Ubuntu. However, if there are official recommendations, in certain situations, for other distributions, then it makes sense to me that there should be examples for those distributions.

Regarding the second point, I agree t

[2020-03-09 13:01] pmaier1 opened #2424 "Improvements for OIDC docs"
- What is the role of OIDC in ownCloud? Which purpose does it serve?
- Marketplace link
- Example configuration for the different components e.g., with Konnect?
- How to migrate from OAuth2 to OIDC?
- How to authenticate local users via OIDC?
- Which client versions support OIDC?
- What configuration do clients require?
- Replace flow sequence diagram with one that suits OIDC or remove it

[2020-03-09 14:19] HanaGemela opened #2425 "LDAP: Easier tls"
Please document changes in https://github.com/owncloud/user_ldap/pull/512

[2020-03-09 14:26] hurradieweltgehtunter commented on #2402
V9 linkwas moved to the bottom

[2020-03-09 17:01] jnweiger commented on #2404
@settermjd  the above looks good to me. Thanks. Go ahead!

Let's discuss adding more examples later. It is certainly a strange position to avoid examples here for the platforms that we recommend elsewhere.

[2020-03-10 11:20] VicDeo commented on #1338
@settermjd Currently it has a sample for the core assets only.
it would be good to have examples for the following cases
 - shipped `apps` apps directory
- a custom app directory

[2020-03-10 14:08] settermjd commented on #2404
I appreciate that the support team is trying to make the documentation simpler to maintain and for users as well. However, in this specific use case, it makes sense to break from that new continuity and have examples.

[2020-03-10 14:09] settermjd commented on #2425
Thanks for creating this, @HanaGemela. What is the priority for completing this?

[2020-03-10 14:12] HanaGemela commented on #2425
Ldap release has a priority P3 and you can see it in https://github.com/orgs/owncloud/projects/20
Currently the app is waiting for QA and the documentation has to be done before the app goes live

[2020-03-10 14:57] settermjd commented on #2425
Okay. Thank you.

[2020-03-10 15:57] HanaGemela commented on #2388
I've got some feedback on the documentation that it is not clear enough

`occ system:cron` is the command that allows to send notifications ASAP. But It is not a new command and also hasn't the same purpose than `occ activity:send-emails` that flushes the entire queue

@davitol please help if needed

[2020-03-11 13:57] settermjd commented on #2388
Unless I'm mistaken, `activity:send-emails` was the command to send all pending activity emails asap and `system:cron` executes background jobs as Cron.

[2020-03-11 14:50] mmattel commented on #2388
Which is never asasp in terms of immediate as it is dependent on how cron is setup and usually you have 15min cycles....

[2020-03-12 08:04] davitol commented on #2388
@VicDeo probably is the Guru than can clarify us if everything is OK documented, which command should we use with ASAP option etc

[2020-03-12 09:08] VicDeo commented on #2388
ASAP stands 'as soon as possible' and it's not the same with 'immediately'

1.  `occ activity:send-emails` sends all pending activity notifications **immediately** regardless the time they are scheduled.

2.  `ASAP` is a per-user setting, so all notifications are added to the queue with no time lag  for this user. But the queue itself is still being processed by cron.

[2020-03-13 16:39] jnweiger opened #2437 "Admin manual: "What's New" is old -- drop?"
The website https://doc.owncloud.com/server/10.4/admin_manual/whats_new_admin.html has only one poor reference to what was new in 10.0 -- it seems no updates were added since then.

This website is referenced from README files in the customer portal and elsewhere.
It is mentioned in addition to the Release Notes at https://doc.owncloud.com/server/10.4/admin_manual/release_notes.html

Suggestion:
*

[2020-03-13 17:33] jnweiger opened #2439 "10.4: Update System requirements"
I just started  with https://github.com/owncloud/docs/pull/2438
There is more, PHP versions, databases, ...

[2020-03-14 16:09] phil-davis opened #2441 "master and 10.4 branches still have references to PHP 7.0"
## What Needs to be Documented?
"random" references to PHP 7.0 need to be removed from current documentation in master and 10.4 branches so that they do not cause confusion.

## Where Does This Need To Be Documented?
See PR #2442 which proposes a couple of "easy" changes.

`modules/developer_manual/pages/testing/unit_testing.adoc` - the whole section about unit testing of ownCloud versions <10 cou

[2020-03-16 04:57] #2425 closed

[2020-03-16 10:50] settermjd commented on #2441
Thanks for raising this, @phil-davis. I'll get them fixed up.

[2020-03-16 11:30] HanaGemela opened #2448 "Support for playing Apple Quicktime (*.mov) does not work for Chrome"
Please document https://github.com/owncloud/files_mediaviewer/issues/192#issuecomment-599481401

[2020-03-17 02:05] #2441 closed

[2020-03-17 09:52] settermjd commented on #2437
This makes perfect sense to me. The release notes are very thorough as @pmaier1 puts a lot of effort into them. @pmaier1, unless you have an objection, I'll add this issue to the queue.

[2020-03-17 10:16] pmaier1 commented on #2437
Yep, I agree. Thanks!

[2020-03-18 11:36] settermjd commented on #2388
@HanaGemela, can you clarify, specifically, how it is not clear enough?

[2020-03-18 11:39] HanaGemela commented on #2388
@davitol please check the documentation if it is precise enough

[2020-03-18 11:54] #2448 closed

[2020-03-18 13:58] voroyam opened #2469 "WOPI: Document Chrome Document Locking"
We found out that when you use chrome and edit a document via ownCloud in Office Online - the lock is not released with the closing of the document, but after the 30 min time out or a manual release.

This needs to be documented.

Probably after this part:

https://doc.owncloud.com/server/admin_manual/enterprise/collaboration/msoffice-wopi-integration.html#lock-timeout

Maybe as "Known Issues"

[2020-03-18 13:58] voroyam commented on #2469
background: https://github.com/owncloud/docs/pull/2459#issuecomment-600119419

[2020-03-18 15:14] davitol commented on #2388
The OP says:

But ASAP is not done with a new command. Everything to be documented is this post:

 https://github.com/owncloud/docs/issues/2388#issuecomment-598080577

That's everything that should be documented IMHO.

[2020-03-19 07:34] #2318 closed

[2020-03-19 07:45] settermjd commented on #2388
Thanks for the feedback, @davitol. Will make all relevant changes.

[2020-03-19 07:55] settermjd commented on #2388
@HanaGemela, were you referring to the changes in https://github.com/owncloud/docs/pull/2393/files, which have already been merged and backported? If so, this issue should be able to be closed.

[2020-03-19 07:56] settermjd commented on #2469
Thanks, @voroyam. I'll get the relevant docs updated.

[2020-03-19 08:26] settermjd commented on #2469
I'm guessing it does, but I need to check and be sure; does this issue apply to both Google Chrome and Chromium?

[2020-03-19 09:36] HanaGemela commented on #2388
@davitol are you happy with closing this issue?

[2020-03-19 09:52] #2353 closed

[2020-03-19 10:14] davitol commented on #2388
Yes, @settermjd is right IMHO. Let's close the ticket

[2020-03-19 10:14] #2388 closed

[2020-03-19 10:16] #2437 closed

[2020-03-19 10:16] settermjd commented on #2403
That page, and a number of similar ones, were added in the documentation because the decision was made some time back that every option in the navigation needed to be clickable, and I believe that that was only possible if the element was linked to a page.

[2020-03-19 10:18] settermjd commented on #2403
Perhaps it's changed since you created this issue, but are you referring to `**** xref:installation/docker/index.adoc[Installing With Docker]`?

[2020-03-19 12:13] voroyam commented on #2353
I was on vacation and did not have time yet to review everything.

But this PR is good. Thanks

[2020-03-19 12:14] voroyam commented on #2469
From my pov it would make sense to write both. But as far as I know it was only tested with chrome.

[2020-03-19 12:15] #2469 closed

[2020-03-19 12:31] voroyam commented on #2266
@micbar are you sure we want our internal certificate generating script in the official docs?

I am confused.

Here is the current PR for the documentation of this issue: https://github.com/owncloud/docs/pull/2313

[2020-03-20 09:13] DeepDiver1975 commented on #2266
Why shall we document how 3rd party software is to be setup? Especially since we are not microsoft experts.
There should be a hell of information out there on how to setup office online.

[2020-03-21 18:31] thommierother opened #2484 "Possible incorrect description for occ files:transfer-ownership"
I am struggling  with the transfer of ownership for data from a subdirectory of one user to another in OC 10.4.

The documentation at https://doc.owncloud.com/server/admin_manual/configuration/server/occ_command.html#file-operations says:

`sudo -u www-data php occ files:transfer-ownership --path="folder/to/move" <source-user> <destination-user>
`
And for the --path option:

[code]

When testing o

[2020-03-23 06:24] settermjd commented on #2484
Thanks for raising this, @thommierother. I'll investigate and find out.

[2020-03-23 07:02] settermjd commented on #2484
I had a read through the documentation and don't see any reference to an array of paths. Can you show me where you saw that please, @thommierother?

[2020-03-23 07:07] settermjd commented on #1338
Thanks for the further reply, @VicDeo. I'll try and get that implemented.

[2020-03-23 07:33] thommierother commented on #2484
The --path Option
https://doc.owncloud.com/server/admin_manual/configuration/server/occ_command.html#file-operations

[2020-03-24 05:18] davitol commented on #875
I have seen that the example are still alive in the documentation

[2020-03-24 11:46] settermjd commented on #2484
Ah, I see. That section isn't meant to suggest that you can use all of them. They are examples of what you could use. I'll have think through how I can remove any ambiguity.

[2020-03-24 11:48] settermjd commented on #2484
Got it. I'll change the source block to a bullet list instead. The change will be in a PR later today.

[2020-03-25 14:37] cdamken opened #2491 "OAuth2 app configuration in ownCloud Server is needed"
Seeing some issues:
https://github.com/owncloud/docs/issues/1882
https://github.com/owncloud/android/issues/2685

to use correctly the OAuth you need some prerequisites:
Redis Server and php-redis newer than 4.2
add this configuration in the php.ini:

[code]
@jvillafanez  Any other recommendation?

@settermjd Please document it, many users have this problem in the client because the server is not

[2020-03-25 14:55] settermjd commented on #2491
Shall do, @cdamken.

[2020-03-25 14:55] cdamken commented on #2491
Thanks a lot!

[2020-03-25 14:57] a-rode opened #2492 "OnlyOffice documentation for license path"
Could we elaborate on where to put the OnlyOffice license in https://doc.owncloud.com/server/admin_manual/appliance/configuration/office.html#how-to-install-onlyoffice ?

Short paragraph or link to https://helpcenter.onlyoffice.com/server/integration-edition/linux/linux-installation.aspx would be perfect.

[2020-03-25 14:59] settermjd commented on #2492
@a-rode, what is the priority on this?

[2020-03-25 15:03] a-rode commented on #2492
Medium-Low priority. Is important for all new customers that buy OnlyOffice through us.

Addition: This is what OnlyOffice told me.

Docker
When you are using the docker container, the license.lic file can be placed to any folder (e.g. /app/onlyoffice/DocumentServer/data/license.lic), but you will need to mount this folder when the container starts:
docker run -itd -p 80:80 --restart=always \
-v /

[2020-03-25 15:25] jvillafanez commented on #2491
As far as I know, oAuth doesn't require redis. You should be able to use the default file handler for the sessions normally.
If you choose to use redis to store sessions, you'll need to ensure that session locking is active is redis.

[2020-03-25 18:31] cdamken commented on #2491
It means that there are 2 methods

With
[code]
The server takes care of the session.
@jvillafanez :
Does it work with Multi-server?
And if works: Should be sticky sessions in the load balancer?

Which is the most recommended?

[2020-03-25 19:00] settermjd commented on #2491
Thanks for the further feedback, @cdamken & @jvillafanez.

[2020-03-26 07:48] jvillafanez commented on #2491
And if works: Should be sticky sessions in the load balancer?

I can't say for sure, but I guess it depends on the overall setup.
If sessions are stored in the local server, you'll need sticky sessions in the load balancer in order to ensure all the requests goes to the same server.
On the other hand, you might store the session in a NFS folder shared among all the servers. This might work without

[2020-03-26 10:38] mmattel opened #2493 "[10.4.1] New occ command "files:check-cache" refs core/37067"
## What Needs to be Documented?
New occ command:

https://github.com/owncloud/core/pull/37067
Check the file in the primary storage and allow remove it from the cache if it's missing

Note, valid for all backends. PR is merged.

`files:check-cache` `Check if the target file exists in the primary storage`

Backporting only to 10.4 as it will be available in the next release (10.4.1)

## Where Does

[2020-03-26 18:34] oliviercailloux opened #2494 "Consider specifying more precisely the ignore pattern mechanism"
## What Needs to be Documented?
When using the Ignored files editor, it would be nice to know exactly how my pattern will be used, and what can and can’t be achieved.

## Where Does This Need To Be Documented?
Consider specifying this in the [_Using the Ignored Files Editor_ section](https://doc.owncloud.org/desktop/navigating.html#usingIgnoredFilesEditor-label) and in the [_Ignored Files_ section

[2020-03-27 06:09] Marmo opened #2496 "[Admin Manual] fix broken link to sync-exclude.lst"
## What Needs to be Documented?

Fix link to sync-exclude.lst, should be https://github.com/owncloud/client/blob/master/sync-exclude.lst

## Where Does This Need To Be Documented?

https://doc.owncloud.org/server/10.4/admin_manual/faq/#platform-wide-known-limitations-excluded-files

## Why Should This Change Be Made? (Optional)

Link broken

## What Type Of Content Change Is This? (Optional)
- [ ]

[2020-03-27 14:12] #2404 closed

[2020-03-27 14:57] voroyam commented on #2404
a broken continuity is no continuity.

[2020-03-30 03:38] settermjd commented on #2496
Thanks for raising this, @Marmo

[2020-03-30 03:56] #2493 closed

[2020-03-30 06:37] mmattel commented on #2496
Closing?

[2020-03-30 08:12] mmattel commented on #2391
@settermjd any update on this?
atm, it is a good point in time to fix this as we have only very view (8) open PR´s.

[2020-03-30 09:27] settermjd commented on #2496
Agreed

[2020-03-30 09:27] #2496 closed

[2020-03-30 09:28] settermjd commented on #2391
Well said.

[2020-03-30 09:44] settermjd commented on #2391
[The changes in 10.3-95c4202-2179](https://github.com/owncloud/docs/pull/2346/files) are already available in 10.4. However, the change is only for 10.4, as this issue shows: https://github.com/owncloud/core/issues/33187.

[2020-03-30 09:55] settermjd commented on #2391
Done!

[2020-03-30 09:55] #2391 closed

[2020-03-30 14:39] soniqsoft opened #2505 "can't share folders after upgrade to 10.4.0.4"
Hi support Team,
URGENT CASE!
I'm owncloud user and admin for some time and recently I did upgrade to 10.4.0.4.
Upgrade was smooth and easy but...
AFTER UPGRADE I CAN'T SHARE ANY FOLDER TO ANY USER UNLESS I SET EXPIRATION DATE LESS THAN 7 DAYS FROM TODAY!
ANY LONGER DATE OR MISSING DATE CAUSES ERROR "The expiration date cannot exceed 7 days!".
WHATS ALSO STRANGE - ALL EXPIRATION DATES FOR EVERY US

[2020-03-30 15:46] michaelstingl commented on #2505
@soniqsoft this is the issue tracker for the ownCloud documentation, not a help forum. Please use https://central.owncloud.org/ instead.

[2020-03-30 15:46] #2505 closed

[2020-03-30 15:58] soniqsoft commented on #2505
Unfortunately does not work right now - displays empty page. But thank you for info.

[2020-03-30 16:46] phil-davis commented on #2505
https://github.com/owncloud/password_policy/issues/287
Are you using Password Policy. If so, it could be this issue.
Workaround: do not use the "public link expiration policies" in the password policy app for now (fix is coming)

[2020-03-31 09:19] phil-davis opened #2513 "Lists of PHP extensions are different in 2 docs"
The lists of PHP extensions are different in:
https://github.com/owncloud/docs/blob/master/modules/admin_manual/pages/installation/ubuntu_18_04.adoc
https://github.com/owncloud/docs/blob/master/modules/admin_manual/pages/installation/server_prep_ubuntu_18.04.adoc

Only in server_prep_ubuntu_18.04 list:
php-bcmath
php-bz2
php-gettext
php-gmp
php-igbinary
php-seclib
(6 items)

Only in ubuntu_18_04 l

[2020-03-31 09:21] phil-davis commented on #2513
And what is the different purpose of these 2 docs? As an admin, which document do I want to read?

[2020-03-31 09:38] settermjd commented on #2513
I'll have a look and get the corrections made.

[2020-03-31 10:09] settermjd commented on #2513
The most recently created file is https://github.com/owncloud/docs/blob/master/modules/admin_manual/pages/installation/ubuntu_18_04.adoc. From what I remember, @voroyam created it to be a comprehensive guide to installing ownCloud on Ubuntu. Given that, it would make sense to me to remove https://github.com/owncloud/docs/blob/master/modules/admin_manual/pages/installation/server_prep_ubuntu_18.04.

[2020-03-31 10:12] settermjd commented on #2356
From checking the available images, the image for that section does not include Redis. Can you add another one, please? Attaching to this issue is fine.

[2020-03-31 10:14] phil-davis commented on #2513
I don't really have time to look through the detail of what is in each document and think why.

@voroyam over to you for your opinion.

[2020-03-31 10:16] settermjd commented on #2492
@voroyam, can you update your documentation with this information, pls?

[2020-03-31 10:17] #2439 closed

[2020-03-31 10:17] settermjd commented on #2403
ping @jnweiger.

[2020-03-31 10:19] #2266 closed

[2020-03-31 10:27] settermjd commented on #875
What references have you found, @davitol?

[2020-03-31 10:28] jnweiger commented on #2403
Clicking on the little triangle left of `Installation Options` exposes the enties below.
Clicking on the text `Installation Options` does not expose the entries.

Afaik this is till the case.
It is not important. It is a small inconsistency, but we can still navigate the tree nicely, using the triangles.
I cannot easily tell, which xref I am actually referring to. I did not inspect the source. Sor

[2020-03-31 11:44] davitol commented on #875
@settermjd https://doc.owncloud.com/server/admin_manual/configuration/server/occ_command.html#shibboleth

`sudo -u www-data php occ user:sync "OCA\User_Shibboleth\UserBackend"`

[2020-03-31 14:08] mmattel commented on #2513
The stack of documents has grown over the time and I agree that the manual installation documents could be harmonized for a more streamlined finding/reading/doing.
The Ubuntu server prep document has been created to much shorten the over all installation document and to ease future ubuntu specialities. It also contains very helpful real life content for a successful ownCloud installation. Addition

[2020-04-01 03:43] #320 closed

[2020-04-01 05:06] phil-davis opened #2522 "drone CI build messages"
Running drone CI  from the master branch there are warnings like https://drone.owncloud.com/owncloud/docs/7574/1/5
[code]

Running drone CI in 10.4 branch https://drone.owncloud.com/owncloud/docs/7575/1/5 has similar warnings.

Running drone CI in 10.3 branch https://drone.owncloud.com/owncloud/docs/7571/1/5 has less warnings:
[code]

Is this "normal" and should be ignored, or are there things to

[2020-04-01 06:06] settermjd commented on #2513
@mmattel, I see what you're saying, however, if by having multiple documents, it becomes confusing to the reader as to which one is the correct one to follow, then the documentation runs the risk of becoming a problem not a solution. Secondly, I disagree with "_It is not wise just say "let´s incorporate the stuff in the referencing original" which would counteract the idea and you would usually lo

[2020-04-01 06:56] settermjd commented on #2045
Will fix, @phil-davis.

[2020-04-01 07:22] mmattel commented on #2513
IMHO, for a manual installation you need a master doc with subsections / subpages containing a overview, sizing thoughts, general OS (server preparation), oC preparation/installation, upgrade notes. If you put all that into a single document, you very quickly lose overview. Shortening content based on - admins should know that - is always critical. Success depends on covering real life topics.

Th

[2020-04-02 08:55] voroyam commented on #2356
Yes. Will do when I got more time.

[2020-04-02 08:56] voroyam commented on #2492
Yes.

[2020-04-03 05:11] davitol opened #2529 "Document sharing.federation.allowHttpFallback config option"
`sharing.federation.allowHttpFallback` config option, allows to create federated shares. It helps local testing for federated sharing.

Would be good to have it documented in Developer documentation.

@mrow4a Please add the info need that you consider worthy in this ticket and help @settermjd with this stuff

https://github.com/owncloud/core/pull/37153

[2020-04-04 21:37] michaelstingl commented on #1656
Example from Keycloak docs:

![Server_Administration_Guide](https://user-images.githubusercontent.com/214010/78461914-45d23a00-76cd-11ea-9bda-ca03e5b7cb87.png)

(Source: https://www.keycloak.org/docs/4.8/server_admin/)

[2020-04-05 11:23] mrow4a commented on #2529
@davitol @settermjd it appears to be already documented in https://doc.owncloud.com/server/admin_manual/configuration/files/federated_cloud_sharing_configuration.html

[2020-04-05 11:27] mrow4a commented on #2529
Reopening, as I in fact noticed in dev documentation it could be more clear to explicitly mention that for development http should be enabled, and to refer to configuration page for more info. If you think it is clear enough please close.

[2020-04-06 03:32] settermjd commented on #2529
Thanks, @mrow4a. I'll review it today.

[2020-04-06 03:44] settermjd commented on #875
I'll get it removed.

[2020-04-06 05:44] #875 closed

[2020-04-06 08:27] #2157 closed

[2020-04-06 10:06] phil-davis commented on #2522
ToDo: I will have a look at the drone CI logs again now, and see what remains and if I  can find the places to fix.

[2020-04-06 10:09] settermjd commented on #2522
Thanks, @phil-davis.

[2020-04-06 10:10] settermjd commented on #2522
There was a further commit that should have been included in #2534. I'll include it in response to further issues that you find.

[2020-04-06 10:17] phil-davis commented on #2522
@settermjd if you already have a commit that fixes more stuff, then it will be easier if you put it in a branch and make a PR. We can get that merged/backported and then see what remains.

[2020-04-06 11:49] phil-davis commented on #2522
Now the output is:

https://drone.owncloud.com/owncloud/docs/7622/1/5
[code]

[2020-04-06 11:50] phil-davis commented on #2522
Sadly the exit status is success - even with the `ERROR` output CI does not fail.

[2020-04-07 04:33] settermjd commented on #2522
I'm going to fix this on a branch-by-branch basis.

[2020-04-07 05:02] cdamken commented on #2491
@jvillafanez Some users are asking why should we use these values:
[code]
Is there any special reason? How can they tune it?

[2020-04-07 07:14] jvillafanez commented on #2491
Parameters are taken from the available ones in the library (https://github.com/phpredis/phpredis/blob/develop/README.markdown#session-locking)
The default ones are claimed (in one of the issues of the phpredis repo) to be very small for common usage, and those were the "new" suggested ones. Users can adjust to whatever value they want

[2020-04-07 08:29] settermjd commented on #2522
I've received the following feedback from the Antora users forum:

[code]

I'm very much looking forward to Antora 3.0.

[2020-04-07 08:37] #2529 closed

[2020-04-07 09:08] settermjd commented on #2045
Closing in favour of #2522.

[2020-04-08 05:09] settermjd commented on #2491
Do you have a link to the issue, as I've not been able to find it. I used the following search: https://github.com/phpredis/phpredis/issues?q=is%3Aissue+is%3Aopen+lock.

[2020-04-08 06:43] jvillafanez commented on #2491
https://github.com/phpredis/phpredis/issues/1267#issuecomment-355454252

[2020-04-08 09:32] settermjd commented on #2491
Added to the PR in bf0bcbf330983867fdddc39cd17a1fce937cd676.

[2020-04-09 08:35] JKawohl opened #2555 "THP needed in docs?"
https://github.com/owncloud/docs/pull/1597

@mmattel

I just stumbled over THP in  above mentioned pull request and i am wondering if this is an absolute hard requirement for anything. As this has a broader impact i would rather not have it in our docs. But rather point to mariadb doc pages.

[2020-04-09 09:11] jnweiger commented on #2555
The docs at https://doc.owncloud.com/server/10.4/admin_manual/installation/server_prep_ubuntu_18.04.html#disable-transparent-huge-pages-thp have instructions to *disable* THP and hints at interactions of  MariaDB and Redis. I'd be curious to learn more about the background. Are there errors or warnings from redis, when THP remains at typical default settings?

[2020-04-09 09:50] mmattel commented on #2555
It is all about a matter of perfomance panalty having THP enabled using databased.

**Please see:**

https://redis.io/topics/latency#latency-induced-by-transparent-huge-pages
`Unfortunately when a Linux kernel has transparent huge pages enabled, Redis incurs to a big latency penalty after the fork call is used in order to persist on disk. Huge pages are the cause of the following issue: ...`

http

[2020-04-09 11:30] jnweiger commented on #2555
Thany you Martin, for the details.

I had seen the discussion of swappable THP pages, and dismissed that as "so what, if it needs to swap, performance is ruined anyway"

But now the key insight for me is `Transparent huge pages make normal memory access into huge page memory access which can cause excessive I/O for a database that was expecting to use regular sized pages`

Regarding the docs, I fi

[2020-04-09 19:55] mmattel commented on #2555
Regarding `madvise` and redis:

quote: `...when the setting is set to madvise, applications must opt-in. redis does not opt-in...`
redis itself recommends setting THP to never, see link above.

If I set THP to `madvise` and stop/start the redis service, the well known warning gets logged:
`# WARNING you have Transparent Huge Pages (THP) support enabled in your kernel....`
Returning to `never` and

[2020-04-14 06:50] #2491 closed

[2020-04-14 08:37] #654 closed

[2020-04-16 18:48] cgarrovillo opened #2566 "Script on install document causes Ubuntu system to be unbootable"
A part on the owncloud Ubuntu 18.04 installation guide provides a script that breaks ALL permissions throughout the whole system, causing the system to be unbootable

## What Needs to be Documented?

The "Finalise the Installation" part of the [owncloud Ubuntu 18.04 installation](https://doc.owncloud.org/server/10.4/admin_manual/installation/ubuntu_18_04.html) executes a chmod at the very root of

[2020-04-17 00:54] ibaranov-cp commented on #2566
+1 this happens to me as well. Suspect it is the variables at the top of the file finalise-install.sh

https://github.com/owncloud/docs/blob/163d0a4db9135b5c2289e22b497ab0f9cb825462/modules/admin_manual/examples/installation/ubuntu/18.04/finalise-install.sh#L8

Dangerous to leave this kind of stuff in a guide for new folks

[2020-04-17 08:41] cgarrovillo commented on #2566
I should've known tbh. Even the guide uses an old link to ownCloud 10.2 or something like that. Didn't expect something as destructive as this though.

Looking at the script too, it looks like it's specifically setup to break ALL permissions and set it to ownCloud user. No idea if it is by design but surely destructive as hell.

https://github.com/owncloud/docs/blob/163d0a4db9135b5c2289e22b497ab0f

[2020-04-17 08:57] phil-davis commented on #2566
The variables displayed there are  in the top of https://raw.githubusercontent.com/owncloud/docs/master/modules/admin_manual/pages/installation/ubuntu_18_04.adoc

[code]

But they are not getting substituted in the code/script section when the docs are rendered.

It loks like attempts are being made to fix this: #2554 #2557

@settermjd this needs to be sorted out urgently so people do not destroy

[2020-04-17 11:00] #2356 closed

[2020-04-17 11:11] settermjd commented on #2566
Fixes for this issue have been created and backported in the following (merged) PRs:

- #2570
- #2571
- #2572
- #2573
- #2574
- #2575
- #2576
- #2577

Versions 10.1 - 10.4 of the documentation should now be updated.

[2020-04-17 11:16] phil-davis commented on #2566
![Screenshot_2020-04-17 Install ownCloud on Ubuntu 18 04](https://user-images.githubusercontent.com/1535615/79563719-0ba16900-80cd-11ea-982c-170751289b5c.png)

That looks better.

[2020-04-17 11:45] settermjd commented on #2566
@cgarrovillo, thanks for creating this issue. Please let me know if the issue can be closed.

[2020-04-17 17:33] ibaranov-cp commented on #2566
Looks good to me now

[2020-04-17 18:21] ibaranov-cp commented on #2566
Actually, new issue:

copying and executing in command line:
`FILE="/usr/local/bin/ocpermissions"

/bin/cat <<EOM >$FILE
#!/bin/bash

ocpath="/var/www/owncloud"
datadir="${ocpath}/data"
htuser="www-data"
htgroup="www-data"
rootuser="root"

printf "Creating any missing directories"
sudo -u "${htuser}" mkdir -p "${ocpath}/assets"
sudo -u "${htuser}" mkdir -p "${ocpath}/updater"
sudo -u "${htuser}" m

[2020-04-17 18:29] ibaranov-cp commented on #2566
Side note: for usability, I suggest inserting \n just before the ending " in every printf line

[2020-04-17 22:59] cgarrovillo commented on #2566
Quick q, have you tested it even with the missing variables issue?

I'm thinking of testing this in a VM to save future hassles

[2020-04-17 23:09] ibaranov-cp commented on #2566
Tested it, still broke things (luckily I had a backup image, it broke network settings for me by setting wrong chown...)
I'd honestly steer clear of this script for now, and set things manually, slowly

[2020-04-19 12:56] miqrogroove opened #2582 "Permissions Error for ${datadir}/.htaccess During Upgrade"
Permissions defined here restrict writing the .htaccess file to the root user only.
https://doc.owncloud.org/server/10.4/admin_manual/installation/ubuntu_18_04.html
[code]

As a result, the occ upgrade script logs the following error message.
[code]

See also https://github.com/owncloud/core/issues/37273

[2020-04-20 09:53] voroyam opened #2583 "LDAP quota priority confusing"
### What?
I have read the LDAP docs and I find the LDAP priority description confusing. I don't get what LDAP Quota have to be set where in ownCloud.

### Where?
https://doc.owncloud.com/server/admin_manual/configuration/user/user_auth_ldap.html#special-attributes

### Why?
Because if I find it confusing then chances are that our customers will too and they will open support cases.

-----

![image

[2020-04-20 10:45] voroyam commented on #2583
@NannaBarz you can track this issue here or add more details

[2020-04-20 12:26] settermjd commented on #2582
Thanks for creating the PR, @miqrogroove. I'll get the documentation corrected.

[2020-04-20 14:24] #2582 closed

[2020-04-20 14:27] NannaBarz commented on #2583
### What?
I have some understanding problems with the 3rd and 4th point.
After reading the documentation I only find two ways to set the quota
1. over the user management page (for each user)
2 over the quota field in the LDAP wizzard (for all users)

I'm missing the LDAP per/attribute setting so I don't exactly know where is the difference between the 3rd and 4th point.

[2020-04-20 22:27] grinapo opened #2595 "current nginx config eats webm/mp4, starts with a Big Blue Window"
I guess it's not an IBM™ advertisement that First Run Wizard (as well as About) starts with an empty, big, blue pupup window.

The reason is that it tries to pull up a `webm` or `mp4` movie file but nginx handles neither so redirects them to `apps/files/` which won't help much (also provides wrong content-type).

Fixing up config as
[code]
may make it a bit more ownloudy.

Strictly speaking this c

[2020-04-21 03:30] settermjd commented on #2492
Any progress on this?

[2020-04-21 03:31] settermjd commented on #2293
Can this be closed?

[2020-04-21 04:03] settermjd commented on #2566
I'm progressively working through this, using a Ubuntu Docker container and so far, don't see any issues, at least with the chagnes in #2589.

[2020-04-21 08:50] voroyam commented on #2293
yes.

[2020-04-21 08:50] #2293 closed

[2020-04-21 08:50] voroyam commented on #2492
No. Currently busy with a univention project. As soon as that is finished I will have more time.

[2020-04-22 07:33] #2566 closed

[2020-04-22 08:38] settermjd commented on #2595
Thanks for creating the PR, @grinapo. I'll work through it this week.

[2020-04-22 08:48] settermjd commented on #2595
Actually, I'm not quite sure how to handle this, as the official policy of the docs is to include references for the supported platforms, which doesn't include NGINX. @michaelstingl, can you provide some guidance here, please?

[2020-04-22 09:07] #2484 closed

[2020-04-22 09:12] settermjd commented on #2583
@cdamken, can you provide further input, please?

[2020-04-22 09:16] settermjd commented on #2595
@grinapo, unfortunately, the official policy of the docs is to include references for the supported platforms, which doesn't include NGINX, so I'm not able to proceed further with this issue.

[2020-04-22 09:16] #2595 closed

[2020-04-22 09:24] settermjd commented on #2595
But, I don't want to close this issue, without providing further support. My recommendation is to add it to https://central.owncloud.org/t/nginx-documentation-unofficial-community/22365/2, which is where the existing NGINX documentation has been moved to.

[2020-04-23 05:43] #2045 closed

[2020-04-23 05:44] #1928 closed

[2020-04-23 05:44] #1900 closed

[2020-04-23 05:45] #1882 closed

[2020-04-23 05:47] settermjd commented on #1656
Closing, as the feature has now been implemented.

[2020-04-23 05:47] #1656 closed

[2020-04-23 06:39] xoxys commented on #1102
Thanks for your input @settermjd AFAIK there are two possible solutions:
- simply add a nightly job which will just run the last successful run for the master branch
- add drone downstream trigger to the client repos and trigger a owncloud/docs ci run

[2020-04-23 07:11] hodyroff commented on #1858
Correct wording IMHO: "The listener capabilities depend on the ability of the used SMB/CIFS storage to provide notifications. Some of those, will have restrictions. Please check with your respective storage provider."

[2020-04-23 07:17] NannaBarz commented on #2583
Ok after creating a own attribute in the AD I think i got it.
The for me missing part was, that you have to create the attribute in the AD.

[2020-04-23 13:53] ChrisEdS opened #2610 "Searched content leads to 404"
We have an error in the documentation. Searched content will lead to a `404` due to misconfiguration in link creation. For example

### Steps to reproduce
1. Go to `doc.owncloud.com`
2. You get redirected to `doc.owncloud.com/server/10.4`
3. Search for `config.php`
4. Click on the second search result
![image](https://user-images.githubusercontent.com/33026403/80106035-9d9bec80-8579-11ea-86f6-d74b

[2020-04-24 06:46] jvillafanez commented on #1858
If I remember correctly, notifications for Samba only works for the target folder you're listening, but they won't go deep down.
If you're listening on the "/top" folder, you won't receive notifications for "/top/middle/bottom" folder. You'd need to setup listeners for every existing folder and also for the new ones that could be created.

Windows doesn't have this limitation. You'll receive notif

[2020-04-24 09:26] felixboehm commented on #2610
search.owncloud.com (elasticsearch) returns the bogus links in the json response.
elastic is maybe indexing wrong stuff. Any changes in docs which let elastic find broken content?

[2020-04-24 09:34] felixboehm commented on #2610
index is generated in https://github.com/owncloud/docs/blob/master/generator/generate-site.js

[2020-04-24 10:28] dschmidt commented on #2610
I cannot reproduce, has something changed meanwhile?

The "Config.php Parameters" in 10.0 result does not show up for me in the search results, all other results have no undefined in their url.

[2020-04-24 10:29] dschmidt commented on #2610
Any way for me to reproduce?

[2020-04-24 11:40] ChrisEdS commented on #2610
I cleared the cache and tried a different browser, the error is still reproducible. Try to search for `config.php`click on the first search result.

[2020-04-24 11:57] dschmidt commented on #2610
Okay, yes, I see a bunch of occurences in

[code]

[2020-04-24 12:56] dschmidt commented on #2610
AFAICT the issue is that `playbook.site.url`  is `undefined` [here](https://github.com/owncloud/docs/blob/master/generator/generate-site.js#L43).

`site.url` is set in `site.yml` in branches 10.4, 10.3, 10.2 but not in 10.0 or 10.1.

I'm wondering when which jobs overwrites (which part of) the index ... wondering if changes were only partly backported to old branches or something like that. Invest

[2020-04-24 13:25] dschmidt commented on #2610
I cannot reproduce this by creating an index from the branches where site.url is set.
To me it looks this repo is designed in a way that some things need to be kept consistent accross all branches:
The generator script is exactly the same in all branches and whichever branch is run in CI "wins" and overrides the index (unless I'm overlooking something) for all branches. So when something breaks in

[2020-04-24 13:43] phil-davis commented on #2610
Note: there was a policy implemented a while ago to no longer backport to all the branches. That mistakes/reorganisations/rewording... would no longer be backported to 10.0 10.1 or 10.2

Only 10.3 and 10.4 would be maintained.

A side-effect of that might be that structural and "code" changes have happened in master, 10.4 and 10.3 but that 10.2 10.1 and 10.0 do not have the "latest" structure and

[2020-04-26 17:53] AGoliath opened #2620 "Ubuntu 18.4 installation script removes +x from every file on the root filesystem"
I´m trying to install owncloud on my ubuntu 18.4 for the first time following
modules/admin_manual/pages/installation/ubuntu_18_04.adoc
to the letter, starting out with a fresh Ubuntu 18.04 minimal and only executing what is mentioned in the docs (apart from setting up an ssh key)

Everything works perfectly fine until I get to "Finalise the Installation".
As soon as I executed the created /usr/lo

[2020-04-26 18:05] AGoliath commented on #2620
Sorry for the follow-up, but i restored from a backup and tried again and now i see what went wrong.

The way I followed the instruction was to simply copy and paste the content of the docs into my shell. So this is what I pasted in my shell:

[code]

and this is what was actually written into the file:

[code]
so the shell tried to replace the variables that where supposed to go into the script b

[2020-04-28 17:37] ho4ho commented on #2620
Related by #2566 ?

[2020-04-30 07:24] enbrnz opened #2631 "Missing warnings in document about Upgrading from Package"
Many users install owncloud through their package manager from our repositories. However when upgrading using the package manager, they neglect to do critical upgrade steps because they expect the process to be batteries included.

## What Needs to be Documented?
1. The `owncloud-files` package must not be used with automated system upgrades
2. How to exclude the package from automated system upgr

[2020-04-30 12:35] voroyam commented on #2631
Thanks for creating this

[2020-04-30 12:51] #1948 closed

[2020-04-30 18:57] ho4ho commented on #2631
Happening by #37104, #36330. Some really unhappy :disappointed:

[2020-04-30 19:00] ho4ho commented on #2620
Look like permission script removed by https://github.com/owncloud/docs/pull/2624

[2020-05-02 10:03] mmattel commented on #2631
This is a comment I did in talk based in a discussion started there:

**snip...**
Q: you install a instance via a packag manager, but you should not upgrade the installation with the pm - the reasons mentioned are clear. This is counteracting the idea using a pm. It is not that complex to document RTFM and put the owncloud files on automatic upgrade hold. But then I ask, what is the benefit of usi

[2020-05-02 11:31] ho4ho opened #2637 "doc 10.1 + 10.2 show 10.2 latest"
https://doc.owncloud.org/server/10.2/ showing 10.2 latest but should 10.4:

![oc](https://user-images.githubusercontent.com/42564859/80862946-294c0200-8c79-11ea-8668-d40779c936af.png)

## What Needs to be Documented?

## Where Does This Need To Be Documented?

## Why Should This Change Be Made? (Optional)

## What Type Of Content Change Is This? (Optional)
- [ ] New Content Addition
- [ ] Old Cont

[2020-05-04 11:06] AGoliath commented on #2620
yup, closed

[2020-05-04 11:06] #2620 closed

[2020-05-04 11:24] phil-davis commented on #2637
And 10.2 `modules/admin_manual/pages/release_notes.adoc` has release notes up to only 10.3.1

I would have thought that when reading 10.2 docs, an admin will want to see at least the release notes up to 10.3.2

[2020-05-06 13:25] voroyam opened #2644 "Need Anchor to the "Reuse LDAP accounts""
Here
https://doc.owncloud.com/server/admin_manual/configuration/server/occ_command.html

We need an anchor at

Reuse Existing LDAP Accounts if Available

![image](https://user-images.githubusercontent.com/24212810/81182237-d2fafe00-8fad-11ea-9fe7-dc0a0397fe17.png)

The nearest ones are at the next Section [Market](https://doc.owncloud.com/server/admin_manual/configuration/server/occ_command.html#m

[2020-05-17 17:59] mmattel opened #2648 "Add fed shares scanner batched cronjob"
## What Needs to be Documented?
**Upcoming changes from core:**
https://github.com/owncloud/core/pull/37391 (Add fed shares scanner batched cronjob)

**Text change:**
WARNING: `incoming-shares:poll` has been deprecated and replaced by periodic external shares cronjob. Please check Federated Cloud Sharing settings and documentation.

**Command change:**
[code]
## Where Does This Need To Be Document

[2020-05-18 08:11] #2610 closed

[2020-05-25 09:03] jvillafanez opened #2650 "Document configuration for the "get demo key" link"
Related to the new 10.5.0 "grace period" feature.
Target PR: https://github.com/owncloud/core/pull/37436
Main feature PR: https://github.com/owncloud/core/pull/36814

[2020-05-25 12:10] voroyam opened #2652 "trashbin retention clarification"
After researching the trash bin retention at

https://doc.owncloud.com/server/admin_manual/configuration/server/config_sample_php_parameters.html#define-the-trashbin-retention-obligation

I noticed that the way it's written in our docs it's very confusing and hard to understand how the trash bin works and when files are actually deleted.

If you for example set it to

'trashbin_retention_obligatio

[2020-05-25 12:45] jnweiger opened #2653 "Create docs branch 10.5"
FIXME: I'll setup the specs for 10.5.0beta1 with docs branch master, for the time being.

* [ ] the branch in this repo should probably be created from master.
* [ ] compare with 10.4 branch, to see where the naming needs to be updated.
* [ ] adapt site.yml in master branch, to also list 10.5
* [ ] ...

[2020-05-29 13:19] mmattel opened #2663 "Core: new functionality: file action to explicitly lock a file"
## What Needs to be Documented?
New functionality in core relevant for the user doc

## Where Does This Need To Be Documented?
https://doc.owncloud.com/server/latest/user_manual/files/webgui/overview.html#the-overflow-menu

## Why Should This Change Be Made? (Optional)
Document new functionality.
Core: https://github.com/owncloud/core/pull/37460 (Add file action to explicitly lock a file)

## What

[2020-05-29 13:25] jnweiger commented on #2653
PRs merged for this:
* https://github.com/owncloud/docs/pull/2656 ...
* https://github.com/owncloud/docs/pull/2661
* https://github.com/owncloud/docs/pull/2662

https://doc.owncloud.com/server/10.5/user_manual/ownCloud_User_Manual.pdf did not arrive yet.

[2020-06-04 08:39] mmattel opened #2669 "Backporting of commit without PR"
Commit: https://github.com/owncloud/docs/commit/d28999f866a0e9c3fb6f3a387b3e46fa85aa5f1e
which was added without PR needs to be backported to 10.3, 10.4, 10.5

@hodyroff please do not add commits without PR, as they get completely lost and will be overseen for backporting. Without using PR´s, they will only get merged to the target branch - in this  case master and not to any branch visible in doc

[2020-06-05 09:41] mmattel commented on #2669
Closing, backports made to 10.3, 10.4, 10.5

[2020-06-05 09:41] #2669 closed

[2020-06-06 12:00] mrow4a commented on #2648
@mmattel not sure if useful https://github.com/owncloud/core/pull/37391#issuecomment-640047599

[2020-06-11 04:31] Sudnym opened #2673 "cgroupsV2 errors even with backwards compatibility enabled. un-Resolved"
I'm writing this script: https://github.com/Sudnym/fedora-30-32-owncloud10.5-setup to automatically run a docker container of owncloud in fedora 30-32 where if the third argument in the setup command is "yes" it will enable backwards compatibility for groups using the command:
```grubby --update-kernel=ALL --args="systemd.unified_cgroup_hierarchy=0"```
I receive an error saying "this version of ru

[2020-06-11 04:53] Sudnym commented on #2673
I thought it was fixed, and then it wasn't. same error.

[2020-06-11 06:17] phil-davis opened #2674 "Add doc of files_external:list --importable-format"
## What Needs to be Documented?
core PR https://github.com/owncloud/core/pull/37513 for core issue https://github.com/owncloud/core/issues/37054 proposes adding a new option:

`occ files_external:list --importable-format`

Add it to existing documentation of the command.

[2020-06-12 07:44] jesmrec opened #2677 "Android updates after latest versions"
After a couple of releases, the [Android documentation](https://doc.owncloud.com/android/) needs some tweaks, mainly in the screenshots:

**1. Section "Connecting to your ownCloud server":**

| Current | New |
| :-: | :-: |
| ![android-all-files-overview](https://user-images.githubusercontent.com/14894746/84474579-5d104380-ac8b-11ea-89fb-53c30f5e518c.png)|![device-2020-06-12-085954](https://user-i

[2020-06-12 10:25] karakayasemi opened #2682 "Document share link protection feature of brute force protection app"
The application config parameters still the same and they now apply to both login and share link protection. We may want to mention in docs that public link passwords are also under protection now. Optionally, the screenshot of the given on the page can be updated.

## What Needs to be Documented?
https://github.com/owncloud/brute_force_protection/pull/90

## Where Does This Need To Be Documented?

[2020-06-16 07:49] voroyam opened #2683 "Clarifying WND null Permission manager"
need to clarify that if filed is empty - null permission manager will be used. String is not necessary to enable it.

![image](https://user-images.githubusercontent.com/24212810/84746592-80523000-afb6-11ea-85aa-f05c94c6e011.png)

https://doc.owncloud.com/server/admin_manual/enterprise/external_storage/windows-network-drive_configuration.html#access-control-lists

[2020-06-19 09:54] voroyam opened #2686 "Need VFS documentation"
We need an official documentation about the state, how to use and the risk involved when using VFS on windows Mac or linux.

Right now we have 2 blog articles, which is not sufficient from my POV.

https://owncloud.org/news/desktop-client-2-6-release-native-virtual-file-system-on-windows-10/ https://owncloud.org/news/owncloud-client-goes-virtual-sync-files-demand/

[2020-06-21 22:03] ho4ho commented on #2673
@Sudnym How related by ownCloud docs or by ownCloud? Nothing there: https://github.com/owncloud/docs/search?q=cgroups&unscoped_q=cgroups

[2020-06-23 08:58] mmattel opened #2696 "New settings for persistent locks"
## What Needs to be Documented?
New UI setting created in docs, referencing:
https://github.com/owncloud/core/pull/36452 (Include settings for the persistent locks)

## Where Does This Need To Be Documented?
Admin/Storage section

## Why Should This Change Be Made? (Optional)
Changes made in core

## What Type Of Content Change Is This? (Optional)
- [x] New Content Addition
- [ ] Old Content Depre

[2020-06-23 09:00] mmattel commented on #2696
Referencing: https://github.com/owncloud/docs/issues/2663 (Core: new functionality: file action to explicitly lock a file)

Which is the component for the user

[2020-06-23 09:02] pmaier1 commented on #2696
Thanks for opening this! Here's some general input on file locking which I have written for the release notes:

ownCloud Server 10.5 comes with great enhancements for content collaboration. Manual file locking allows users to lock files in shared areas while working on them in order to prevent concurrent changes from other users (check-in/check-out).

The feature builds on the xref:release_notes.h

[2020-06-23 09:02] mmattel commented on #2686
This has to go into the client repro, as that repro is included into docs. Nothing to be written here.
Please file a issue there and reference it to this one.

[2020-06-23 09:03] mmattel commented on #2674
Closing, PR´s got merged

[2020-06-23 09:03] #2674 closed

[2020-06-23 09:05] mmattel commented on #2696
@pmaier1 pls ping me on talk

[2020-06-23 10:22] jvillafanez commented on #2696
We probably need to clarify if the web UI will explicitly set 30 minutes of expiration, or if it will use whatever value is the default. For me, it isn't clear if changing the default value in the settings will affect the web UI

[2020-06-23 10:42] FlavienDev opened #2698 "Unlimited loading"
Hello,
I am just starting to use OwnCloud and when I go to the main menu where I should have my files, I have unlimited loading and unable to upload any file. Namely that there is no file already present, and that due to the loading, I cannot add a file either.
When I look at the console it is noted this following error:

Failed to load resource: the server responded with a status of 501 ()
Uncaug

[2020-06-23 11:18] jvillafanez commented on #2696
As far as I see in the PR, there is no explicit lock timeout being set, so it will use whatever default value is configured in the settings page.

[2020-06-23 15:48] mmattel commented on #2696
For the reference, the code in core has hardcoded limits set, see:
[code]

[2020-06-24 05:52] ho4ho commented on #2698
@FlavienDev This not supporting forum, better ask help by https://central.owncloud.org/

[2020-06-24 09:04] voroyam commented on #2686
Thanks

https://github.com/owncloud/client/issues/7913

[2020-06-24 12:46] jvillafanez commented on #2696
If the admin doesn't configure any value, those will be used as default and max values.

[2020-06-24 16:51] mmattel commented on #2696
We have to be more precise.
Not only in case you have no max value set, but also if you have set a value greater than the max value.

[code]

This is important, because this is the reason for closing owncloud/core#37579 (No limits for for persistent lock values)

[2020-06-24 21:07] FlavienDev commented on #2698
Ok Thanks

[2020-06-24 21:07] #2698 closed

[2020-06-25 07:04] jvillafanez commented on #2696
The process of setting the effective timeout is explained in https://github.com/owncloud/core/pull/36452#issuecomment-646522836 , ensuring the effective timeout is always in range.

[2020-06-28 15:32] mrow4a opened #2711 "Add new system config to enforce strict login check for password in user backend"
We need to document new config option:

[code]

Related PR https://github.com/owncloud/core/pull/37569

@mmattel @phil-davis

[2020-07-01 03:12] phil-davis opened #2715 "Docs for files:transfer-ownership --accept-skipped-shares"
core PR https://github.com/owncloud/core/pull/37568 added  files:transfer-ownership --accept-skipped-shares option.

Document it.

Whether it get ported into release 10.5.0 or not is TBD.

[2020-07-06 03:06] jersey99 opened #2717 "Ubuntu manual installation documentation doesn't specify data directory explicitly"
The documentation in the [ubuntu install webpage](https://doc.owncloud.com/server/admin_manual/installation/ubuntu_18_04.html) doesn't make the data directory explicit. Which can force the user to unintentionally install OC with data directory set to the default. And manually changing the data directory doesn't seem to be much fun :)

## What Type Of Content Change Is This? (Optional)
- [x] New Co

[2020-07-14 10:07] cdamken commented on #2583
The behavior should be as described here: https://github.com/owncloud/enterprise/issues/1813#issuecomment-281051811

### The expected behavior:

1.- ownCloud default quota is set as 1 choice.
2.- Administrators can modify the quota in the user page.
3.- If the LDAP quota is set -> overrides ownCloud quotas.
4.- If quota per attribute in LDAP is set -> overrides LDAP quota.

Administrators are not

[2020-07-14 11:40] voroyam commented on #2583
I think we should replace the existing 1-4 bullet points with the ones from @cdamken They make more sense to me.

[2020-07-15 05:13] phil-davis commented on #2522
Removed my assignment. Needs to be looked at by somebody who is maintaining docs to see if there are still things to be fixed.

[2020-07-15 10:11] voroyam commented on #2717
Hello,

if you read the documentation - the first sentence is:

**This is an ultra-short guide to installing ownCloud on a fresh installation of Ubuntu 18.04.**

In order to make this documentation short we let as much on default as possible.

[2020-07-15 10:18] phil-davis opened #2723 "Email cannnot be provided directly when creating a user"
## What Needs to be Documented?
The "Add User"  section of the Provisioning API docs says that you can provide the email attribute in the POST.
This is not so. See discussion in https://github.com/owncloud/core/issues/37323

Actually the user has to be created with some password (might be a dummy random string), and then "Edit User" done to set the email address. e.g. https://github.com/owncloud/c

[2020-07-15 10:34] voroyam opened #2724 "WOPI Office Online Known Issues"
Checklist if something is not working:

1. **Client** can reach the **ownCloud Server** (browse to web page und log in)

2. **Client** can reach the **Office Online Server** (via hosting/discovery url with https)

3. **ownCloud Server** can reach the **Office Online Server** (via hosting/discovery url with https)

4. **Office Online Server** can reach **ownCloud Server** (browse to web page und lo

[2020-07-15 11:35] voroyam commented on #2724
Make sure TLS 1.2 is being used:

https://docs.microsoft.com/de-de/officeonlineserver/enable-tls-1-1-and-tls-1-2-support-in-office-online-server

https://help.hotschedules.com/hc/en-us/articles/360020184072-Enabling-TLS-1-2-on-web-browsers#Chrome

[2020-07-15 11:46] phil-davis commented on #2723
Fixed in #2725

[2020-07-15 11:46] #2723 closed

[2020-07-24 13:04] jnweiger opened #2728 "php min / max version for 10.5 and up should be 7.2 to 7.4"
currently it says 7.1 min, 7.3max this is wrong.

[2020-07-24 13:04] jnweiger commented on #2728
There is a central file that has this setting. I cannot find it right now.

[2020-07-27 11:39] C0rby opened #2729 "Make data directory warning more visible"
https://doc.owncloud.com/server/10.5/admin_manual/installation/installation_wizard.html#data-directory-location
In the paragraph about the data directory it would make sense to emphasize that for security reasons admins must not use a path in the web root when they use a web server other than apache. And when they do use the apache web server they should activate the .htaccess files.

There is the

[2020-07-30 08:44] phil-davis commented on #2653
Note: the branch exists https://github.com/owncloud/docs/tree/10.5
and has been maintained with backports from `master` - just needs a check that all relevant commits from `master` have been backported.
When the released notes are finalizzed and merged to `master` those will also need to be backported.

[2020-07-31 11:26] micbar opened #2735 "Document the support for SGI Images"
Related Change https://github.com/owncloud/core/pull/37758

Has some basic description

[2020-08-03 13:55] davitol opened #2737 "Missing pages with 10.5 Documentation"
we have some missing pages with 10.5 Documentation

https://doc.owncloud.org/server/10.5/go.php?to=user-sync-calendars
https://doc.owncloud.org/server/10.5/go.php?to=user-sync-contacts
https://doc.owncloud.org/server/10.5/go.php?to=user-webdav
Those links from First run Wizard window clicking on the below buttons

<img width="891" alt="Screenshot 2020-08-03 at 14 36 55" src="https://user-images.gi

[2020-08-04 10:09] jvillafanez opened #2738 "Document activity extension for the windows network drive app"
Related tickets:
* https://github.com/owncloud/windows_network_drive/pull/299
* https://github.com/owncloud/enterprise/issues/4074

## What Needs to be Documented?

New windows network drive feature to allow sending activity events from the windows network drive's listener

## Where Does This Need To Be Documented?

## Why Should This Change Be Made? (Optional)

## What Type Of Content Change Is T

[2020-08-04 11:16] jvillafanez commented on #2738
PR in https://github.com/owncloud/docs/pull/2739

[2020-08-05 14:48] mmattel opened #2742 "Default version is 10.4. but 10.5 has been release"
If you open https://docs.owncloud.com, you get 10.4 as the default release.
It should be 10.5 as it has bee officially released.

**Impact:**
1.) you do not know that 10.5 is released
2.) you see the release notes of 10.4 and not 10.5

-->
## What Type Of Content Change Is This? (Optional)
- [ ] New Content Addition
- [ ] Old Content Deprecation
- [ ] Existing Content Simplification
- [x] Bug Fix

[2020-08-05 15:19] phil-davis commented on #2742
The values in `site.yml` of the `master` and `10.5` branches look OK.
How does that very first redirect from https://doc.owncloud.com decide to go to https://doc.owncloud.com/server/10.4/ ?

[2020-08-06 10:39] jnweiger commented on #2742
There is a caddy webserver on dagmar, that needs an update:
[code]

[2020-08-06 16:17] pmaier1 commented on #2742
Thanks for checking. Can you do it?

[2020-08-06 23:00] jnweiger commented on #2742
Yes, I can give it a try. This machine is managed by a non-trivial ansible setup. My PR needs a good internal review, please:
https://gitea.owncloud.services/devops/websites/pulls/57

@mmattel Thanks for catching this! You can only review after it is deployed, I am afraid.

[2020-08-07 05:22] mmattel commented on #2742
np, just le me know :smile:

[2020-08-12 13:22] voroyam commented on #2696
@pmaier1 I edited your comment from --value true to --value yes because in the final version it's got to be "yes". I hope you are fine with it.

[2020-08-12 15:14] ho4ho commented on #2631
https://github.com/owncloud/core/issues/37808 also :disappointed:

[2020-08-13 15:22] mmattel commented on #2742
Closing, retested, seems to be fixed now 😃

[2020-08-13 15:22] #2742 closed

[2020-08-17 16:12] pmaier1 commented on #2696
Sure, thanks. Actually this is outdated. The source of truth are the release notes https://doc.owncloud.com/server/admin_manual/release_notes.html#file-locking-in-the-web-interface

[2020-08-18 05:23] #2648 closed

[2020-08-19 16:21] ho4ho opened #2757 "Search box miss https://doc.owncloud.org/server/10.5/"
Go by mobile @ https://doc.owncloud.org/server/10.5/:

https://www.screenshotmachine.com/serve.php?file=doc-owncloud-org-480x800phone-d931c0.jpg&attachment

search box miss up right, go by tabled / desktop there:

https://www.screenshotmachine.com/serve.php?file=doc-owncloud-org-800x1280tablet-d931c0.jpg&attachment

Related by https://github.com/owncloud/marketplace-issues/issues/34 ?

Offline:

!

[2020-08-25 16:41] jvillafanez opened #2759 "Document expiration of outgoing remote shares"
## What Needs to be Documented?

https://github.com/owncloud/core/pull/37548

This is basically the support of expiration for outgoing (not incoming) remote shares. The behaviour is the same as with local shares.
Note that the expiration happens in the origin; the destination doesn't have any control about the expiration

## Where Does This Need To Be Documented?

## Why Should This Change Be Made

[2020-08-31 07:30] mmattel opened #2767 "Missing backports and config-to-docs run (+ its backports)"
[x] Missing backports from https://github.com/owncloud/docs/pull/2761
[ ] Missing `confing-to-docs` (see that repro) because of https://github.com/owncloud/core/pull/37859 incl its backports

For how to backport see: https://doc.owncloud.com/server/developer_manual/general/backporting.html#backporting-steps

@voroyam @phil-davis fyi

[2020-08-31 09:28] phil-davis commented on #2767
10.5 - #2768

[2020-08-31 10:37] phil-davis opened #2770 "lifecycle_restored description"
https://github.com/owncloud/docs/blob/master/modules/user_manual/pages/apps/enterprise/admin_audit/file_lifecycle.adoc#lifecycle_restored

The table has a row:
`fileId | integer | The number of days interval specified during expiration
-- | -- | --`

Maybe the description should be `The file ID for the file that was restored` ?

[2020-09-07 13:53] voroyam opened #2774 "LDAP: Renaming of groups not supported / propagated"
We ned to document that we don't support the renaming of LDAP groups.

Here is what happens:

-  The new name does not appear anywhere in ownCloud - neither in the LDAP config nor in the sharing dialogue
- If you clear the user / group mapping the users in the renamed group get deleted / disabled and then added back / re enabled

[2020-09-08 08:27] ChrisEdS commented on #2738
The config.php parameter is `'wnd.activity.registerExtension' => false,` or `true`

[2020-09-09 15:45] maw opened #2775 "incorrect or misleading link when explaining where to find a docker-compose.yml file"
https://doc.owncloud.com/server/admin_manual/installation/docker/ references a `docker-compose.yml` file in https://github.com/owncloud-docker/server, but it doesn't exist:

[code]

There is a sample `docker-compose.yml` file on the same page, though.  I think you should reference that instead.

## What Type Of Content Change Is This? (Optional)
- [ ] New Content Addition
- [ ] Old Content Depreca

[2020-09-09 15:47] maw commented on #2775
https://github.com/owncloud/docs/pull/2776 is my proposed fix for this.

[2020-09-10 13:13] jnweiger commented on #2737
@pmaier1 This is one of the last tickets in https://github.com/orgs/owncloud/projects/139 -- reschedule for 10.6?

[2020-09-10 15:18] #2737 closed

[2020-09-15 12:53] DeepDiver1975 opened #2783 "New openid connect config parameter 'allowed-user-backends'"
## What Needs to be Documented?
A new config for openidconnect has been added for version 1.0.0
https://github.com/owncloud/openidconnect/pull/100

## Where Does This Need To Be Documented?
openid

## Why Should This Change Be Made? (Optional)
new config option ....

## What Type Of Content Change Is This? (Optional)
- [x] New Content Addition
- [ ] Old Content Deprecation
- [ ] Existing Content S

[2020-09-16 04:33] phil-davis opened #2784 "cloud/user Provisioning API endpoint"
You can do:
[code]
But I don't see that in the Provisioning API docs.

I can also do:
[code]

That is documented, and gives more attributes of the user.

## Where Does This Need To Be Documented?
https://doc.owncloud.com/server/admin_manual/configuration/user/user_provisioning_api.html

## Why Should This Change Be Made? (Optional)

## What Type Of Content Change Is This? (Optional)
- [ ] New Cont

[2020-09-18 13:50] phil-davis opened #2793 "default webUI notification behavior changed"
## What Needs to be Documented?
core PR https://github.com/owncloud/core/pull/37875 changed the default notifications behavior on the webUI. Things like:

- notifications come at the bottom of the screen
- color/layout is different
- notifications now have a close button by default

## Where Does This Need To Be Documented?
Need to look for where there are screen shots of notifications and replace

[2020-09-21 08:42] phil-davis opened #2794 "files:troubleshoot-transfer-ownership"
PR https://github.com/owncloud/core/pull/37860 introduced `files:troubleshoot-transfer-ownership`

Document it.

To be released in 10.6.0

[2020-09-21 12:11] phil-davis opened #2799 "docs CI is failing"
e.g. #2798 - test PR to trigger CI
https://drone.owncloud.com/owncloud/docs/8315/1/4
[code]

[2020-09-21 12:27] phil-davis commented on #2799
Should be fixed by https://github.com/owncloud/client/pull/8105

This same fix was done back in 2019 - https://github.com/owncloud/client/pull/8105

[2020-09-21 12:45] #2799 closed

[2020-09-24 03:31] phil-davis opened #2810 "Sharing Panel Screenshots are out-of-date"
https://doc.owncloud.com/server/user_manual/files/webgui/sharing.html

The sharing panel screenshots are out-of-date.
<img width="325" alt="content-shared-with-user" src="https://user-images.githubusercontent.com/1535615/94097486-4ced3000-fe46-11ea-9a4d-d67bc455361b.png">

Nowadays there is a "settings" icon which opens to show the expiration date and permissions details.

This makes it more diffi

[2020-09-26 10:45] michaelstingl commented on #2759
@jvillafanez @micbar please add some bullet points to the top post what needs to be documented. I’m mostly interested how clients can use it. Is there a new capability for example?

[2020-09-28 07:28] jvillafanez commented on #2759
I don't think there is too much to document because the behaviour is the same as with user and group sharing. I haven't checked in depth the docs, but I expect something like "User, group and remote sharing support automatic share expiration....." or something like that. I don't think we need a specific section for remote sharing.

The capabilities are mostly the same as user and group sharing:
[c

[2020-10-09 09:56] mrow4a commented on #2711
ref. https://github.com/owncloud/core/pull/37569 and https://github.com/owncloud/user_ldap/pull/581

[2020-10-16 15:50] #2711 closed

[2020-10-20 11:49] jvillafanez opened #2825 "Get shares filtered by share type via API"
New option in the "get shares" API to filter the shares by share type (available from 10.6.0)
Related to https://github.com/owncloud/core/pull/38000

## What Needs to be Documented?

## Where Does This Need To Be Documented?

## Why Should This Change Be Made? (Optional)

## What Type Of Content Change Is This? (Optional)
- [ ] New Content Addition
- [ ] Old Content Deprecation
- [ ] Existing Cont

[2020-10-20 11:54] phil-davis commented on #2825
Note:
https://doc.owncloud.com/server/developer_manual/core/apis/ocs-share-api.html#get-all-shares
currently has some rubbish - talks about `/ocs/v1.php/apps/files_sharing/api/v1/shares/pending` but should be for "ordinary" (not pending) shares.
Similar problem in https://doc.owncloud.com/server/developer_manual/core/apis/ocs-share-api.html#get-information-about-a-known-share
/ocs/v1.php/apps/file

[2020-10-27 07:28] mmattel opened #2829 "Core Feature Added: pre signed url ajax download"
## What Needs to be Documented?

https://github.com/owncloud/core/pull/38029 (Feature/pre signed url ajax download)

## Where Does This Need To Be Documented?
Admin/User/Dev - TBD
Needs to be investigated
For upcoming 10.6 + master

## Why Should This Change Be Made? (Optional)
New Feature

## What Type Of Content Change Is This? (Optional)
- [x] New Content Addition
- [ ] Old Content Deprecation

[2020-10-29 05:34] phil-davis commented on #2775
PR has been merged.

[2020-10-29 05:34] #2775 closed

[2020-11-02 16:19] Akidxx opened #2849 "Add the domain name of the appliance in the Collabora Online server field"
After installing and configuring Collabora online to owncloud using appliance:
The domain name of the appliance should be updated in the 'Collabora Online server' (
Settings > Admin > Additional > Collabora

(As access with HTTPS using a domain name is required then the domain name should also be updated  in the 'Collabora Online server'

![Screenshot from 2020-11-03 10-25-07](https://user-images.

[2020-11-02 16:26] Akidxx opened #2850 "Delete the port from the Collabora Online server field"
After installing and configuring Collabora online to owncloud using appliance:
The port number in the 'Collabora Online server' field should be deleted
Settings > Admin > Additional > Collabora

[2020-11-02 20:20] voroyam commented on #2849
please add a screenshot and the relevant page to add this content to

[2020-11-03 15:31] manuel-owncloud opened #2853 "Unable to install php_gettext / Ubuntu 20.04.1 LTS - php 7.4"
When following the manual for installing owncloud from this link:

https://doc.owncloud.com/server/admin_manual/installation/server_prep_ubuntu_18.04.html

I get an error while trying to install the PHP- extensions:

[code]
Error:

(E: Unable to locate package php-gettext)

(Using Ubuntu 20.04.1 LTS and php 7.4)

[2020-11-03 15:32] manuel-owncloud commented on #2853
@mmattel

[2020-11-03 15:50] phil-davis commented on #2853
I see the same - on Ubuntu 18.04 I can install php-gettext. On 20.04 there is no such package. It seems that you can `sudo apt install gettext` and it should do the job.

[2020-11-03 15:50] phil-davis commented on #2853
What do we do about documenting little differences for 16.04 18.04 20.04...?

[2020-11-03 15:56] mmattel commented on #2853
Hello @manuel-owncloud the documentation describes the installation for Ubuntu 18.04. The package `php-gettext` is currently not available for Ubuntu 20.04, pls see: https://launchpad.net/php-gettext/+packages. You can continue installating your environment. Pls also see the purpose of php-gettext (https://launchpad.net/php-gettext/):
`This library provides PHP functions to read MO files even when

[2020-11-03 16:18] phil-davis commented on #2853
The challenge becomes keeping up-to-date and correct the instructions for different OS+releases

[2020-11-03 16:25] manuel-owncloud commented on #2853
Thank You for your help! Appreciate it :) @mmattel

And thank you for the solution @phil-davis!!! :)

[2020-11-04 09:49] #2853 closed

[2020-11-06 08:46] michaelstingl opened #2855 "Add Flow Sequence Diagram to wiki or docs"
Inspiration:
https://github.com/owncloud/oauth2/wiki/OAuth-code-Flow-Sequence-Diagram

[2020-11-09 08:06] mmattel opened #2857 "Add OIDC config.apps.sample.php parameters to docs"
## What Needs to be Documented?
Refs: https://github.com/owncloud/openidconnect/pull/109
New parameters for OIDC to be documented in `config.apps.sample.php`

**NOTE:** the PR MUST be made in core and then transferred with a config-to-docs run to docs
**NOTE:** there are atm config values present, but some are not identical/missing/too much to the referenced PR

## Where Does This Need To Be Docum

[2020-11-16 17:14] erwinpalma commented on #2849
Hello @Akidxx

According to the Univention Appliance documentation.

"Due to the deep integration of services in UCS, changing the hostname or other basic settings (which potentially affect the whole domain) is no trivial task.
The hostname is used by DNS, LDAP, Kerberos, Samba4, SSL certificates, and many more services in various configs and directory services. All these occurrences have to be ad

[2020-11-23 10:18] micbar commented on #2793
do not merge yet.

[2020-11-24 19:31] voroyam opened #2868 "PDF Generation issue"
Some manuals have no PDF on the docs page. The Client manual for example

https://doc.owncloud.com/server/10.5/

![image](https://user-images.githubusercontent.com/24212810/100142204-ce3b6000-2e93-11eb-80a0-c571d584bbf9.png)

Note how the (Download PDF) has no Blue Link for the Client manual. For the branded Client the manual is apparently gone as well. If you click the link you get a 404.

https:

[2020-11-25 10:43] JanAckermann opened #2869 "CORS White-listed Domains add examples"
## What Needs to be Documented?

CORS White-listening URIs had be limited in favor of https://tools.ietf.org/html/rfc6454
we should provide examples for the users, which statements are legal:

- http://example.com (usual http domain)
- https://example.com (usual https domain)
- http://example.com:80 (usual domain including port)
- http://127.0.0.1 (protocol + ip)
- http://127.0.0.1:8080 (protocol

[2020-11-25 10:56] mmattel commented on #2869
**Note:**
To be written in master and then, if already present, backport to the 10.6 branch.
If upcoming PR merged to master before the 10.6 brach is created, no backport needed as 10.6 contains all merged PR´s from master.

@HieronymusPerro  Thanks for creating the issue

[2020-11-26 11:09] jnweiger opened #2870 "[QA] add 10.6 branch"
Server 10.6.0beta1 and RC1 are built using https://doc.owncloud.com/server/10.5/user_manual/ownCloud_User_Manual.pdf
For the final we need 10.6 branch there.

[2020-11-26 11:21] phil-davis commented on #2870
And for the next week (or so...) it will be easy to wait before branching. Then we will automagically capture whatever good doc changes we make in master, without having to bother doing backports of every PR.

[2020-11-26 12:52] voroyam opened #2871 "Remove All branches from online docs except last 2."
here https://github.com/owncloud/docs/blob/master/site.yml

![image](https://user-images.githubusercontent.com/24212810/100344833-ba057900-2fe1-11eb-920a-716ec68d16b6.png)

I think it makes sense to remove branches that are too old. Remove:
    - '10.3'
    - '10.2'
    - '10.1'

It should be only the current branch of the current release (NEW) and the previous branch of the last release (Current)

[2020-11-26 15:12] enbrnz opened #2872 "WND Configuration Quick Guide"
This new document should enable an administrator to install and configure a Windows Network Drive share user home drive. This uses user authentication and enables the use of the sync client using the WND listener and process queue.

1. Installation
samba packages & libraries
- enable ownCloud app windows_network_drive
	occ / WebUI

2. Configuration
2.1 WebUI
- external storage settings of ownCloud

[2020-11-27 10:27] erwinpalma commented on #2872
I wrote this notes related with WND

https://gist.github.com/erwinpalma/327297847c71917a6561e5c10a6dadcb

[2020-11-27 10:38] enbrnz commented on #2872
I don't think this is helpful, please just flesh out the structure we determined yesterday, which is in my comment at the top. All we need are some screenshots and commands to every single one of the steps.

[2020-11-27 12:53] voroyam commented on #2872
Can every one assigned write a quick comment what he/she is doing/planing to do?

[2020-11-27 13:24] Akidxx commented on #2872
I am planning to make an article about owncloud Installation (Manual Installation) with the exact basic steps and add the troubleshooting part where we can put the errors/issues that someone can face during the installation

[2020-11-27 14:20] mschreml opened #2874 "Collabora setup in the appliance"
https://doc.owncloud.com/server/admin_manual/appliance/configuration/office.html#introduction

This is confusing: "Access with HTTPS using a domain name is required. Add the IP address and the domain name of your appliance to your /etc/hosts file, or have it added to your existing DNS server, if you don’t want to use the Appliance as your DNS server."

First sentence is unclear to me.

Please chan

[2020-11-27 14:52] #2874 closed

[2020-11-29 11:19] thommierother opened #2877 "Config: external sites, importing additional external icons"
**Expected behaviour**

Additional *.svg icons for the OC menu should be selectable for external site links

**Actual behaviour**

- added *.svg icons in owncloud/core/img or owncloud/apps/files/img
- new svg files are not selectable in the “External Sites” menu

**Steps to reproduce**

- add *.svg files
- logout, login
- go to “Admin coinfig, Additional, External Sites”
- added svg files not avai

[2020-11-30 12:08] erwinpalma commented on #2872
Here is my **draf** about the occ process

NOTE: I am working on it

enable the option Allow to users... WND

	login into your ownCloud web Site as administrator
		go to admin-->Settings
		and on the left Panel clic on the Admin->Storage
		Enable the option "Allow Network Drive"
(PIC
![allow](https://user-images.githubusercontent.com/30660343/100608688-0e279a80-330d-11eb-9edf-5186eba529f4.png)
)

[2020-11-30 13:03] voroyam commented on #2872
How far are you in to writing? I would rather discuss a new page with the team instead of going solo on something like this.

[2020-11-30 13:04] voroyam commented on #2872
Again. Please read the stuff Erik wrote in response to your first comment and tell me what the Task is again. In your own words.

[2020-11-30 13:21] Akidxx commented on #2872
I described the steps in a draft and need to add screenshots.I want to describe the steps for each OS seperately: Ubuntu, Centos...
Maybe we can discuss it more in the meeting tomorrow..

[2020-11-30 13:28] erwinpalma commented on #2872
I wrote: _NOTE: I am working on it_ and it means that is not finish yet, because I did it, but I am verifying every step again. Wait until the end

And Erick told me that I have a space to write my contribution as a comment.

[2020-11-30 13:43] enbrnz commented on #2872
Yes, good to see some progress. I see a problem with your first draft: At no point did we mention anything about user added storage, we want a guide for an admin, so your screenshot guide is incorrect.

I really like the style of how you are highlighting buttons in a screenshot.
I'll put in a follow up for tomorrow afternoon, so we can check on the progress.

[2020-11-30 13:56] voroyam commented on #2872
Yeah - first discuss then start working. Our docs are ubuntu exclusive.

[2020-11-30 14:18] mmattel commented on #2877
@thommierother , thanks for raising this issue

`external` is a path for this particular app provided by ownCloud (as part of the tar file when installing). This means that this app is signed by ownCloud. When adding data to the path mentioned, you break signing and you will get signing complains. This can be overcome by excluding this app from signing complains in config.php

**BUT** the next tim

[2020-11-30 14:23] mmattel commented on #2871
I fully agree that search is a mess.
It would be better to aggregate results based on the branches for better selectivity.
I hear quite often, that there are too many companies around using versions lower than 10.4
For a decision I suggest adding and asking @pmaier1 and/or @micbar about their pov.

[2020-11-30 16:13] jnweiger commented on #2870
TODO;
* [ ] review open PRs, merge e.g. https://github.com/owncloud/docs/pull/2858
* [ ] create a 10.6 branch
* [ ] prepare update of https://gitea.owncloud.services/devops/websites/src/branch/master/ansible/roles/docs/templates/config.j2
* ... anything else?

[2020-12-01 12:48] voroyam opened #2885 "Add example of the missing user options to the occ command of user:sync"
If unknown users are found, what do you want to do with their accounts? (removing the account will also remove its data)
  [0] disable
  [1] remove
  [2] ask later

[2020-12-01 13:04] voroyam commented on #2696
Great. We done a great job advertising the new feature but no one documented it. Perfect. Issue is open since January. 1 Year no progress. Please don't write "PR welcome".

[2020-12-01 14:46] enbrnz commented on #2872
[code]

[2020-12-01 16:47] mmattel commented on #2696
Somone writing a PR is still welcome!
Even such a PR must undergo the very normal time consuming process of writing, adoptig, tuning and quality checks, the invite statement is totally ok. If the focus is not set to such a task, the result is the outcome you describe. And yes, this is frustrating!
BTW, there are tons of other open issues pointing to work to be done...

[2020-12-01 17:03] mmattel opened #2887 "Document: Allow subfolders for Google Drive mounts"
## What Needs to be Documented?
A new functionality for Google Drive mounts has been merged in core.
You can now mount a subfolder for GD.
https://github.com/owncloud/core/pull/38161 (Allow subfolders for Google Drive mounts)

## Where Does This Need To Be Documented?
https://github.com/owncloud/docs/blob/master/modules/admin_manual/pages/configuration/files/external_storage/google.adoc
(Images, d

[2020-12-01 20:44] voroyam commented on #2696
The difference is - we (ownCloud) don't advertise the other stuff publicly like:
"Hey -Look at this new awesome Feature (...for what we don't have a real documentation, just a blog entry) get it while it's hot!"

[2020-12-01 22:07] voroyam commented on #2696
https://github.com/owncloud/docs/pull/2888

[2020-12-01 22:08] voroyam commented on #2696
no one will do it if I don't do it myself.

Apparently I am the only one who is ashamed when Customers ask me: "where is this documented?" and I can't provide them a proper page...

[2020-12-02 19:46] karakayasemi opened #2891 "Document twofactor_backup_codes app"
## What Needs to be Documented?
Document the usage and purpose of `twofactor_backup_codes` app.
https://marketplace.owncloud.com/apps/twofactor_backup_codes

## Where Does This Need To Be Documented?
- Admin Manual
We may consider to open a chapter for 2FA providers.

## What Type Of Content Change Is This? (Optional)
- [x] New Content Addition

## Which Manual Does This Relate To? (Optional)
- [x

[2020-12-03 10:20] KwadwoObeng opened #2892 "Shibboleth and SAML SSO Integration"
The saml sso and shibboleth section of the documentation is not newbie friendly at all.I am having a very hard time.
I don't want to loose my job. I will really appreciate if you update or anyone out here willing to help me.

[2020-12-03 13:55] Akidxx opened #2896 "Install ownCloud on Ubuntu 20.04"
This is an ultra-short guide to installing ownCloud on a fresh installation of Ubuntu 20.04. Run the following commands in your terminal to complete the installation.

**Prerequisites**

-  A fresh install of Ubuntu 20.04 with SSH enabled.

- This guide assumes that you are connected as the root user.

- This guide assumes your ownCloud directory is located in /var/www/owncloud/

**Preparation**

[2020-12-04 10:19] voroyam commented on #2696
I am out. Will send our blog articles instead.

[2020-12-04 15:05] voroyam opened #2907 "Improve Visibility for Upload via Curl to public Links"
## WHAT Needs to be Documented?
We need to improve visibility for the section below

## WHERE Does This Need To Be Documented (Link)?
https://doc.owncloud.com/server/user_manual/files/access_webdav.html#uploading-files-to-a-public-link-using-curl

## WHY Should This Change Be Made?
A user in central did not find it, and had to spend his time searching

https://central.owncloud.org/t/upload-to-file

[2020-12-04 15:26] mschreml opened #2908 "bug in dropdown menu on doc.owncloud.com"
## WHAT Needs to be Documented?
The drop-down menu on the left side drops down and snaps back in when I click on the little arrow.
It also drops down when I click on the words but it only snaps back in on some of the words.

## WHERE Does This Need To Be Documented (Link)?

(https://doc.owncloud.com/server/)

## WHY Should This Change Be Made?
On "Admin manual " it works perfect. But when I click

[2020-12-04 16:10] erwinpalma commented on #2872
This new document should enable an administrator to install and configure a Windows Network Drive share user home drive. This uses user authentication and enables the use of the sync client using the WND listener and process queue.

# 1. Installation
## samba packages & libraries

Verify if the required packages are available with with follow command

[code]
You should have a similar output, other

[2020-12-04 18:36] voroyam commented on #2872
What packages do I need to install and how do I install them?￼￼￼￼

[2020-12-06 17:14] ediathome commented on #2907
@voroyam Hey Dmitry! Thanks for creating this issue which describes my problem very well. I think the issue was that public upload links are often referred to as "File drops" whereas in the documentation this is only called a "Uploading Files to a **Public Link** Using cURL". Maybe we could add the term "File drop" in the documentation? Cheers Martin

[2020-12-07 19:12] mrow4a commented on #2794
PR sent https://github.com/owncloud/docs/pull/2912

[2020-12-08 09:27] voroyam commented on #2872
How do I enable the wnd app?

[2020-12-08 11:15] voroyam commented on #2872
![94 130 230 31_8080_server_admin_manual_installation_ubuntu_18_04 html](https://user-images.githubusercontent.com/24212810/101477101-08563880-394f-11eb-9343-95dd20a769a5.png)

[2020-12-08 11:17] voroyam commented on #2872
done.

Took me like 2 hours while I was doing other stuff.

We need obviously to check it and add pictures, but the foundations for this page has been laid. This is what we wanted to get from the plan we have worked out 2 weeks(!) ago.

[2020-12-08 16:09] #2794 closed

[2020-12-08 18:37] voroyam commented on #2872
@enbrnz can you check for accuracy and comment here what's missing or wrong?  I would like to get a rough draft up in docs and then we can always improve on it in separate PRs

[2020-12-09 09:11] enbrnz commented on #2872
Very Nice! I haven't 100% double checked it yet

Did you put this into the wrong page by mistake? In your screenshot it is highlighting `Install ownCloud on Ubuntu 18.04`

[2020-12-09 09:21] voroyam commented on #2872
No mistake, this are my local docs. I use them to preview stuff.

[2020-12-09 09:35] enbrnz commented on #2872
I see you just copied the part about the WND process queue. However there is a copyable cron job for the process queue without flock. As I understand it, you also have to always ensure that there is only one unique process queue process running. Therefore I think we should remove the part where we talk about the process queue running without flock... What do you think?
Otherwise very good, perhaps

[2020-12-09 10:09] voroyam commented on #2872
I don't know anything about flock.

I would like to have everything figured out before I make the PR. To then have no discussion in there, just one commit, that we can backport to 10.5 and 10.4. A clean job. We can discuss in here and figure out the kinks.

[2020-12-09 10:12] voroyam commented on #2872
We can also just leave the part we are not certain about out of the first version and habe just the default process queue.

Then a different someone could add the correct information as a PR. I would always get things of the ground instead of discussing what every detail for a month with then no real changes.

[2020-12-09 10:21] enbrnz commented on #2872
Agreed

This isn't about flock this is about process-queue. If you want to know more about flock I'd recommend to study its man page.

I think we should make sure that the process-queue part is unambiguous. I think this already shows that the current documentation is so ambiguous that none of us are certain what it is supposed to say:
process-queue with flock OR without flock?

I think I've heard

[2020-12-09 10:44] voroyam commented on #2872
![image](https://user-images.githubusercontent.com/24212810/101619711-eecaf480-3a13-11eb-98ed-556be92f8da6.png)

[2020-12-09 11:01] voroyam commented on #2872
I talked with Carlos - he is also not sure about the process queue command with flock.

He said that we have to run it with flock, and have to specify the path because cron don't always finds the flock command, so we have to write /usr/local/bin/flock instead of just flock in the beginning. Bun why in the example in the docs there is a -n file there - no one knows.

We would need a clear answer fr

[2020-12-09 13:04] JanAckermann opened #2917 "Update file tagging docs due UX changes"
## WHAT Needs to be Documented?
Due UX changes the file list has now a new tab 'Tags'.
The input field for adding/selecting/... tags moved to the 'Tags' tab.

Under the file info there is now a read only tag list.

![Screenshot_20201211_123331](https://user-images.githubusercontent.com/26169327/101899082-8152cb80-3bad-11eb-9b43-0f04dc071237.png)

## WHERE Does This Need To Be Documented (Link)?
ht

[2020-12-09 15:58] jvillafanez commented on #2872
About the parallel runs of the process-queue, the behaviour heavily depends on the specific notification list. There are several problematic scenarios:
* Duplicated execution for the notification if both process start at the same time. It's expected that the first process deletes the notifications that will be handled, so the second process can't pick them up, but there is no guarantee that this w

[2020-12-10 09:30] voroyam commented on #2872
Okay, what we need is to document the command. @jvillafanez

What we don't understand right now is what the `-n /my/lock/file` does or how it should work. Is it a random file or a specific one? What permissions does it have to have? What is it for? This is what we need to document.

Please explain **this**.

[2020-12-10 09:36] voroyam commented on #2896
Did you just add the ondrej repo and the note about php 7.4 and that's the whole "rewrite"?

[2020-12-10 09:43] Akidxx commented on #2896
Yes I just added the 2 notes about adding the ondrej repo and about php 7.4 but I will edit it, it was the first draft..

[2020-12-10 09:45] voroyam commented on #2896
So you did only 2 edits to my guide and you spelled Ubuntu wrong... `ubunto`

Please correct it and prepare a Pull Request. As these are the only 2 edits, and the rest of the guide is still correct - I would expect that it still works. Please test it on a clean 20.04 UbuntU before making the PR.

[2020-12-10 10:11] #2849 closed

[2020-12-10 10:27] jvillafanez commented on #2872
Ok, that's for the `flock` command, it isn't wnd related

The `-n` option will cause the `flock` command to fail instead of waiting if it can't get the lock. Since we expect the process-queue to be run by the cron periodically, we don't really need 3, 5 or 10 processes waiting in a queue until the first process-queue finish. If `flock` can't get the lock, we abort the run. There will be another ru

[2020-12-10 10:43] #2850 closed

[2020-12-10 12:08] #2907 closed

[2020-12-10 12:16] mschreml commented on #2907
@ediathome we added the keyword. Thank You!

[2020-12-10 12:37] voroyam commented on #2872
Can it be the same file? or does every process require separate file?

[2020-12-10 14:42] jvillafanez commented on #2872
It can be the same file, although that would serialize too much. The server1+share2 would need to wait until the server1+share1 has finished.
Note that using the same file for everything could potentially lead to a process starvation: last process might never run if there is always another process running, at least with that setup.

I wouldn't recommend to use the same file for everything.

[2020-12-11 08:08] #2887 closed

[2020-12-11 10:33] voroyam commented on #2872
Okay, then I will take the code block from your example and check if it's correct and use it in our docs.

Thank you

[2020-12-12 22:28] voroyam commented on #2644
Issue is fixed. There is an anchor now at Reuse ....

[2020-12-12 22:28] #2644 closed

[2020-12-14 12:55] mschreml commented on #2885
@voroyam done

[2020-12-14 12:55] #2885 closed

[2020-12-16 14:20] mschreml commented on #2683
@voroyam done

[2020-12-17 10:35] schomaecker opened #2943 "Advice on Upgrade PHP on RedHat 7 and CentOS 7 in admin_manual breaks version consistency on updates"
## WHAT Needs to be Documented?

The advice in the admin_manual for "Upgrade PHP on RedHat 7 and CentOS 7" to...
cp /opt/rh/httpd24/root/etc/httpd/modules/librh-php73-php7.so /etc/httpd/modules/
...breaks the version consistency between the running Apache-PHP-Module and PHP itself (PHP Modules).

It should be a better solution to edit /etc/httpd/conf.modules.d/15-rh-php73-php.conf and change the p

[2020-12-20 12:49] mmattel commented on #2767
PR based on core 10.6 changes see: https://github.com/owncloud/docs/pull/2945

[2020-12-20 13:56] mmattel commented on #2767
closing because of merging #2945 and #2946

[2020-12-20 13:56] #2767 closed

[2020-12-21 10:04] voroyam commented on #2683
@mschreml that's not what I wanted in the docs.

If you aren't sure what the author of the issue wants - ask.

The Permission manager option is confusing to beginner admins, so I just wanted to clarify, that on standard deployments with standard ADs you don't need any string. The current documentation make it seem like you need to enter `NullPermissionManager` in order to use the default manager,

[2020-12-21 10:21] voroyam commented on #2896
Where is the PR?

[2020-12-29 08:51] mmattel commented on #2870
closing, branch has been created

[2020-12-29 08:51] #2870 closed

[2021-01-04 11:03] voroyam commented on #2896
fixed with.

https://github.com/owncloud/docs/pull/2987

thanks to @Akidxx for the great work.

[2021-01-04 11:03] #2896 closed

[2021-01-04 13:53] enbrnz opened #2994 "Missing documentation in Fixing Invalid Code Integrity Messages for missing file error message"
## WHAT Needs to be Documented?

The documentation on Code Signing has a `How-to` section which explains the different error messages. However the message `FILE_MISSING` is not specifically explained.

[code]

## WHERE Does This Need To Be Documented (Link)?
https://doc.owncloud.com/server/admin_manual/configuration/general_topics/code_signing.html#fixing-invalid-code-integrity-messages

Line 77,

[2021-01-05 00:54] voroyam commented on #2994
I think it is already documented but maybe wrong.

It's listed in Errors under `MISSING_FILE`. Maybe we should simply correct this to `FILE_MISSING`.

![image](https://user-images.githubusercontent.com/24212810/103594442-fdb0a400-4ef8-11eb-8f87-738b0b3505b8.png)

[2021-01-05 13:20] enbrnz commented on #2994
Thanks for pointing that out, I didn't notice it before.
This highlights another issue as this part seems to be for developers looking to implement code signing, as it says in the text to edit the `signature.json` which an admin should never do.

In the Technical Information part it should document the steps an admin has to do when they encounter that error in their ownCloud instance.

However the

[2021-01-05 14:43] #2994 closed

[2021-01-07 10:07] voroyam opened #3005 "need a quick guide on how to install a license key"
## WHAT Needs to be Documented?
a picture heavy guide on how to install an license key

## WHERE Does This Need To Be Documented (Link)?
https://doc.owncloud.com/server/10.6/admin_manual/enterprise/

## WHY Should This Change Be Made?
For new ownCloud admins with little to no experience

## (Optional) What Type Of Content Change Is This?
- [x] New Content Addition
- [ ] Old Content Deprecation
- [

[2021-01-11 15:22] voroyam opened #3011 "Need sudo for required packages"
## WHAT Needs to be Documented?

sudo package

## WHERE Does This Need To Be Documented (Link)?

https://doc.owncloud.com/server/admin_manual/installation/quick_guides/ubuntu_18_04.html#install-the-required-packages

## WHY Should This Change Be Made?

because on docker installation without sudo installed you will see an error

[2021-01-12 17:16] xoxys opened #3014 "Issue related to dep html-entities v2.x"
Build was broken after merging https://github.com/owncloud/docs/commit/653cf01b12b243c6f25d972e9bec1c716ee26c26 two weeks ago... Someone needs to check how to upgrade. Second issue: The related PR was **not** failing for whatever reason maybe that's a caching thing.

The master branch is fixed again, I've downgraded the dependency to v1.x

@phil-davis Can you pin html-entities to v1.x in dependabo

[2021-01-12 17:26] phil-davis commented on #3014
Yes, the PR passed the docs-validate docs-build etc steps. So I assumed that everything was fine, and the new major version was good-to-go (that whatever backward-compatibility breaks it had, they did not effect us)

Actually there needs to be someone who knows and understands the workflow and dependencies... of all this, and who can make informed decisions about this stuff. I really don't know wh

[2021-01-13 12:28] #3014 closed

[2021-01-13 23:10] voroyam opened #3026 "Change "Finalise the installation" to "Finalise the Upgrade" in Upgrade docs"
## WHAT Needs to be Documented?
- [x] "Finalise the installation" should be rephrased to "Finalise the Upgrade" since it's an upgrade documentation. #3148
- [x] The Anchor has to be changed as well - this happens automagically when the docs are generated and published

## WHERE Does This Need To Be Documented (Link)?
https://doc.owncloud.com/server/admin_manual/maintenance/manual_upgrade.html#fina

[2021-01-13 23:17] voroyam opened #3027 "Fix Formatting on Upgrade docs page"
## WHAT Needs to be Documented?
fix formatting

## WHERE Does This Need To Be Documented (Link)?
https://doc.owncloud.com/server/admin_manual/maintenance/manual_upgrade.html#finalize-the-installation

## WHY Should This Change Be Made?
Because it looks broken

![image](https://user-images.githubusercontent.com/24212810/104521777-db580e00-55fd-11eb-8879-b4c492cb4ab2.png)

## (Optional) What Type Of

[2021-01-13 23:24] voroyam opened #3028 "Remove verbose option on extraction command"
## WHAT Needs to be Documented?
remove the `v` option from the tar command

## WHERE Does This Need To Be Documented (Link)?
https://doc.owncloud.com/server/admin_manual/maintenance/manual_upgrade.html#extract-the-new-source

## WHY Should This Change Be Made?
because the verbose command is unnecessary and it floods the terminal.

## (Optional) What Type Of Content Change Is This?

- [x] Bug Fix t

[2021-01-14 16:52] hurradieweltgehtunter opened #3035 "Update link to previous versions"
## WHAT Needs to be Documented?
As stated here (https://github.com/owncloud/owncloud.org/issues/1400) the last line of https://doc.owncloud.com/server/admin_manual/maintenance/package_upgrade.html#upgrading-across-skipped-releases reads
`You’ll find repositories of previous ownCloud major releases in the ownCloud Server Changelog.`

which is not the case. Link should be changed to https://owncloud

[2021-01-15 19:19] jnweiger opened #3036 "The "Edit this page" link should point to master"
* Open https://doc.owncloud.com
* The browser gets redirected to (currently) https://doc.owncloud.com/server/10.6/  OK
* It is prominently visible that the documentation exists for multiple server versions. (Highlights in green). OK
* The "Edit this page" link suggests editing source in the github branch `10.6` (Highlight in red). BAD

![image](https://user-images.githubusercontent.com/1108546/104

[2021-01-15 19:37] jnweiger commented on #3026
Please consider using "finalize" instead of "finalise" -- ownCloud documentation follows US spelling.

[2021-01-16 11:17] ho4ho opened #3037 "Change X-XSS-Protection "1; block" -> "0""
## WHAT Needs to be Documented?

- Change X-XSS-Protection "1; block" to "0"
- Why now "0" using

Reasons why:

https://github.com/OWASP/CheatSheetSeries/issues/376#issuecomment-602663932:

and:

https://github.com/helmetjs/helmet/issues/230#issuecomment-611904252
https://github.com/helmetjs/helmet/issues/230#issuecomment-611706715
https://github.com/helmetjs/helmet/issues/230#issuecomment-6141061

[2021-01-16 14:53] mmattel commented on #3036
this is a very good idea to add a description upfront 👍
We could design some text, like I have dropped you and more, which would help readers and contributors to see the impact and revise if the current approach is the correct one.

A kind of intermediate page, inbetween docs and github:
`docs --> edit description page (ok) --> github`
`docs <-- edit description page (back)`

[2021-01-16 15:18] phil-davis commented on #3036
In the framework that builds the docs, is there any way to tell it to replace the `10.*` with `master` when building the "edit this page" link?

[2021-01-16 15:57] mmattel commented on #3036
The reason for editing a particular branch can be necessary.
Maybe there is a need because the change only addresses this branch.
Therefore I would not disable that by default.

[2021-01-18 08:56] JanAckermann opened #3039 "Enhance manual upgrade guide with a note refering the apps_paths section must match the new installation"
## WHAT Needs to be Documented?
According to this issue https://github.com/owncloud/core/issues/38297, the documentation does not say anything about the app directories must exist and match the `apps_paths` section in the `config.php` while upgrading.

## WHERE Does This Need To Be Documented (Link)?
https://github.com/owncloud/docs/edit/master/modules/admin_manual/pages/maintenance/manual_upgrade

[2021-01-18 09:33] #3039 closed

[2021-01-20 10:58] JanAckermann opened #3047 "Enhance external storage configuration"
## WHAT Needs to be Documented?
* /admin_manual/configuration/files/external_storage_configuration_gui should be located at /admin_manual/configuration/files/external_storage/
* Section `Setting Up Google Drive and Dropbox Connections` and `FTP` should be removed due duplication
* Image for `Enabling External Storage Support` should be replaced, this app is not visible in the app overview, instead

[2021-01-20 11:49] mschreml commented on #2351
@voroyam done

[2021-01-20 11:49] #2351 closed

[2021-01-20 13:33] #3047 closed

[2021-01-20 13:50] JanAckermann opened #3051 "Removed files/external_storage/configuration.adoc page alias"
Page alias has been removed https://github.com/owncloud/docs/pull/3048/files but should not

[2021-01-21 13:30] JanAckermann commented on #2917
@mmattel I will take care of this.

[2021-01-21 15:57] mschreml opened #3057 "Put errors on top of the page in code_signing.adoc"
## WHAT Needs to be Documented?

The Errors are already mentioned, but on the bottom of the page.

## WHERE Does This Need To Be Documented (Link)?

https://doc.owncloud.com/server/10.6/admin_manual/configuration/general_topics/code_signing.html#errors

## WHY Should This Change Be Made?

- For easier understanding, the Errors and their explanation should be on top of the page following the Introd

[2021-01-22 12:39] mschreml commented on #3057
@voroyam

[2021-01-23 01:15] axelseetoh opened #3059 "duo MFA generate, save, clear settings and advanced button not clickable."
## WHAT Needs to be Documented?
<img width="309" alt="problem" src="https://user-images.githubusercontent.com/50671764/105564095-a06f7c00-5d5b-11eb-8dd3-936a7e3ce7b4.png">

Clicking on any of the button does not load anything nor lead to anywhere. How do I fix this problem?

## WHERE Does This Need To Be Documented (Link)?

## WHY Should This Change Be Made?

## (Optional) What Type Of Content Cha

[2021-01-25 09:23] #3051 closed

[2021-01-25 09:51] mmattel opened #3060 "config-to-docs run necessary if core PR gets merged"
When the core PR https://github.com/owncloud/core/pull/38337 (Encryption: new config.sample parameter to define the file format) gets merged, a `config-to-docs` run must be made to transport the changes into the documentation. No backporting to 10.6 or below as this is a new functionality only available with an upcoming release of core.

@karakayasemi @jvillafanez @phil-davis FYI

[2021-01-25 11:54] #2917 closed

[2021-01-26 09:03] #3027 closed

[2021-01-26 15:06] JanAckermann opened #3071 "Guide the admin, how to run proper occ commands in a docker installation"
## WHAT Needs to be Documented?
We need to document, how to run occ commands in a docker environment.

## WHERE Does This Need To Be Documented (Link)?
admin_manual/installation/docker/index.html#configuration/server/occ_command

## WHY Should This Change Be Made?
Admins (also devs) gets confused while running the ordinary `php occ` command, leads to errors.
It is important to show that the `occ`

[2021-01-26 15:07] JanAckermann commented on #3071
Backport highly recommended.

[2021-01-26 16:36] phil-davis commented on #3071
Fixed by #3072

@JanAckermann close?

[2021-01-26 17:43] #3071 closed

[2021-01-27 10:20] JanAckermann commented on #2869
Backport needed for 10.6

[2021-01-28 07:54] mmattel commented on #2869
Closing in favour of #38101

[2021-01-28 07:54] #2869 closed

[2021-01-28 13:12] JanAckermann opened #3083 "Adjust the Provisioning API"
## WHAT Needs to be Documented?
* The Provisioning API should be located under developer_manual/core/apis
* The navigation item 'User Provisioning API' at admin_manual/configuration/user/ should link to this page to section `#instruction-set-for-users`
*  A important note that the given user must be an admin or sub-admin should be displayed
## WHERE Does This Need To Be Documented (Link)?

## WHY

[2021-01-28 17:11] michaelstingl commented on #3059
Please report the issue in https://github.com/elie195/duo_provider/issues

[2021-01-28 17:11] #3059 closed

[2021-01-29 11:45] JanAckermann opened #3087 "Guest App has falsy "(Enterprise only)" in title"
## WHAT Needs to be Documented?
https://doc.owncloud.com/server/admin_manual/configuration/user/guests_app.html

## WHERE Does This Need To Be Documented (Link)?
admin_manual/pages/configuration/user/guests_app.adoc

## WHY Should This Change Be Made?
This is not an Enterprise Only App

## (Optional) What Type Of Content Change Is This?
- [ ] New Content Addition
- [ ] Old Content Deprecation
- [

[2021-01-29 12:04] #3087 closed

[2021-01-29 12:40] #3083 closed

[2021-02-01 16:20] phil-davis commented on #1656
The change in PR https://github.com/owncloud/docs-ui/pull/155 seems to have been reverted in PR https://github.com/owncloud/docs-ui/pull/158 but there is no reasoning written in PR 158???

Is there some record of what was wrong with 155 and why it had to be reverted?

[2021-02-02 09:52] voroyam opened #3094 "LDAP setting uuid = email is not recommended."
## WHAT Needs to be Documented?
Setting the UUID in the LDAP Expert Settings to use the Email attribute is not recommended.

## WHERE Does This Need To Be Documented (Link)?
https://doc.owncloud.com/server/10.6/admin_manual/configuration/user/user_auth_ldap.html

## WHY Should This Change Be Made?
Because if one out of 1000 user forgets to enter his email or the admin forgets to enter it for him o

[2021-02-02 13:03] mschreml commented on #2322
@voroyam are you ok with the suggestion to put the info here https://doc.owncloud.com/desktop/navigating.html#general-window ?

[2021-02-02 16:01] mschreml commented on #2774
I think I don't have to descripe what happens. Just the "Note:" should be enough, right?

Like:

NOTE: Renaming of groups is not supported. We recommend to use [Custom Groups](https://doc.owncloud.com/server/user_manual/files/webgui/custom_groups.html#creating-custom-groups)

If the text is ok, canI write it in the Troubleshooting Area on [User Auth LDAP](https://doc.owncloud.com/server/admin_manu

[2021-02-02 22:36] voroyam commented on #2774
Just the note about Renaming is okay. Important is the propagated.

For example.

I sync LDAP users and LDAP groups to ownCloud
I then change the name of the LDAP group in LDAP
The change will not be visible in ownCloud
So the change is not propagated from LDAP to ownCloud

So a note or a warning in the User Auth with LDAP in the Group Filter Section is fine with me.

[2021-02-02 22:41] voroyam commented on #2322
I think here is better, since we already have some paths there

https://doc.owncloud.com/desktop/advanced_usage/configuration_file.html

[2021-02-05 14:32] voroyam opened #3107 "asciidoctor: WARNING: skipping reference to missing attribute: base_uri"
This issue has to be fixed.

I did a grep on the repo and found that base_uri is only mentioned in the code examples for the developer docs.

like this one:

https://github.com/owncloud/docs/blob/master/modules/developer_manual/examples/core/scripts/ruby/list-all-shares.rb

[code]

https://doc.owncloud.com/server/developer_manual/core/apis/ocs-share-api.html#code-example

This: {base_uri} is how a

[2021-02-08 12:35] mschreml opened #3109 "docs unclear in files:transfer-ownership"
## WHAT Needs to be Documented?
Only files and the shares attached to the files are moved from one path to another. Even if you specify a user as the source, this is also a path. Shares received by a user are not transferred to a target user.

## WHERE Does This Need To Be Documented (Link)?
https://doc.owncloud.com/server/10.6/admin_manual/configuration/server/occ_command/file_commands.html#the-f

[2021-02-08 17:33] mschreml commented on #2774
@voroyam done

[2021-02-09 13:16] #2774 closed

[2021-02-10 05:12] phil-davis opened #3128 "Document use of "tries to" in acceptance test steps"
From discussion in issue https://github.com/owncloud/web/issues/4680

We use "tries to" in `When` steps of acceptance tests to:
- make it clear to the reader that the step is not expected to have a "normal" result
- to allow the underlying test code to be a bit different (for example, to remember that the action was not expected to succeed, or to not bother throwing an exception for the "error" th

[2021-02-10 12:13] JanAckermann opened #3132 "#PR 38386 redis connection_parameters, config-to-docs run needed"
## WHAT Needs to be Documented?
config-to-docs run needed

## WHERE Does This Need To Be Documented (Link)?
https://doc.owncloud.com/server/admin_manual/configuration/server/caching_configuration.html#redis-configuration

## WHY Should This Change Be Made?
config.sample.php has been updated with pr
https://github.com/owncloud/core/pull/38386

## (Optional) What Type Of Content Change Is This?
- [x

[2021-02-11 12:52] #3132 closed

[2021-02-13 22:14] phil-davis commented on #3026
https://doc.owncloud.com/server/admin_manual/maintenance/manual_upgrade.html#finalize-the-upgrade is now available.

[2021-02-13 22:14] #3026 closed

[2021-02-15 09:17] voroyam opened #3152 "Link most visited pages on the landing page"
## WHAT Needs to be Documented?
most accessed pages on the docs page

## WHERE Does This Need To Be Documented (Link)?
on the landing page which is the index page of the docs

https://doc.owncloud.com/server/10.6/

https://github.com/owncloud/docs/blob/10.6/modules/ROOT/pages/index.adoc

![image](https://user-images.githubusercontent.com/24212810/107927075-cfea6080-6f76-11eb-9463-90b32a1bb61a.png)

[2021-02-17 16:11] #2872 closed

[2021-02-17 17:01] voroyam opened #3168 "fixing doc warning during pdf build process:"
## WHAT Needs to be Documented?
fixing doc warning during  pdf build process:

[code]

## WHERE Does This Need To Be Documented (Link)?

## WHY Should This Change Be Made?

## (Optional) What Type Of Content Change Is This?
- [ ] New Content Addition
- [ ] Old Content Deprecation
- [ ] Existing Content Simplification
- [ ] Bug Fix to Existing Content

## (Optional) Which Manual Does This Relate To

[2021-02-19 16:38] ChrisEdS opened #3180 "Update the `adding a License Key` method"
## WHAT Needs to be Documented?
The new way of adding an enterprise license key. The method has changed for Server 10.5.+ from the need to adding the key to the `config.php` file to simply adding the key via the WebUI.

## WHERE Does This Need To Be Documented (Link)?
https://doc.owncloud.com/server/admin_manual/enterprise/installation/install.html#license-keys

## WHY Should This Change Be Made?

[2021-02-19 16:49] pmaier1 commented on #3180
Thanks for creating the ticket. Should be updated, yes. The way via config.php still works as well and I think there's a way to do it via occ.

[2021-02-19 18:07] jnweiger opened #3181 "[QA] config setting filesystem_check_changes is unclear"
https://github.com/owncloud/docs/blob/master/modules/admin_manual/pages/configuration/server/config_sample_php_parameters.adoc#define-how-often-filesystem-changes-are-detected

[code]

It is unclear which of the two arrow items is illustrated by the code sample.
Expected behaviour: settings are shown for both arrow items.

[2021-02-22 12:09] cortho opened #3191 "Inconsistent page availability"
Use case: Search owncloud docs how to set up an LDAP proxy.

## Steps to reproduce
1. Enter https://doc.owncloud.com and type **ldap proxy** or even **ldap proxy cache** to the search box.
-> no useful result found

2. Search google for _owncloud ldap proxy cache_ - first result here is https://doc.owncloud.com/server/10.2/admin_manual/configuration/ldap/ldap_proxy_cache_server_setup.html - note v

[2021-02-26 08:06] voroyam commented on #3168
https://github.com/owncloud/docs/blob/master/bin/cli#L123

[code]

I think it's responsible for the warnings during the PDF build.

What I think it does is - it goes trough the nav.adoc document and counts the stars (*) for every start it then does a leveloffset on every page that is referenced in the documentation. leveloffset shifts the header level. normally headers start with
`=` level 0
`==`

[2021-02-26 12:09] #3168 closed

[2021-02-26 12:11] voroyam opened #3214 "Fix issues during Developer Manual PDF"
[code]

[2021-02-26 12:15] voroyam commented on #3191
Hey Cortho,

the issue here is that We [ I ]  wanted to remove that part of the docs because it was setup one as a proof of concept once during oC 9 and is now not needed because of oC 10 mechanism on how the LDAP users get pulled.

Now - in the current docs releases removing a page is no big issue, but in prior releases there are problems removing stuff. The doc builds fail and you can't do anyth

[2021-02-26 12:53] voroyam commented on #3152
done

![image](https://user-images.githubusercontent.com/24212810/109302733-fb543180-7839-11eb-9976-beebc963c7c3.png)

[2021-02-26 12:53] #3152 closed

[2021-02-26 13:00] voroyam opened #3215 "ecstatic dependency dismissal"
This security alert for the ecstatic dependency was dismissed because it is used for the antora intern web server for testing changes.

https://github.com/owncloud/docs/blob/88284a152a4c280582755a8bdd83936a94e3fa4a/package.json#L32

![image](https://user-images.githubusercontent.com/24212810/109302862-29d20c80-783a-11eb-846f-c1555eba5e73.png)

[2021-02-26 13:01] #3215 closed

[2021-03-02 07:48] voroyam commented on #397
closing due to lack of progress.

4 years is enough time.

[2021-03-02 07:48] #397 closed

[2021-03-02 07:48] #384 closed

[2021-03-02 07:48] #380 closed

[2021-03-02 07:48] #370 closed

[2021-03-02 07:49] #393 closed

[2021-03-02 07:50] #367 closed

[2021-03-02 07:58] #362 closed

[2021-03-02 07:58] #351 closed

[2021-03-02 08:00] #329 closed

[2021-03-02 08:02] voroyam opened #3241 "rename branches 10.0 - 10.5 as archived."
makes working with PRs easier

[2021-03-02 08:13] voroyam commented on #364
not clear where to document this.

[2021-03-02 08:13] #364 closed

[2021-03-02 08:14] #322 closed

[2021-03-02 08:14] #319 closed

[2021-03-02 08:15] #317 closed

[2021-03-02 08:19] #314 closed

[2021-03-02 08:19] #312 closed

[2021-03-02 09:01] voroyam commented on #307
link now points to https://doc.owncloud.org/server/10.6/developer_manual/core/theming.html

fixed.

[2021-03-02 09:05] #311 closed

[2021-03-02 09:05] #307 closed

[2021-03-02 09:07] #297 closed

[2021-03-02 09:40] #345 closed

[2021-03-02 09:47] #277 closed

[2021-03-02 09:47] #269 closed

[2021-03-02 09:47] #268 closed

[2021-03-02 09:50] voroyam commented on #257
seems like everything has been implemented. closing.

[2021-03-02 09:50] #257 closed

[2021-03-02 10:20] #562 closed

[2021-03-02 10:21] voroyam commented on #695
2 years without progress.

[2021-03-02 10:22] #1095 closed

[2021-03-02 10:31] voroyam commented on #1102
daily job active. closing

[2021-03-02 11:19] phil-davis commented on #3241
Note: we still maintain 10.5, so we would archive that after 10.7 is released.

[2021-03-02 11:19] mmattel commented on #1102
@voroyam can you confirm that when there is a merge to a branch (not master but eg 10.6), a nightly job will publish the change? ATM, as far I see, publishing only happens when a merge to master is made.

[2021-03-02 11:24] voroyam commented on #3241
Good Catch :)

[2021-03-02 11:25] voroyam commented on #1102
I talked to @xoxys about the first of his proposals, and he pointed out that it was already implemented, for me this means that the issue is fixed.

If you tell me how I would to confirm this - I will try.

[2021-03-02 11:55] xoxys commented on #1102
@mmattel What do you try to achieve?

1. Publishing changes on the backport branches (10.6, 10.5)
Correct, right now only the PDF is getting uploaded on every backport branch change. Why it was done this way, I don't know. This behavior is congtrolled by the `deployment_branch` setting in the drone starlark config file which is a single string `deployment_branch = master` right now. But this could

[2021-03-02 12:03] xoxys commented on #1102
I was a bit wrong with 1) this is handled in https://github.com/owncloud/docs/blob/10.6/.drone.star and doesn't really make sense IMO... https://github.com/owncloud/docs/blob/10.6/.drone.star#L7-L16 is defining "master" as deployment branch (which will never be true on backport branches) while "upload-pdf" is using another control variable than "upload-html".... https://github.com/owncloud/docs/bl

[2021-03-02 12:05] mmattel commented on #1102
ad 1. It is exactly what you desribe in your comment. Atm, a publish of docs is based if a merge is made on master only. But imagine that there is a merged backport to whatever branch only. This get´s only published when again a PR to master gets merged. This is a very bad situation, because what if this backport is important and there is no upcoming master merge?
We have to get out of that situat

[2021-03-02 14:01] xoxys commented on #1102
As discussed with @mmattel by call: Find a way to publish on all supported version branches, right now: "master", "10.6" and "10.5". I'll review the current setup and prepare a possible fix.

[2021-03-03 15:01] #3109 closed

[2021-03-03 15:54] voroyam opened #3257 "discrepancy between 10.6/master and 10.5 on The files:transfer-ownership command"
## WHAT Needs to be Documented?
we need to decide what to keep and what to remove

## WHERE Does This Need To Be Documented (Link)?
https://doc.owncloud.com/server/10.5/admin_manual/configuration/server/occ_command.html#the-filestransfer-ownership-command

## WHY Should This Change Be Made?
because master and 10.6 have different content on that topic than 10.5

## 10.5

![image](https://user-image

[2021-03-04 04:39] individual-it commented on #447
as this is actually a bug I opened an issue in core https://github.com/owncloud/core/issues/38463

[2021-03-04 04:39] #447 closed

[2021-03-04 09:29] DeepDiver1975 opened #3260 "new config parameter http.cookie.samesite"
https://github.com/owncloud/core/pull/38458

## WHAT Needs to be Documented?

## WHERE Does This Need To Be Documented (Link)?

## WHY Should This Change Be Made?

## (Optional) What Type Of Content Change Is This?
- [ ] New Content Addition
- [ ] Old Content Deprecation
- [ ] Existing Content Simplification
- [ ] Bug Fix to Existing Content

## (Optional) Which Manual Does This Relate To?
- [ ] A

[2021-03-04 09:47] mmattel commented on #3260
For more details on the three values see:
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Set-Cookie/SameSite

[2021-03-04 11:52] mmattel commented on #3260
Beside a `config-to-docs` run, a note must be made in https://doc.owncloud.com/server/admin_manual/configuration/user/oidc/ for setting this key

[2021-03-04 14:26] mschreml opened #3261 "Outdated jQuery Warnings"
## WHAT Needs to be Documented?
Users receiving warnings that jQuery is outdated. We need the Information for users that we are working on this issue and that the jQuery version we ship inside ownCloud and to all of our customers is fully secure.

## WHERE Does This Need To Be Documented (Link)?
https://doc.owncloud.com/server/admin_manual/configuration/server/security/

## WHY Should This Change

[2021-03-05 02:41] phil-davis commented on #3257
@voroyam I edited the title (see "changed the title" GitHub entry above) I think that is what you meant?

[2021-03-05 07:02] #1858 closed

[2021-03-05 10:30] voroyam commented on #3257
Yeah, sorry. I had to fight with git because of a merge conflict and then I noticed the discrepancy that was causing all the merge conflicts on this specific point.

[2021-03-05 10:35] voroyam opened #3265 "WND Configuration article redesign."
## WHAT Needs to be Documented?
we need to have a look at all the warnings, notes, tips, cautions in the document and collect them in a separate section.

## WHERE Does This Need To Be Documented (Link)?
https://github.com/owncloud/docs/blob/master/modules/admin_manual/pages/enterprise/external_storage/windows-network-drive_configuration.adoc

## WHY Should This Change Be Made?
https://github.com/

[2021-03-05 11:28] phil-davis commented on #3257
I guess that there are other older changes that did not get backported to 10.5.

https://github.com/owncloud/docs/pull/2912

https://github.com/owncloud/docs/pull/2912#issuecomment-740678468

That was not backported to 10.5. But I had commented "This command is to be released in 10.6.0 - so no backport needed. (Unless we want to try and manually "backport" the other changes made here that are not

[2021-03-08 08:59] voroyam commented on #3257
Let me try to understand this: the new feature / command was `files:troubleshoot-transfer-ownership` , correct?

But, because someone made a bunch of changes to some other things in the same PR, we now have an inconsistent state. Correct?

If my two assumptions are correct, then the same someone who decided to make the changes should now be responsible of fixing this inconsistent state.

[2021-03-08 12:19] phil-davis commented on #3257
The PR seems to have had both re-formatting/re-organising changes and also real changes for things that changed in 10.6.
The re-formatting/re-organising changes need to be manually sorted out as a "backport" PR to 10.5. That will make it easier to backport other future edits from master/10.6 to 10.5 (if they are relevant to 10.5)

Either:
- the documentation in 10.5 stays as it is, and we simply d

[2021-03-08 12:31] #291 closed

[2021-03-08 14:14] voroyam commented on #3214
despite my fixes, there are still some areas in the pdf of the developer manual where formatting is broken:

![image](https://user-images.githubusercontent.com/24212810/110332611-d83b3600-8020-11eb-91e6-91f67083c68f.png)

needs someone else. I have buried enough time of mine in fixing those warnings.

[2021-03-08 14:14] #3214 closed

[2021-03-08 15:06] voroyam commented on #3257
not a real answer to any of my questions.

With 10.7 10.5 becomes obsolete. Too much work I would say.

[2021-03-08 15:06] #3257 closed

[2021-03-08 16:03] jnweiger opened #3278 "New docs branch needed: 10.7"
The release process for 10.7.0 has started. Entering beta phase now.

When we enter RC phase I'd like to have https://doc.owncloud.com/server/10.7 operational.

[2021-03-08 21:13] phil-davis commented on #3278
Agree, best to leave it until "close to release" to minimize the amount of constant backports that have to be done.

[2021-03-08 23:20] voroyam commented on #156
How can I help documenting this @phil-davis ?

[2021-03-08 23:21] voroyam commented on #2855
@michaelstingl is this still in works? No real progress as far as I can see.

[2021-03-08 23:24] voroyam commented on #2247
Known issue.

Cause: Antora and ascii doc have different syntax. the xrefs of Antora can not be translated directly in to the ascii doc format.

Possible fix: convert all xrefs in to includes.

This has to be tested and implemented if tests are successful.

[2021-03-08 23:32] voroyam commented on #2294
Hello @oliviercailloux ,

so from what I understood you want the documentation to mention:

- Guests can use the ownCloud client to sync.

The place for this information is probably [here](https://doc.owncloud.org/server/user_manual/files/webgui/sharing.html#sharing-files-with-guest-users)

Do you agree?

----

Then you want to have the documentation mention that federated sharing has to be establ

[2021-03-09 01:10] voroyam commented on #2322
https://github.com/owncloud/client/pull/8480

[2021-03-09 01:15] voroyam commented on #2336
I don't think that writing another guide is the way to go.

We already have many guides and no one reads them.

Working on the docs is work. People don't like work. Reading a guide how to work on the guide is work squared.

I think education the people who work on the docs is the way to go. So far the people who work on the docs on a daily basis already know, and new people will ask the senior peo

[2021-03-09 01:15] #2336 closed

[2021-03-09 01:16] voroyam commented on #2402
@jnweiger now the latest release is on top. Better?

[2021-03-09 01:16] voroyam commented on #2402
![image](https://user-images.githubusercontent.com/24212810/110403500-778e1680-807d-11eb-8eb9-3ce05508d262.png)

[2021-03-09 01:18] voroyam commented on #2403
workaround - I wrote a couple of links to click:

![image](https://user-images.githubusercontent.com/24212810/110403611-b02df000-807d-11eb-804a-6c655c2c18f7.png)

[2021-03-09 01:20] voroyam commented on #2424
@pmaier1 please check https://doc.owncloud.com/server/admin_manual/configuration/user/oidc/

I think some of the things you asked for were implemented but no PR was linked back to here.

Is there still something missing?

If yes - please provide the information
If no -please close this issue.

[2021-03-09 01:42] voroyam commented on #2494
@michaelstingl need your input here

or @TheOneRing

[2021-03-09 01:47] voroyam commented on #2513
@phil-davis the document written by me and the support team was written to ensure a customer or a user has a straight forward guide from zero to a complete ownCloud installation. If packages are missing - they are apparently not vital. We got no complaints so far.

@mmattel has written a more detailed guide.

The discrepancy comes from no communications between the authors.

IMHO - as long as my g

[2021-03-09 01:49] voroyam commented on #2522
fixed with

https://github.com/owncloud/docs/issues/3214

https://github.com/owncloud/docs/issues/3168

now we have no warnings or errors at all.